<connectionStrings>

	<add name="CommonEntities"
	     connectionString="metadata=res://*/DataModel.CommonModel.csdl|res://*/DataModel.CommonModel.ssdl|res://*/DataModel.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;initial catalog=HrMaxx;User ID=sa;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	     providerName="System.Data.EntityClient" />
	<add name="HrMaxx" connectionString="Data Source=localhost;initial catalog=HrMaxx;User ID=sa;Password=$Monday1 " />
	<add name="DefaultConnection" connectionString="Data Source=localhost;initial catalog=HrMaxxUserStore;User ID=sa;Password=$Monday1" providerName="System.Data.SqlClient" />

</connectionStrings>