<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		
		<sectionGroup name="jsEngineSwitcher">
			
			<section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie" />
		<section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	<sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		<section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" />
		<section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less" /></sectionGroup></configSections>
	<appSettings>
		<add key="IssuerName" value="http://localhost/HrMaxx.Web" />
		<add key="SigningCertificateName" value="CN=Zion" />
		<add key="EncryptionCertificate" value="" />
		<add key="ShowDiagnosticErrors" value="true" />
		<add key="LogProfilingDiagnosticsToDatabase" value="false" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="EnableMiniProfiler" value="false" />
		<add key="ZUrl" value="http://localhost:9000/VS.VisNED.Website" />
		<add key="SHEQFilePath" value="c:\dev\edpi\docs" />
		<add key="SHEQTmpUploadPath" value="~/App_Data/Tmp/Incoming/" />
		<add key="EricssonExportTemplatePath" value="~/Templates/" />
		<add key="ADLDAPURL" value="lcvicbendc1.lc.local" />
		<add key="UAMUrl" value="https://ss-t.vspl.net/uamwcfuat/UserService.svc/" />
		<add key="HrMaxxAPIUrl" value="http://localhost/HrMaxx.API/" />
		<add key="TokenVersion" value="1.0.0.1" />
		
	</appSettings>
	<system.web>
		<machineKey decryptionKey="88AC19271111A3F9259EB3B9D4ED79F5E11FDFDA4A1CC3F6" validationKey="9765B577DB09FD22B8C9B507ED70EE047BE830B81DD5F0AA5E67A63F437BF010F6B40F8BEE7C42AE6A136981D992215008F7907840997AB3CEFF5AC7F2AD6B59" compatibilityMode="Framework45" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<compilation targetFramework="4.5" debug="true" />
		<httpRuntime targetFramework="4.5.1" maxRequestLength="299097151" />
		<trace writeToDiagnosticsTrace="false" enabled="false" pageOutput="false" />
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" />
		</httpHandlers>
	</system.web>
	<location path="bundles">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="token">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="token1">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="elmah">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="mini-profiler-resources">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Content">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Header">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="fonts">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.22.0" newVersion="1.9.22.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
		<less>
			<jsEngine name="MsieJsEngine" />
		</less>
		<core>
			<css defaultMinifier="MicrosoftAjaxCssMinifier">
				
				
				
				
			<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				<add name="LessTranslator" type="BundleTransformer.Less.Translators.LessTranslator, BundleTransformer.Less" /></translators><postProcessors>
					<add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
				</postProcessors><minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				<add name="MicrosoftAjaxCssMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" /></minifiers><fileExtensions>
					<add fileExtension=".css" assetTypeCode="Css" />
				<add fileExtension=".less" assetTypeCode="Less" /></fileExtensions></css>
			<js defaultMinifier="MicrosoftAjaxJsMinifier">
				
				
				
			<translators>
					<add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
				</translators><minifiers>
					<add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
				<add name="MicrosoftAjaxJsMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" /></minifiers><fileExtensions>
					<add fileExtension=".js" assetTypeCode="JavaScript" />
				</fileExtensions></js>
		</core>
	</bundleTransformer>
	<jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd">
		<core>
			<engines>
				<add name="MsieJsEngine" type="JavaScriptEngineSwitcher.Msie.MsieJsEngine, JavaScriptEngineSwitcher.Msie" />
			</engines>
		</core>
	</jsEngineSwitcher>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
		<handlers>
			<add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			
		<add name="LessAssetHandler" path="*.less" verb="GET" type="BundleTransformer.Less.HttpHandlers.LessAssetHandler, BundleTransformer.Less" resourceType="File" preCondition="" /></handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			<remove name="BundleModule" />
			<add name="BundleModule" type="System.Web.Optimization.BundleModule" />
			<add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
			<add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</modules>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<elmah />
	<connectionStrings configSource="Connections.config" />
	<system.diagnostics>
		<sources>
			<source name="ZGlobalTrace" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="ZTraceFile" />
				</listeners>
			</source>
			<source name="ZPerfTrace" switchName="PerfSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="ZPerfTraceFile" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All" />
			<!--
        Set this to Verbose to have perf data collected. 
        To turn it off, set it to Off
      -->
			<add name="PerfSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="ZTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs\Zion.trace" traceOutputOptions="DateTime" />
			<add name="ZPerfTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs\ZionPerf.trace" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<system.identityModel>
		<identityConfiguration>
			<securityTokenHandlers>
				<add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler,          System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler,         System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</securityTokenHandlers>
		</identityConfiguration>
	</system.identityModel>
	<system.identityModel.services>
		<federationConfiguration>
			<cookieHandler requireSsl="false" path="/" persistentSessionLifetime="30.0:0:0" />
			<wsFederation passiveRedirectEnabled="true" issuer="http://localhost/HrMaxx.Web/" realm="urn:hrmaxxweb" reply="http://localhost/HrMaxx.Web/" requireHttps="false" />
		</federationConfiguration>
	</system.identityModel.services>
</configuration>