
<connectionStrings>

	<add name="CommonEntities"
	     connectionString="metadata=res://*/DataModel.CommonModel.csdl|res://*/DataModel.CommonModel.ssdl|res://*/DataModel.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sql2016;Initial Catalog=PAXOL;User ID=sa;Password=$Monday1;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	     providerName="System.Data.EntityClient" />
	<add name="HrMaxx" connectionString="Data Source=localhost\sql2016;Initial Catalog=PAXOL;Persist Security Info=False;User ID=sa;Password=$Monday1;" />
	<add name="Archive" connectionString="Data Source=localhost\sql2016;Initial Catalog=PaxolArchive;Persist Security Info=False;User ID=sa;Password=$Monday1;" />
	<add name="DefaultConnection" connectionString="Data Source=localhost\sql2016;Initial Catalog=PAXOL;Persist Security Info=False;User ID=sa;Password=$Monday1;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	<add name="UserEntities" connectionString="metadata=res://*/DataModel.UserModel.csdl|res://*/DataModel.UserModel.ssdl|res://*/DataModel.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sql2016;Initial Catalog=PAXOL;User ID=sa;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="OnlinePayrollEntities" connectionString="metadata=res://*/DataModel.OnlinePayrollModel.csdl|res://*/DataModel.OnlinePayrollModel.ssdl|res://*/DataModel.OnlinePayrollModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sql2016;Initial Catalog=PAXOL;User ID=sa;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="USTaxTableEntities" connectionString="metadata=res://*/DataModel.USTaxTablesModel.csdl|res://*/DataModel.USTaxTablesModel.ssdl|res://*/DataModel.USTaxTablesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sql2016;initial catalog=PAXOL;User ID=sa;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

<!--
<connectionStrings>

	<add name="CommonEntities"
	     connectionString="metadata=res://*/DataModel.CommonModel.csdl|res://*/DataModel.CommonModel.ssdl|res://*/DataModel.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;User ID=sherjeel;Password=$Monday1;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	     providerName="System.Data.EntityClient" />
	<add name="HrMaxx" connectionString="Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;Persist Security Info=False;User ID=sherjeel;Password=$Monday1;" />
	<add name="DefaultConnection" connectionString="Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;Persist Security Info=False;User ID=sherjeel;Password=$Monday1;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	<add name="UserEntities" connectionString="metadata=res://*/DataModel.UserModel.csdl|res://*/DataModel.UserModel.ssdl|res://*/DataModel.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;User ID=sherjeel;Password=$Monday1;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="OnlinePayrollEntities" connectionString="metadata=res://*/DataModel.OnlinePayrollModel.csdl|res://*/DataModel.OnlinePayrollModel.ssdl|res://*/DataModel.OnlinePayrollModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;User ID=sherjeel;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="USTaxTableEntities" connectionString="metadata=res://*/DataModel.USTaxTablesModel.csdl|res://*/DataModel.USTaxTablesModel.ssdl|res://*/DataModel.USTaxTablesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;User ID=sherjeel;Password=$Monday1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
-->