@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please click <a href="@Url.Action("Index", "Home")">here</a> to login.
    </p>
</div>
