@{
    ViewBag.Title = "Forgot Password Confirmation";
		Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login-cover">
	<div class="login-cover-image"><img src="~/Content/images/bg-6.jpg" data-id="login-cover-image" alt="" /></div>
	<div class="login-cover-bg"></div>
</div>
<div class="login login-v2" data-pageload-addclass="animated fadeIn" >
	
	<div class="login-header">
		<div class="brand">
			<i class="fa fa-envelope"></i> Please check your email
			<small>Already a member? Click <a href="@Url.Action("Login", "Account")">here</a> to login.</small>
		</div>
		
	</div>
	<!-- end brand -->
	<div class="login-content">
		


	</div>
</div>
