@{
	ViewBag.Title = "Reset password confirmation";
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="login-cover">
	<div class="login-cover-image"><img src="~/Content/images/bg-6.jpg" data-id="login-cover-image" alt="" /></div>
	<div class="login-cover-bg"></div>
</div>
<div class="login login-v2" data-pageload-addclass="animated fadeIn">

	<div class="login-header">
		<div class="brand">
			<i class="fa fa-check"></i> Your password has been reset.
			<small> Click <a href="#modal-dialog" data-toggle="modal">here</a> to login.</small>
		</div>

	</div>
	
</div>
