@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	<li class="dropdown navbar-user">
		


		<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
			<img src="@CurrentUser.Photo" alt="" /> 
			<span class="hidden-xs">@CurrentUser.FullName</span> <b class="caret"></b>
		</a>
			<ul class="dropdown-menu animated fadeInLeft">
				
				<li class="arrow"></li>
				<li><a href="#!/My/News">My News</a></li>
				<li><a href="#!/My/Profile" target="_self">My Profile</a></li>
				<li class="divider"></li>
				<li ng-controller="loginCtrl">
					@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
					{
						@Html.AntiForgeryToken()
					}
					<!--<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>-->
					<a href="" ng-click="logout($event)">Log off</a>
				</li>
			</ul>
		
	</li>
}
else
{
    
	<li class="navbar-user">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Log in</a>
		
	</li>
	
}
