@using System.Web.Optimization
@using System.Security.Policy
@using HrMaxx.Common.Models.Enum
@using HrMaxxWeb.Code.Helpers
@using Microsoft.AspNet.Identity
@using StackExchange.Profiling
@using System.Net.Http
@using HrMaxx.Infrastructure.Enums
@using HrMaxx.Infrastructure.Helpers
@using HrMaxx.Infrastructure.Security

<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<img src="@CurrentUser.Photo" alt=""/>
				</div>
				<div class="info">
					@CurrentUser.FullName
					
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			@if (CurrentUser.IsInRole(RoleTypeEnum.Master.GetDbName()) || CurrentUser.IsInRole(RoleTypeEnum.Admin.GetDbName()))
			{
				<li class="has-sub">
					<a href="javascript:;">
						<b class="caret pull-right"></b>
						<i class="fa fa-key"></i>
						<span>Administration</span>
					</a>
					<ul class="sub-menu">
						<li><a href="#!/Admin/HostList">Manage Host</a></li>
						<li><a href="#!/Admin/NewsList">News & Announcements</a></li>
						<li><a href="#!/Admin/UserList">Users</a></li>
						
					</ul>
				</li>
			}
			@if (CurrentUser.IsInRole(RoleTypeEnum.Host.GetDbName()))
			{
				<li><a href="#!/Admin/Host"><i class="fa fa-home"></i><span>Host Profile</span></a></li>
				
			}
			<li><a href="#" onclick="this.href='#!/Client/Company/' + (new Date().getTime());"><i class="fa fa-empire"></i><span>Company</span></a></li>
			<li><a href="#" onclick="this.href='#!/Client/Employees/' + (new Date().getTime());"><i class="fa fa-users"></i><span>Employee</span></a></li>
			<li><a href="#!/Client/Payrolls"><i class="fa fa-paypal"></i><span>Payroll</span></a></li>
			<!--<li><a href="#!/Client/Invoices"><i class="fa fa-newspaper-o"></i><span>Invoices</span></a></li>-->
			<li><a href="#!/Client/Checkbook"><i class="fa fa-calculator"></i><span>Checkbook</span></a></li>
			<li><a href="#!/Client/Vendors"><i class="fa fa-building-o"></i><span>Vendors</span></a></li>
			<li><a href="#!/Client/Customers"><i class="fa fa-user"></i><span>Customers</span></a></li>
			<li><a href="#!/Client/Accounts"><i class="fa fa-money"></i><span>COA</span></a></li>
			<li class="has-sub">
				<a href="javascript:;">
					<b class="caret pull-right"></b>
					<i class="fa fa-bar-chart"></i>
					<span>Reports</span>
				</a>
				<ul class="sub-menu">
					<li><a href="#!/Reports/PayrollRegister">Payroll Register</a></li>
					<li><a href="#!/Reports/PayrollSummary">Payroll Summary</a></li>
					<li><a href="#!/Reports/Deductions">Deductions</a></li>
					<li><a href="#!/Reports/WorkerCompensations">Worker Compensations</a></li>
					<li><a href="#!/Reports/IncomeStatement">Income Statement</a></li>
					<li><a href="#!/Reports/BalanceSheet">Balance Sheet</a></li>
					<!--<li><a href="#!/Reports/GovtForms">Govt Forms</a></li>
					<li><a href="#!/Reports/DepositCoupons">Deposit Coupons</a></li>
						<li><a href="#!/Reports/GovtForms">Govt Forms</a></li>
						<li><a href="#!/Reports/BlankGovtForms">Blank Govt Forms</a></li>
						<li><a href="#!/Reports/EmployerForms">Employer Forms</a></li>
						<li><a href="#!/Reports/OtherForms">Other Forms</a></li>
						-->
				</ul>
			</li>
			<!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			<!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>