<div id="header" class="header navbar navbar-default navbar-fixed-top hidden-print">
	<!-- begin container-fluid -->
	<div class="container-fluid">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header" id="hostlogo" ng-controller="hostlogo">
			<a href="#!/" class="navbar-brand">
				<img ng-src="{{getDocumentUrl(logo)}}" err-src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="width:200px;height:40px" />
			</a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end mobile sidebar expand / collapse button -->
		<!-- begin header navigation right -->
		<ul class="nav navbar-nav navbar-right">
			@if (Request.IsAuthenticated)
			{
				<li ng-controller="searchResult">
					<form class="navbar-form full-width">
						<div class="form-group">
							
							<input type="text" class="form-control" placeholder="Enter keyword" ng-model="selectedResult" ng-mouseenter="selectedResult=null" typeahead-min-length="3" typeahead-show-hint="true" typeahead-on-select="resultSelected($item, $model, $label, $event)" uib-typeahead="result as (result.sourceType + ': ' + result.searchText) for result in getSearchResults($viewValue)" class="form-control">
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</li>

				<li class="dropdown" id="dvNotifications" ng-controller="notificationCtrl">

					<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
						<i class="fa fa-bell-o"></i>
						<span class="label" ng-show="myNotifications.length">{{unreadNotificationsCount}}</span>
					</a>
					<ul class="dropdown-menu media-list pull-right animated fadeInDown col-sm-12">

						<li class="dropdown-header">
							<div class="input-group">
								Notifications ({{unreadNotificationsCount}})
								<i class="input-group-addon fa fa-eraser" ng-click="clear()">clear all</i>
								
							</div>
							
						</li>
						<li ng-click="refreshNotifications()">
							<div class="dropdown-messages-box">
								<center>  <span class="glyphicon glyphicon-refresh icon-refresh" aria-hidden="true"></span></center>
							</div>
						</li>
						<li ng-repeat="notification in myNotifications" class="media">
							<div class="media-left" ng-if="notification.isRead"><i class="fa media-object bg-blue" ng-class="getEventClass(notification)"></i></div>
							<div class="media-left" ng-if="!notification.isRead"><i class="fa media-object bg-red" ng-class="getEventClass(notification)"></i></div>
							<div class="media-body" ng-click="NotificationRead(notification)">
								<h6 class="media-heading">{{notification.type}}</h6>
								<div class="text-muted f-s-11">
									<small class="pull-right">{{notification.createdOn | date:'MM/dd/yyyy hh:mm:a'}}</small>
									<br />{{notification.text}}.
								</div>
							</div>

						</li>

					</ul>

				</li>
			}
			@Html.Partial("_LoginPartial")
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end container-fluid -->
</div>