<div id="header" class="header navbar navbar-default navbar-fixed-top">
	<!-- begin container-fluid -->
	<div class="container-fluid">
		<!-- begin mobile sidebar expand / collapse button -->
		<div class="navbar-header" id="hostlogo" ng-controller="hostlogo">
			<a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">
				<img ng-src="{{getDocumentUrl(logo)}}" style="width:200px;height:40px" />
			</a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end mobile sidebar expand / collapse button -->
		<!-- begin header navigation right -->
		<ul class="nav navbar-nav navbar-right">
			@if (Request.IsAuthenticated)
			{
				<li>
					<form class="navbar-form full-width">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter keyword" />
							<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</li>
				
				<li class="dropdown" id="dvNotifications" ng-controller="notificationCtrl">

					<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
						<i class="fa fa-bell-o"></i>
						<span class="label" ng-show="myNotifications.length">{{unreadNotificationsCount}}</span>
					</a>
					<ul class="dropdown-menu media-list pull-right animated fadeInDown col-sm-12">

						<li class="dropdown-header">Notifications ({{unreadNotificationsCount}})</li>
						<li ng-click="refreshNotifications()">
							<div class="dropdown-messages-box">
								<center>  <span class="glyphicon glyphicon-refresh icon-refresh" aria-hidden="true"></span></center>
							</div>
						</li>
						<li ng-repeat="notification in myNotifications" class="media">
							<div class="media-left" ng-if="notification.isRead"><i class="fa fa-info-circle media-object bg-blue"></i></div>
							<div class="media-left" ng-if="!notification.isRead"><i class="fa fa-info-circle media-object bg-red"></i></div>
							<div class="media-body" ng-click="NotificationRead(notification)">
								<h6 class="media-heading">{{notification.type}}</h6>
								<div class="text-muted f-s-11">
									<small class="pull-right">{{notification.createdOn}}</small>
									<br />{{notification.text}}.
								</div>
							</div>

						</li>

					</ul>

				</li>
			}
			@Html.Partial("_LoginPartial")
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end container-fluid -->
</div>