@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
		Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div class="error">
	<div class="error-code m-b-10"><i class="fa fa-warning"></i></div>
	<div class="error-content">
		<div class="error-message">@ViewBag.errorMessage</div>
		<div class="error-desc m-b-20">
			An error occurred while processing your request.
		</div>
		<div>
			<a href="@Url.Action("Index", "Home")" class="btn btn-success">Go Back to Home Page</a>
		</div>
	</div>
</div>
