@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="company">
	<company-list heading="'Companies'" host-id="'@CurrentUser.Host.ToString()'" company-id="'@CurrentUser.Company.ToString()'"/>
</div>


