<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">{{selected.name}} Details</h4>
    </div>
    <div class="panel-body">
        <div class="tab-pane fade active in" id="info">
            <form data-parsley-validate="true" name="account">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Type</label>

                                    <select id="type" class="form-control" ng-change="typeSelected()" ng-disabled="selected.id || selectedType" ng-model="data.selectedType" ng-options="t.value for t in data.types track by t.key" required data-parsley-group="account">
                                        <option value="">Please select...</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Sub Type</label>

                                    <select id="subtype" class="form-control"  ng-disabled="selected.id || !selected.type || selectedSubType" ng-change="subTypeSelected()" ng-model="data.selectedSubType" ng-options="t.value for t in data.selectableSubTypes track by t.key" required data-parsley-group="account">
                                        <option value="">Please select...</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>COA Name</label>
                                <input type="text" name="name" placeholder="Name" class="form-control" ng-model="selected.name" required data-parsley-group="account" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Tax Code</label>
                                <span ng-show="selected.taxCode">{{selected.taxCode}}</span>
                                <span ng-show="!selected.taxCode">NA</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Opening Balance</label>

                                    <input type="text" class="form-control" ng-model="selected.openingBalance" data-parsley-group="account" data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Opening Date</label>
                                    <date-ctrl name="effectivedate" required="true" model="selected.openingDate" max="dt" disabled="false" />

                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isBank()">
                            <div class="form-group">
                                <label></label>
                                <div>
                                    <label for="useinpayroll" class="switch">
                                        Use In Payroll?
                                        <input id="useinpayroll" type="checkbox" ng-model="selected.useInPayroll" /><i></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isBank()">
                            <div class="form-group">
                                <label></label>
                                <div>
                                    <label for="useininvoicedeposit" class="switch">
                                        Use In Invoice Deposit?
                                        <input id="useininvoicedeposit" type="checkbox" ng-model="selected.usedInInvoiceDeposit" /><i></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6" ng-if="isBank()">
                        <div class="form-group">
                            <label>Bank Name</label>
                            <input type="text" required ng-model="selected.bankAccount.bankName" data-parsley-group="account" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Account type</label>
                            <div>
                                <select ng-model="selected.bankAccount.accountType" required data-parsley-group="account" name="accountType" class="form-control" convert-to-number>
                                    <option value="1">Checking</option>
                                    <option value="2">Savings</option>

                                </select>

                            </div>

                        </div>
                        <div class="form-group">
                            <label>Routing Number</label>
                            <div>
                                <input type="text" class="form-control" required data-parsley-group="account" data-parsley-pattern="/^[0-9]{9}$/" data-parsley-trigger="blur" name="routingnumber" ui-mask="999999999" ng-model="selected.bankAccount.routingNumber" ng-class="{'has-error':!validateRoutingNumber(selected.bankAccount.routingNumber)}" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Account Number</label>
                            <div>
                                <input type="text" class="form-control" placeholder="Account Number between 7-17 numbers" required data-parsley-group="account" name="accountnumber" ng-model="selected.bankAccount.accountNumber" data-parsley-pattern="/^\d{7,17}$/" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label>FractionId</label>
                            <div>
                                <input type="text" class="form-control" placeholder="FractionId" data-parsley-group="fractionid" name="fractionid" ng-model="selected.bankAccount.fractionId" />

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2 col-sm-offset-4">
                    <a class="btn btn-success " ng-click="saveAccount()" title="Save"><i class="fa fa-check"></i> save</a>
                    <a class="btn btn-white " ng-click="cancel()" title="cancel"><i class="fa fa-undo"></i> cancel</a>

                </div>
            </form>
        </div>

    </div>

</div>