<div class="table-responsive col-sm-12">
    <div class="row">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
<div class="row">
    <div class="col-sm-3 m-t-5" ng-repeat="item in list track by $index" ng-form>
        <form name="dedform{{$index}}" data-parsley-validate="true">
            <div class="clearfix" ng-if="$index % 4 === 0"></div>
            <div class="widget widget-stats m-b-0" ng-class="getWidgetClass(item)">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-caret-left fa-fw"></i></div>
                <div class="stats-title" ng-if="item.id>0 && selected.id!==item.id">{{item.name}}</div>

                <div class="stats-title" ng-if="item.id>0">{{item.payType.description}}</div>
                <div class="stats-title" ng-if="item.id===0">
                    <div class="form-group">
                        <select class="form-control" id="pt" ng-model="item.payType" ng-options="paytype.description for paytype in metaData track by paytype.id" required>
                            <option value="">Please select Pay Type...</option>
                        </select>

                    </div>
                </div>
                <div class="stats-title" ng-if="item.id===0 || selected.id===item.id">
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" placeholder="Leave Name" ng-model="selected.name" required />
                    </div>
                </div>
                <div class="stats-info" ng-if="item.id>0">{{item.option? leaveOptions[1].text : leaveOptions[0].text}}</div>
                <div class="stats-info" ng-if="item.id===0">
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-control" id="opt" ng-model="item.option" ng-options="option.id as option.text for option in leaveOptions track by option.id" required>
                                <option value="">Please select Option...</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="stats-title">Rate: {{item.ratePerHour | currency:''}}, Annual Limit: {{item.annualLimit | currency:''}}, Global Limit: {{item.globalLimit | currency:''}}</div>
                <div class="stats-title">Company Managed: <i class="fa fa-lg" ng-class="{'fa-check-circle': item.companyManaged, 'fa-times-circle': !item.companyManaged}" />, Lump Sum: <i class="fa fa-lg" ng-class="{'fa-check-circle': item.isLumpSum, 'fa-times-circle': !item.isLumpSum}" />, Employee Specific: <i class="fa fa-lg" ng-class="{'fa-check-circle': item.isEmployeeSpecific, 'fa-times-circle': !item.isEmployeeSpecific}" /></div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 100%;"></div>
                </div>
                <div class="stats-desc" ng-show="showControls">
                    <i class="fa fa-pencil fa-lg pull-right" ng-show="!selected" ng-click="setSelected($index)"></i>
                    <i class="fa fa-undo fa-lg pull-right" ng-show="selected && selected.id===item.id" ng-click="cancel()"></i>
                    <i class="fa fa-check fa-lg pull-right" ng-show="selected && selected.id===item.id && hasItemChanged()" ng-click="isItemValid(selected) && save(selected)"></i>


                </div>
            </div>
            <div class="widget widget-stats m-t-0" ng-class="getWidgetSubClass(selected)" ng-show="selected && selected.id===item.id">
                <div class="stats-desc">
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6" for="rate">Rate :</label>
                        <div class="col-md-5 col-sm-5">
                            <input class="form-control" type="number" id="rate" name="rate" ng-model="selected.ratePerHour" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" min="0" required />

                        </div>
                        <label class="control-label" for="rate">{{ selected.option!==null ? (selected.option===0 ? '/hr' : '/day'):'' }}</label>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6" for="al">Annual Limit :</label>
                        <div class="col-md-5 col-sm-5">
                            <input class="form-control" type="number" id="al" name="al" ng-model="selected.annualLimit" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />

                        </div>
                        <label class="control-label"  for="al">{{ selected.option!==null ? (selected.option===0 ? 'hrs' : 'days'):'' }}</label>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6" for="gl">Global Limit :</label>
                        <div class="col-md-5 col-sm-5">
                            <input class="form-control" type="number" id="gl" name="gl" ng-model="selected.globalLimit" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />

                        </div>
                        <label class="control-label"  for="gl">{{ selected.option!==null ? (selected.option===0 ? 'hrs' : 'days'):'' }}</label>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6">Company Managed?</label>
                        <div class="col-md-6 col-sm-6">
                            <label class="switch">
                                <input type="checkbox" ng-model="item.companyManaged"/><i></i>
                            </label>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6">Lump Sum? :</label>
                        <div class="col-md-6 col-sm-6">
                            <label class="switch">
                                <input type="checkbox" ng-model="item.isLumpSum" /><i></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-6 col-sm-6">Employee Sp.?</label>
                        <div class="col-md-6 col-sm-6">
                            <label class="switch">
                                <input type="checkbox" ng-model="item.isEmployeeSpecific" /><i></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="!selected && showControls">

    <button type="button" ng-click="add()" title="Add Pay Type Accumulation" class="btn btn-lg btn-icon btn-circle btn-primary">
        <i class="fa fa-plus"></i>
    </button>
    <button class="btn btn-xs btn-success pull-right" ng-click="recalculateEmployeePayTypeAccumulations(1)" ng-show="data.showSickLeaveRecalculate && mainData.userRole!=='Employee'">Re-Calculate Accumulations</button>
</div>

    <div class="row" ng-if="selected.accumulationGroups.length===0">
        no records found
    </div>
    
</div>
