<div class="table-responsive col-sm-10 col-sm-offset-1">
	<div class="row">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<table class="table table-header table-bordered table-condensed form-controls input-sm">
		<thead>
			<tr>
				<td class="col-sm-2">Pay Type</td>
				<td class="col-sm-2">Rate Per Hour (upto 4 decimal)</td>
				<td class="col-sm-2">Annual Limit (Hrs per Employee)</td>
				<td class="col-sm-2">Is Company Managed?</td>
				<td class="col-sm-2">Is LumpSum?</td>
				<td class="col-sm-2" ng-show="showControls"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list track by $index">
				<td>
					<span e-ng-change="item.payType = $data;" editable-select="item.payType" e-name="type" e-form="rowform" e-ng-options="paytype.description for paytype in metaData track by paytype.id">
						{{ item.payType? item.payType.description : '' }}
					</span>
				</td>
				<td>
					<span e-ng-change="item.ratePerHour = $data" editable-number="item.ratePerHour" e-name="rate" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.ratePerHour }}
					</span>
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<span editable-number="item.annualLimit" e-name="limit" e-form="rowform" e-ng-change="item.annualLimit = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.annualLimit }}
					</span>
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<div>
						<label for="compmanaged" class="switch">
							<input id="compmanaged" type="checkbox" ng-model="item.companyManaged" ng-disabled="mainData.userRole!=='SuperUser' && mainData.userRole!=='Master'" /><i></i>
						</label>
					</div>
					
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<div>
						<label for="lumpsum" class="switch">
							<input id="lumpsum" type="checkbox" ng-model="item.isLumpSum" ng-disabled="mainData.userRole!=='SuperUser' && mainData.userRole!=='Master'" /><i></i>
						</label>
					</div>

				</td>
				<td style="white-space: nowrap" ng-show="showControls">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected===item">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-edit m-r-5"></i> edit
						</button>
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-success">
							<i class="fa fa-save m-r-5"></i> save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-default">
							<i class="fa fa-remove m-r-5"></i> cancel
						</button>
					</form>
				</td>
				
			</tr>
			<tr ng-show="!selected" ng-show="showControls">
				<td colspan="4">
					<span ng-show="list.length===0">No items found</span>
				</td>

				<td>
					<button type="button" ng-click="add()" ng-show="availablePayTypes().length>0" class="btn btn-primary">
						Add
					</button>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
