<div class="row" ng-show="mainData.selectedHost">
	<!-- begin panel -->
	<div class="panel panel-inverse" data-sortable-id="form-stuff-4" ng-if="!companyId && !mainData.userCompany">
		<div class="panel-heading hidden-print" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">{{heading}}  
				<em><u>(Last refreshed on {{mainData.refreshedOn | date:'MM/dd/yyyy hh:mm:ss:a'}} <button class="btn btn-xs btn-success" ng-click="refreshData($event)"><i class="fa fa-refresh"></i></button>)</u></em>
			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div class="col-sm-12 visible-print"><h6><u>Company List</u></h6></div>
			<div class="row hidden-print">
				<div class="col-sm-4" ng-dropdown-multiselect="" options="cols" extra-settings="{displayProp: 'title', idProp: 'field', showCheckAll: true, showUncheckAll: true ,scrollable: true}" selected-model="selectedHeaders">

				</div>
				<button class="btn btn-success btn-sm" ng-click="refreshTable()" ng-disabled="selectedHeaders.length===0">update view</button>
				<button class="btn btn-success btn-sm" ng-click="print()" ng-disabled="selectedHeaders.length===0"><i class="fa fa-print"></i>print</button>
			</div>
			<div ng-show="list.length===0 && !selectedContact" class="table table-bordered">
				No Companies found
			</div>
			<div class="row" ng-show="list.length>0">
				<table ng-table-dynamic="tableParams with cols"
							 class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="row in $data" class="mouse-over-pointer" ng-click="setCompany(row)" ng-class="{'success':selectedCompany.id===row.id}">
						<td ng-repeat="col in $columns" class="text-center" ng-class="{'hidden-print':col.field==='controls'}">
							{{ col.field!=='controls' ? col.isdate? (row[col.field] | date:'MM/dd/yyyy') : col.ismoney ? (row[col.field] | currency:'$') : row[col.field] : ''}}
							<button type="button" class="btn btn-sm btn-info" ng-click="copycompany($event, row)" ng-show="col.field==='controls'"><i class="fa fa-copy"></i></button>
						</td>
						
					</tr>
				</table>
				
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak hidden-print">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
								<button type="button" ng-class="{'active':params.count() == params.total()}" ng-click="params.count(params.total())" class="btn btn-default btn-sm">All</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
			<div class="row hidden-print">
				<button class="btn btn-sm btn-primary" ng-show="mainData.selectedHost && !selectedCompany" ng-click="addCompany()">Add</button>
			</div>

			<!-- end panel -->
		</div>
	</div>

	<div class="row hidden-print" ng-if="selectedCompany">
		<company company="selectedCompany" main-data="mainData" is-popup="false" show-controls="true" />	
	</div>
	
	<script type="text/ng-template" id="popover/copycompany.html">

		<div class="modal-header">
			<h2 class="modal-title">Copy Company {{company.name}}<i class="fa fa-plus-circle fa-lg"></i></h2>
		</div>
		<div class="modal-body">
			
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Host</label>
						<select id="host" class="form-control" ng-model="selectedHost" ng-options="host1.firmName for host1 in mainData.hosts | filter:{ id:'!' + company.hostId} track by host1.id">
							<option value="">Select new Host</option>
						</select>
					</div>
					
					
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label></label>
						<div>
							<label for="copyemployees" class="switch">
								Copy Employees?
								<input id="copyemployees" type="checkbox" ng-model="copyemployees" /><i></i>
							</label>
						</div>
					</div>
					<div class="form-group"></div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group" ng-show="copyemployees">
						<label></label>
						<div>
							<label for="copypayroll" class="switch">
								Copy Payrolls?
								<input id="copypayroll" type="checkbox" ng-model="copypayrolls" /><i></i>
							</label>
						</div>
					</div>
					<div class="form-group" ng-show="copyemployees && copypayrolls">
						<div class="col-sm-6">
							<label>Payrolls From</label>
							<date-ctrl name="startdate" model="startDate" disabled="false" />
						</div>
						<div class="col-sm-6">
							<label>Payrolls To</label>
							<date-ctrl name="startdate" model="startDate" disabled="false" />
						</div>

					</div>
					
				</div>

			</div>

			
		</div>
		<div class="modal-footer">
			<div class="col-sm-12" >
				<div class="alert alert-danger" ng-if="error">
					{{error}}
				</div>
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="save()" ng-disabled="!isValid()"><i class="fa fa-save m-r-5"></i> Save</button>
			</div>

		</div>

	</script>

</div>


