<div class="row" ng-show="mainData.selectedHost">
	<!-- begin panel -->
	<div class="panel panel-inverse" data-sortable-id="form-stuff-4" ng-if="!companyId && !mainData.userCompany">
		<div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">{{heading}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div ng-show="list.length===0 && !selectedContact" class="table table-bordered">
				No Companies found
			</div>
			<div class="row" ng-show="list.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="setCompany(item)" ng-class="{'success':selectedCompany.id===item.id}">
						<td data-title="' No'" class="col-sm-1">
							{{$index+1}}
						</td>
						<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-3">
							{{item.name}}
						</td>
						<td data-title=" 'Last Payroll' " sortable=" 'lastPayrollDate' " class="col-sm-1">
							{{item.lastPayrollDate | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" 'Status' " class="col-sm-1">
							{{item.getTextForStatus}}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-primary" ng-click="setCompany(item)">View</button>
						</td>
					</tr>

				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
			<div class="row">
				<button class="btn btn-sm btn-primary" ng-show="mainData.selectedHost && !selectedCompany" ng-click="addCompany()">Add</button>
			</div>

			<!-- end panel -->
		</div>
	</div>


	<div class="panel-group" id="accordion" ng-if="selectedCompany">
		<div class="panel panel-inverse overflow-hidden">
			<div class="panel-heading">
				<i class="fa fa-plus-circle pull-right"></i>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a data-target="#info" data-toggle="tab"><i class="fa fa-info"></i> <span class="hidden-xs">Info</span></a></li>
					<li ng-show="selectedCompany.id"><a data-target="#user" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">Users</span></a></li>
					<li ng-show="selectedCompany.id"><a data-target="#news" data-toggle="tab"><i class="fa fa-newspaper-o"></i> <span class="hidden-xs">News</span></a></li>
					<li ng-show="selectedCompany.id"><a data-target="#documents" data-toggle="tab"><i class="fa fa-newspaper-o"></i> <span class="hidden-xs">Documents</span></a></li>
					<li ng-show="selectedCompany.id"><a data-target="#contacts" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">Contacts</span></a></li>

				</ul>
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">

						{{selectedCompany.name}} Details
					</a>
				</h3>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="panel-body tab-content">
						<div class="tab-pane fade active in" id="info">
							<form data-parsley-validate="true" name="form-wizard">
								<div class="alert alert-info" ng-show="selectedCompany.isHostCompany">
									This company is the Host's own.
								</div>
								<div id="wizard">
									<ol>
										<li>
											Information
											<small>Name, Address etc</small>
										</li>
										<li>
											Payroll
											<small>Payroll processing details</small>
										</li>
										<li>
											Taxation
											<small>Taxation Address and Federal and State details</small>
										</li>
										<li ng-show="mainData.userRole==='Master' || mainData.userRole==='CorpStaff' || mainData.userRole==='Host' || mainData.userRole==='HostStaff'">
											Contract
											<small>Details for billing and invoice</small>
										</li>
									</ol>
									<!-- begin wizard step-1 -->
									<div class="wizard-step-1">
										<fieldset>
											<legend class="pull-left width-full">Information</legend>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-4 -->
												<div class="col-sm-4">
													<div class="form-group block1">
														<label>Company Name</label>
														<input type="text" name="name" placeholder="Company Name" class="form-control" data-parsley-group="wizard-step-1" ng-model="selectedCompany.name" ng-change="namechanged()" required />
													</div>
													<div class="form-group">
														<label>Status</label>
														<select ng-model="selectedCompany.statusId" name="status" class="form-control" convert-to-number>
															<option value="1">Active</option>
															<option value="2">InActive</option>
															<option value="3">Terminated</option>
														</select>
													</div>
												</div>
												<!-- end col-4 -->
												<!-- begin col-4 -->
												<div class="col-sm-2">
													<div class="form-group" ng-show="!selectedCompany.isHostCompany">
														<label></label>
														<div>
															<label for="visibleToHost" class="switch">
																Visible to Host?
																<input id="visibleToHost" type="checkbox" ng-model="selectedCompany.isVisibleToHost" /><i></i>
															</label>
														</div>
													</div>

													<div class="form-group" ng-show="!selectedCompany.isHostCompany">
														<label></label>
														<div>
															<label for="fileUnderHost" class="switch">
																File Under Host?
																<input id="fileUnderHost" type="checkbox" ng-model="selectedCompany.fileUnderHost" /><i></i>
															</label>
														</div>

													</div>

												</div>
												<!-- end col-4 -->
												<!-- begin col-4 -->
												<div class="col-sm-6">
													<div class="form-group">
														<address type="0" data="selectedCompany.companyAddress" source-type-id="2" source-id="selectedCompany.companyId" val-group="'wizard-step-1'"></address>
													</div>
												</div>
												<!-- end col-4 -->
											</div>

										</fieldset>
									</div>
									<!-- end wizard step-1 -->
									<!-- begin wizard step-2 -->
									<div class="wizard-step-2">
										<fieldset>
											<legend class="pull-left width-full">Payroll</legend>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-6 -->
												<div class="col-sm-4">
													<div class="form-group">
														<label>Payroll Days in Past</label>
														<input type="text" name="payrolldaysinpast" class="form-control" data-parsley-group="wizard-step-2" data-parsley-type="number" ng-model="selectedCompany.payrollDaysInPast" />
													</div>
													<div class="form-group">
														<label>Payroll Schedule</label>
														<select ng-model="selectedCompany.payrollSchedule" name="scheuled" class="form-control" data-parsley-group="wizard-step-2" required convert-to-number>
															<option value="1">Weekly</option>
															<option value="2">Bi-Weekly</option>
															<option value="3">Semi-Monthly</option>
															<option value="4">Monthly</option>

														</select>
													</div>
													<div class="form-group">
														<label>Minimum Wage</label>
														<input type="text" name="minwage" class="form-control" data-parsley-group="wizard-step-2" data-parsley-type="number" ng-model="selectedCompany.minWage" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Insurance Group No</label>
														<select ng-model="selectedCompany.insuranceGroupNo" name="insurance" class="form-control" convert-to-number>
															<option value="0">All</option>
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>

														</select>
													</div>
													<div class="form-group">
														<label>PayCheck Stock</label>
														<select ng-model="selectedCompany.payCheckStock" name="stock" class="form-control" data-parsley-group="wizard-step-2" required convert-to-number>
															<option value="1">MICR Encoded Top</option>
															<option value="2">Laser Middle</option>
															<option value="3">Laser Top</option>
															<option value="4">MICR QB</option>

														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label></label>
														<div>
															<label for="directdebitpayer" class="switch">
																Pay by Direct Debit
																<input id="directdebitpayer" type="checkbox" ng-model="selectedCompany.directDebitPayer" /><i></i>
															</label>
														</div>
													</div>
												</div>

											</div>

											<!-- end row -->
										</fieldset>
									</div>
									<!-- end wizard step-2 -->
									<!-- begin wizard step-3 -->
									<div class="wizard-step-3">
										<fieldset>
											<legend class="pull-left width-full">Address</legend>
											<!-- begin row -->
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label></label>
														<div>
															<label for="samebusinessaddress" class="switch">
																Same as Company Address?
																<input id="samebusinessaddress" type="checkbox" ng-model="selectedCompany.isAddressSame" ng-change="LinkCompanyAndBusinessAddress()" /><i></i>
															</label>
														</div>
													</div>
													<div class="form-group">
														<label>Tax Filing Name</label>
														<div>
															<input type="text" name="taxfilingname" placeholder="Tax Filing Name" ng-disabled="selectedCompany.isAddressSame" class="form-control" data-parsley-group="wizard-step-3" ng-model="selectedCompany.taxFilingName" required />
														</div>
													</div>
													<div class="form-group">
														<address type="0" data="selectedCompany.businessAddress" source-type-id="2" source-id="selectedCompany.companyId" show-disabled="selectedCompany.isAddressSame" val-group="'wizard-step-3'"></address>

													</div>
												</div>

											</div>
											<!-- end row -->
										</fieldset>

										<fieldset>
											<legend class="pull-left width-full">Tax Setup</legend>
											<!-- begin row -->
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label></label>
														<div>
															<label for="taxpayments" class="switch">
																Allow Host to manage Tax Payments
																<input id="taxpayments" type="checkbox" ng-model="selectedCompany.allowTaxPayments" /><i></i>
															</label>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label></label>
														<div>
															<label for="efileforms" class="switch">
																Allow Host to manage E-File forms
																<input id="efileforms" type="checkbox" ng-model="selectedCompany.allowEFileFormFiling" /><i></i>
															</label>
														</div>
													</div>
												</div>

											</div>
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<label>Federal EIN</label>
														<div>
															<input type="text" ng-model="selectedCompany.federalEIN" class="form-control" required data-parsley-group="wizard-step-3" ui-mask="99-9999999" />
														</div>
													</div>

												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label>Federal Tax PIN</label>
														<div>
															<input type="text" ng-model="selectedCompany.federalPin" class="form-control" required data-parsley-group="wizard-step-3" ui-mask="9999" />
														</div>
													</div>

												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label>941 Deposit Schedule</label>
														<select ng-model="selectedCompany.depositSchedule" name="deposit" class="form-control" convert-to-number>
															<option value="1">Semi-Weekly</option>
															<option value="2">Monthly</option>
															<option value="3">Quarterly</option>

														</select>
													</div>

												</div>
												<div class="col-sm-3">
													<div class="form-group">
														<label></label>
														<div>
															<label for="filer944" class="switch">
																944 Filer
																<input id="filer944" type="checkbox" ng-model="selectedCompany.isFiler944" /><i></i>
															</label>
														</div>
													</div>
												</div>
											</div>

										</fieldset>
										<fieldset>
											<legend class="pull-left width-full">States <i class="fa fa-plus-circle" ng-show="availableStates().length>0" ng-click="addState()"></i></legend>
											<!-- begin row -->
											<div ng-show="availableStates().length>0 && selectedCompany.states.length===0" class="row show-red">Please select atleast one state</div>
											<div class="row" ng-repeat="state in selectedCompany.states">
												<div class="col-sm-3">
													<div class="form-group">
														<label>State</label>
														<div>
															<select id="state" class="form-control" ng-model="state.state" ng-disabled="!state.isNew" ng-options="st.stateName for st in data.companyMetaData.countries[0].states track by st.stateId" required data-parsley-group="wizard-step-3" ng-class="{'parsley-error': !state.state.stateId}"></select>
														</div>
													</div>
												</div>
												<div class="col-sm-2">
													<div class="form-group">
														<label>State EIN</label>
														<div>
															<input type="text" ng-model="state.stateEIN" class="form-control" required data-parsley-group="wizard-step-3" ui-mask="999-9999-9" />
														</div>
													</div>

												</div>
												<div class="col-sm-2">
													<div class="form-group">
														<label>State Tax PIN</label>
														<div>
															<input type="text" ng-model="state.statePin" class="form-control" required data-parsley-group="wizard-step-3" ui-mask="9999" />

														</div>
													</div>

												</div>
												<div class="col-sm-2" ng-if="state.isNew">
													<div class="form-group">
														<label>&nbsp;</label>
														<div>
															<i class="fa fa-trash-o fa-lg" ng-click="removeState(state)"></i>
														</div>
													</div>

												</div>
											</div>
											<!-- end row -->
										</fieldset>
									</div>
									<!-- end wizard step-3 -->
									<div class="wizard-step-4" ng-show="mainData.userRole==='Master' || mainData.userRole==='CorpStaff' || mainData.userRole==='Host' || mainData.userRole==='HostStaff'">
										<fieldset>
											<legend class="pull-left width-full">Contract <span class="show-red" ng-show="selectedCompany.contract.invoiceSetup.notSaved">Invoice configurations are not saved</span></legend>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-4 -->
												<div class="col-sm-4">
													<div class="form-group block1">
														<label>Type</label>
														<select ng-model="selectedCompany.contract.contractOption" ng-change="selectedCompany.contract.contractOption===1?selectedCompany.contract.prePaidSubscriptionOption=1:selectedCompany.contract.prePaidSubscriptionOption=null" name="contracttype" class="form-control" convert-to-number>
															<option value="2">PostPaid</option>
															<option value="1">PrePaid</option>
														</select>
													</div>
													<div class="form-group" ng-if="selectedCompany.contract.contractOption===1">
														<label>Subscription Type</label>
														<select ng-model="selectedCompany.contract.prePaidSubscriptionOption" ng-change="selectedCompany.contract.prePaidSubscriptionOption===1?selectedCompany.contract.billingOption=0:selectedCompany.contract.billingOption=1" name="subscriptiontype" class="form-control" convert-to-number>
															<option value="1">Free</option>
															<option value="2">Basic</option>
															<option value="3">Premium</option>
															<option value="4">Gold</option>
														</select>
													</div>
													<div class="form-group">
														<label>Billing Type</label>
														<select ng-model="selectedCompany.contract.billingOption" ng-change="billingOptionChanged()" name="billingoption" class="form-control" convert-to-number ng-disabled="selectedCompany.contract.prePaidSubscriptionOption===1">
															<option value="0">NA</option>
															<option value="1">Credit Card</option>
															<option value="2">Direct Debit</option>
															<option value="3" ng-show="selectedCompany.contract.contractOption===2">Invoice</option>
														</select>
													</div>

												</div>
												<div class="col-sm-4" ng-if="selectedCompany.contract.billingOption===1">

													<div class="form-group">
														<label>Credit Card Type</label>
														<select ng-model="selectedCompany.contract.creditCardDetails.cardType" name="cardtype" required data-parsley-group="wizard-step-4" class="form-control" convert-to-number ng-change="cardTypeChanged()">
															<option value="1">Visa</option>
															<option value="2">Master Card</option>
															<option value="3">American Express</option>
														</select>
													</div>
													<div class="form-group">
														<label>Card Number</label>
														<div>
															<input type="text" class="form-control" required data-parsley-group="wizard-step-4" name="cardnumber" ng-model="selectedCompany.contract.creditCardDetails.cardNumber" ui-mask="9999-9999-9999-9999" ng-if="selectedCompany.contract.creditCardDetails.cardType<3" />
															<input type="text" class="form-control" required data-parsley-group="wizard-step-4" name="cardnumber" ng-model="selectedCompany.contract.creditCardDetails.cardNumber" ui-mask="9999-9999-9999-999" ng-if="selectedCompany.contract.creditCardDetails.cardType===3" />
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label>Expiry Month</label>
														<div>
															<select ng-model="selectedCompany.contract.creditCardDetails.expiryMonth" name="expirymonth" class="form-control">
																<option value="01">January</option>
																<option value="02">February</option>
																<option value="03">March</option>
																<option value="04">April</option>
																<option value="05">May</option>
																<option value="06">June</option>
																<option value="07">July</option>
																<option value="08">August</option>
																<option value="09">September</option>
																<option value="10">October</option>
																<option value="11">November</option>
																<option value="12">December</option>

															</select>

														</div>

													</div>
													<div class="form-group col-sm-4">
														<label>Expiry Year</label>
														<div>
															<input type="text" class="form-control" required name="expiryyear" data-parsley-group="wizard-step-4" ng-disabled="!selectedCompany.contract.creditCardDetails.expiryMonth" ng-model="selectedCompany.contract.creditCardDetails.expiryYear" ui-mask="9999" ng-change="validateCCYear()" ng-class="{'has-error':!validateCCYear()}" />

														</div>

													</div>
													<div class="form-group col-sm-4">
														<label>Security Code</label>
														<div>
															<input type="password" required data-parsley-group="wizard-step-4" ng-model="selectedCompany.contract.creditCardDetails.securityCode" ui-mask="999" class="form-control" />
														</div>
													</div>
													<div class="form-group">
														<label>Card Holder Name</label>
														<div>
															<input type="text" class="form-control" data-parsley-group="wizard-step-4" required name="cardname" ng-model="selectedCompany.contract.creditCardDetails.cardName" />

														</div>

													</div>
													<div class="form-group">
														<address type="0" data="selectedCompany.contract.creditCardDetails.billingAddress" source-type-id="2" source-id="selectedCompany.companyId" val-group="'wizard-step-4'"></address>
													</div>
												</div>

												<div class="col-sm-4" ng-if="selectedCompany.contract.billingOption===2">

													<div class="form-group">
														<label>Bank Name</label>
														<input type="text" required ng-model="selectedCompany.contract.bankDetails.bankName" data-parsley-group="wizard-step-4" class="form-control" />
													</div>
													<div class="form-group">
														<label>Account type</label>
														<div>
															<select ng-model="selectedCompany.contract.bankDetails.accountType" required data-parsley-group="wizard-step-4" name="accountType" class="form-control" convert-to-number>
																<option value="1">Checking</option>
																<option value="2">Savings</option>

															</select>

														</div>

													</div>
													<div class="form-group">
														<label>Routing Number</label>
														<div>
															<input type="text" class="form-control" required data-parsley-group="wizard-step-4" data-parsley-pattern="/^[0-9]{9}$/" data-parsley-trigger="blur" name="routingnumber" ui-mask="999999999" ng-model="selectedCompany.contract.bankDetails.routingNumber" ng-class="{'has-error':!validateRoutingNumber(selectedCompany.contract.bankDetails.routingNumber)}" />

														</div>
													</div>
													<div class="form-group">
														<label>Account Number</label>
														<div>
															<input type="text" class="form-control" placeholder="Account Number between 8-15 numbers" required data-parsley-group="wizard-step-4" name="accountnumber" ng-model="selectedCompany.contract.bankDetails.accountNumber" data-parsley-pattern="/^\d{8,15}$/" />

														</div>
													</div>

												</div>
												<div class="col-sm-4" ng-if="selectedCompany.contract.billingOption===3">
													<div class="form-group">
														<label>Invoice Type</label>
														<select ng-model="selectedCompany.contract.invoiceSetup.invoiceType" name="invtype" class="form-control" convert-to-number>
															<option value="1">PEO ASO Co Check</option>
															<option value="2">PEO ASO Client Check</option>
															<option value="3">Conv Payroll</option>
															<option value="4">Conv Payroll with WC</option>
															<option value="5">WC Only</option>
														</select>
													</div>

													<div class="form-group">
														<label>Admin Fee Type</label>
														<select ng-model="selectedCompany.contract.invoiceSetup.adminFeeMethod" name="adminfeemethod" class="form-control" convert-to-number>
															<option value="1">Amount (per payroll)</option>
															<option value="2">Percentage</option>
														</select>
													</div>

													<div class="form-group">
														<label>SUI Management</label>
														<input class="form-control" name="suimanagement" ng-model="selectedCompany.contract.invoiceSetup.suiManagement" data-parsley-type="number" data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-min="0" data-parsley-trigger="blur" step="0.01" />
													</div>

													<div class="form-group">
														<label></label>
														<div>
															<label for="envfee" class="switch">
																Apply Environmental Fee ?
																<input id="envfee" type="checkbox" ng-model="selectedCompany.contract.invoiceSetup.applyEnvironmentalFee" /><i></i>
															</label>
														</div>
													</div>

												</div>
												<div class="col-sm-4" ng-if="selectedCompany.contract.billingOption===3">
													<div class="form-group">
														<label>Invoice Style</label>
														<select ng-model="selectedCompany.contract.invoiceSetup.invoiceStyle" name="invstyle" class="form-control" convert-to-number>
															<option value="1">PEO ASO Co</option>
															<option value="2">Detailed</option>
														</select>
													</div>
													<div class="form-group">
														<label>Admin Fee</label>
														<input class="form-control" name="adminfee" ng-model="selectedCompany.contract.invoiceSetup.adminFee" required data-parsley-group="wizard-step-4" data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-min="0" data-parsley-trigger="blur" step="0.01">
													</div>
													<div class="form-group">
														<label></label>
														<div>
															<label for="statlimits" class="switch">
																Apply Statuary Limits ?
																<input id="statlimits" type="checkbox" ng-model="selectedCompany.contract.invoiceSetup.applyStatuaryLimits" /><i></i>
															</label>
														</div>
													</div>
													<div class="form-group">
														<label></label>
														<div>
															<label for="wccharge" class="switch">
																Apply WC Charge ?
																<input id="wccharge" type="checkbox" ng-model="selectedCompany.contract.invoiceSetup.applyWCCharge" /><i></i>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="row" ng-if="selectedCompany.contract.billingOption===3">
												<div class="col-sm-4"></div>
												<div class="col-sm-8">
													<div class="row"><h5>Recurring Charges <i class="fa fa-lg fa-plus-circle" ng-click="addRecurringCharge()"></i></h5></div>
													<div class="row" ng-show="selectedCompany.contract.invoiceSetup.recurringCharges.length===0">No recurring charges have been setup</div>
													<div class="row" ng-show="selectedCompany.contract.invoiceSetup.recurringCharges.length>0">
														<table class="table table-bordered table-condensed">
															<thead>
																<tr>
																	<th class="col-sm-5">Description</th>
																	<th class="col-sm-2">Year</th>
																	<th class="col-sm-2">Amount</th>
																	<th class="col-sm-2">Annual Limit</th>
																	<th></th>
																</tr>
																<tr ng-repeat="rc in selectedCompany.contract.invoiceSetup.recurringCharges track by $index">
																	<td><input type="text" ng-model="rc.description" class="form-control" required data-parsley-group="wizard-step-4" /></td>
																	<td><input data-parsely-type="number" ng-model="rc.year" class="form-control" ng-pattern="/(19\d{2})|(200\d{1})|(201\d{1})/" data-parsley-pattern="/(19\d{2})|(200\d{1})|(201\d{1})/" data-parsley-group="wizard-step-4" /></td>
																	<td><input data-parsely-type="number" ng-model="rc.amount" class="form-control" required data-parsley-group="wizard-step-4" data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-trigger="blur" step="0.01"></td>
																	<td><input data-parsely-type="number" ng-model="rc.annualLimit" class="form-control" data-parsley-group="wizard-step-4" data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" /></td>
																	<td><i class="fa fa-remove" ng-click="removeRecurringCharge(rc, $index)"></i></td>
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>

										</fieldset>
									</div>
								</div>
								<div class="col-sm-2 col-sm-offset-4">
									<button class="btn btn-primary" ng-click="save()" ng-disabled="!validateCompany()"><i class="fa fa-save m-r-5"></i> Save</button>
									<button class="btn btn-default" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
								</div>
							</form>
						</div>
						<div class="tab-pane fade in" id="user" ng-if="selectedCompany.id">
							<user-list host-id="selectedCompany.hostId" company-id="selectedCompany.id" employee-id="null" heading="'Company Users'" show-reset-password="true" parent-type-id="data.sourceTypeId" main-data="mainData"/>
						</div>
						<div class="tab-pane fade in" id="news" ng-if="selectedCompany.id">
							<news-list audience-type-id="4" audience-id="selectedCompany.id" heading="'Newsfeed'" fetch="true" show-audience-list="false" main-data="data"/>
						</div>
						<div class="tab-pane fade in" id="documents" ng-if="selectedCompany.id">
							<document-list source-type-id="data.sourceTypeId" source-id="selectedCompany.id" heading="'Documents'" />
						</div>
						<div class="tab-pane fade in" id="contacts" ng-if="selectedCompany.id">
							<contact-list source-type-id="data.sourceTypeId" source-id="selectedCompany.id" heading="'Contacts'" />
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="panel panel-inverse overflow-hidden" ng-if="selectedCompany.id">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
						<i class="fa fa-plus-circle pull-right"></i>Deductions
					</a>
				</h3>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<deduction-list list="selectedCompany.deductions" types="data.companyMetaData.deductionTypes" company-id="selectedCompany.id" />
				</div>
			</div>
		</div>

		<div class="panel panel-inverse overflow-hidden" ng-if="selectedCompany.id">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
						<i class="fa fa-plus-circle pull-right"></i>
						Workers Compensation
					</a>
				</h3>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					<worker-compensation-list list="selectedCompany.workerCompensations" company-id="selectedCompany.id" />
				</div>
			</div>
		</div>
		<div class="panel panel-inverse overflow-hidden" ng-if="selectedCompany.id">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
						<i class="fa fa-plus-circle pull-right"></i>
						Company Taxes
					</a>
				</h3>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<tax-year-rate-list list="selectedCompany.companyTaxRates" company-id="selectedCompany.id" meta-data="data.companyMetaData.taxes" />
				</div>
			</div>
		</div>
		<div class="panel panel-inverse overflow-hidden" ng-if="selectedCompany.id">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
						<i class="fa fa-plus-circle pull-right"></i>
						Accumulated Pay Types
					</a>
				</h3>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<accumulated-pay-type-list list="selectedCompany.accumulatedPayTypes" company-id="selectedCompany.id" meta-data="data.companyMetaData.payTypes" />
				</div>
			</div>
		</div>
		<div class="panel panel-inverse overflow-hidden" ng-if="selectedCompany.id">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
						<i class="fa fa-plus-circle pull-right"></i>
						Pay Codes
					</a>
				</h3>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<pay-code-list list="selectedCompany.payCodes" company-id="selectedCompany.id" />
				</div>
			</div>
		</div>

	</div>




</div>


