<div class="col-sm-12">
    <div class="row">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row">
        <div class="col-sm-3 m-t-5"  ng-repeat="item in list track by $index"  ng-form>
            <form name="dedform{{$index}}" data-parsley-validate="true">
                <div class="clearfix" ng-if="$index % 4 === 0"></div>
                <div class="widget widget-stats m-b-0" ng-class="getWidgetClass(item)">
                    <div class="stats-icon stats-icon-lg"><i class="fa fa-hand-o-down fa-fw"></i></div>
                    <div class="stats-title" ng-if="item.id>0 && selected.id!==item.id">{{item.description}}</div>
                    <div class="stats-title" ng-if="item.id>0 && showDates(item)">{{showDates(item)}}</div>
                    <div class="stats-title" ng-if="item.id===0 || selected.id===item.id">
                        Description: 
                        <div class="form-group">
                            <input class="form-control" type="text" id="description" name="description" placeholder="Description" ng-model="item.description" required />

                        </div>
                    </div>
                    <div class="stats-title" ng-if="item.id>0 && selected.id!==item.id">{{item.deductionName}}</div>
                    <div class="stats-title" ng-if="item.id===0 || selected.id===item.id">
                        Name: 
                        <div class="form-group">
                            <input class="form-control" type="text" id="name" name="name" placeholder="Name" ng-model="item.deductionName" required />

                        </div>
                    </div>
                    <div class="stats-title" ng-if="item.id>0">{{showDeductionType(item)}}</div>
                    <div class="stats-title" ng-if="item.id===0">
                        <div class="form-group">
                            <select class="form-control" id="ded" ng-model="item.type" ng-options="ded.categoryText + ' - ' + ded.name for ded in types | orderBy:'category' track by ded.id" required>
                                <option value="">Please select...</option>
                            </select>

                        </div>
                    </div>

                    <div class="stats-number" ng-show="item.id>0">{{item.employeeWithheld | currency}}, Employer: {{item.employerWithheld | currency}}</div>
                    <div class="stats-desc" ng-show="item.id>0 && (!selected || selected.id!==item.id)">Annual Max: {{item.annualMax ? item.annualMax : 'n.a'}}, Floor per check: {{item.floorPerCheck ? item.floorPerCheck : 'n.a'}}, InvoiceCredit?: <i class="fa fa-lg" ng-class="{'fa-check-circle': item.applyInvoiceCredit, 'fa-times-circle': !item.applyInvoiceCredit}" /></div>
                    <div class="stats-progress progress">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                    <div class="stats-desc" ng-show="showControls">
                        <span class="text-color text-bold" ng-show="showWarningText(item)">* this deduction will not be applied</span>
                        <i class="fa fa-pencil fa-lg pull-right" ng-show="!selected" ng-click="setSelected($index)"></i>
                        <i class="fa fa-undo fa-lg pull-right" ng-show="selected && selected.id===item.id" ng-click="cancel()"></i>
                        <i class="fa fa-check fa-lg pull-right" ng-show="selected && selected.id===item.id && hasItemChanged()" ng-click="isItemValid(item) && save(item)"></i>


                    </div>
                </div>
                <div class="panel-body m-t-0" ng-class="getWidgetSubClass(item)" ng-show="selected && selected.id===item.id">
                    <div class="row">
                        <div class="form-group row">
                            <label class="control-label col-md-6 col-sm-6" for="rate">Annual Max :</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" id="rate" name="rate" ng-model="selected.annualMax" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="1" />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6 col-sm-6" for="fpc">Floor Per Check:</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" id="fpc" name="fpc" ng-model="selected.floorPerCheck" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="1" />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6 col-sm-6">Invoice Credit? :</label>
                            <div class="col-md-6 col-sm-6">
                                <label class="switch">
                                    <input type="checkbox" ng-model="selected.applyInvoiceCredit" /><i></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6 col-sm-6">Start Date :</label>
                            <div class="col-md-6 col-sm-6">
                                <date-ctrl name="startdate" model="selected.startDate" disabled="(selected.employeeWithheld>0 || selected.employerWithheld>0)" ng-if="canChangeDates" />
                                <span ng-if="!canChangeDates()">{{ selected.startDate ? (selected.startDate | date:'MM/dd/yyyy') : ''}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-6 col-sm-6">End Date :</label>
                            <div class="col-md-6 col-sm-6">
                                <date-ctrl name="startdate" model="selected.endDate" disabled="false" min="selected.startDate" ng-if="canChangeDates" />
                                <span ng-if="!canChangeDates()">{{ selected.endDate ? (selected.startDate | date:'MM/dd/yyyy') : ''}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row" ng-show="!selected && showControls">
        <span ng-show="list.length===0">No Deductions found</span>
        <button type="button" ng-click="add()" title="Add Deduction" class="btn btn-lg btn-icon btn-circle btn-primary">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    
</div>
