<div class="table-responsive col-sm-10 col-sm-offset-1">
	<div class="row">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<table class="table table-header table-bordered table-condensed form-controls input-sm">
		<thead>
			<tr>
				<td class="col-sm-2">Type</td>
				<td class="col-sm-2">Name</td>
				<td class="col-sm-2">Description</td>
				<td class="col-sm-2">Floor Per Check</td>
				<td class="col-sm-1">Invoice Credit?</td>
				<td class="col-sm-1">Annual Max</td>
				<td class="col-sm-2" ng-show="showControls"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list track by $index">
				<td>
					<!-- editable tesltra worktype (select-local) -->
					<span e-ng-change="item.type = $data;" editable-select="item.type" e-name="type" e-form="rowform" e-ng-options="ded.categoryText + ' - ' + ded.name for ded in types | orderBy:'category' track by ded.id">
						{{ showDeductionType(item) }}
					</span>
				</td>
				<td>
					<span e-ng-change="item.deductionName = $data" editable-text="item.deductionName" e-name="deductionname" e-form="rowform">
						{{ item.deductionName }}
					</span>
				</td>
				<td>
					<span e-ng-change="item.description = $data" editable-text="item.description" e-name="description" e-form="rowform">
						{{ item.description }}
					</span>
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<span editable-number="item.applyInvocie" e-name="floor" e-form="rowform" e-ng-change="item.floorValue = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.floorPerCheck }}
					</span>

				</td>
				<td>
					<label class="switch">
						<input type="checkbox" ng-model="item.applyInvoiceCredit" ng-disabled="!rowform.$visible" /><i></i>
					</label>
					
				</td>
				
				<td>
					<!-- editable comment (text with validation) -->
					<span editable-number="item.annualMax" e-name="annualmax" e-form="rowform" e-ng-change="item.annualMax = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.annualMax }}
					</span>
				</td>
				<td style="white-space: nowrap" ng-show="showControls">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected==item">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-sm btn-primary" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-edit m-r-5"></i> edit
						</button>
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-sm btn-success">
							<i class="fa fa-save m-r-5"></i> save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-sm btn-default">
							<i class="fa fa-remove m-r-5"></i> cancel
						</button>
					</form>
				</td>
				
			</tr>
			<tr ng-show="!selected">
				<td colspan="4">
					<span ng-show="list.length===0">No items found</span>
				</td>

				<td ng-show="showControls">
					<button type="button" ng-click="add()" ng-show="!selected" class="btn btn-primary">
						Add
					</button>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
