<div class="row" ng-show="mainData.selectedHost">
	<!-- begin panel -->
	<div class="panel panel-inverse" data-sortable-id="form-stuff-4" ng-if="mainData.selectedCompany && mainData.userRole!=='Employee'">
		<div class="panel-heading hidden-print" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Employees<i class="pull-right glyphicon hidden-print" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div class="col-sm-12 visible-print"><h6><u>Employee List</u></h6></div>
			<div class="row hidden-print" ng-if="mainData.userRole!=='Employee'">
				<div class="col-sm-1" ng-dropdown-multiselect="" options="cols" extra-settings="{displayProp: 'title', idProp: 'field', showCheckAll: true, showUncheckAll: true ,scrollable: true}" selected-model="selectedHeaders">

				</div>
				<div class="col-sm-1">
					<a class="btn btn-success btn-icon btn-circle btn-lg" ng-click="refreshTable()" ng-disabled="selectedHeaders.length===0"><i class="fa fa-refresh"></i></a>
					<a class="btn btn-success btn-icon btn-circle btn-lg" ng-click="print()" ng-disabled="selectedHeaders.length===0"><i class="fa fa-print"></i></a>
				</div>
				<div class="col-sm-1 pull-right">
					<a class="btn btn-primary btn-icon btn-circle btn-lg" ng-show="mainData.selectedCompany && !selected" ng-click="add()"><i class="fa fa-plus"></i></a>
				</div>
				<div class="col-sm-2 form-group pull-right">

					<label></label>
					<div>
						<label for="includeall" class="switch">
							include InActive/Terminated?
							<input id="includeall" type="checkbox" ng-model="data.includeAll" ng-change="getEmployees(mainData.selectedCompany.id)" /><i></i>
						</label>
					</div>
				</div>

			</div>
			<div ng-show="list.length===0 && !selectedContact" class="table table-bordered">
				No Employees found
			</div>
			<div class="row" ng-show="list.length>0 && mainData.userRole!=='Employee'">
				<table ng-table-dynamic="tableParamsNew with cols"
							 class="table" show-filter="showFilter" template-pagination="custom/pager">
					<tr ng-repeat="row in $data" class="mouse-over-pointer" ng-click="set(row)" ng-class="{'success':selected.id===row.id}">
						<td ng-repeat="col in $columns" class="text-center" ng-class="{'hidden-print' : col.field==='controls'}">
							{{ col.field!=='controls' && col.field!=='isTerminate' ? col.isdate? (row[col.field] | date:'MM/dd/yyyy') : col.ismoney ? (row[col.field] | currency:'$') : row[col.field] : ''}}
							<input type="checkbox" name="empTerminate" ng-model="row.isTerminated" ng-click="empTerminate(row, $event)" ng-show="showBulkTerminate && col.field==='isTerminate' && row.statusId===1" ng-value="''" />
							<a class="btn btn-info btn-icon btn-circle btn-lg" ng-click="viewPayCheckList(row, $event)" ng-show="showPayChecks && row.lastPayrollDate && col.field==='controls'"><i class="fa fa-money"></i></a>
						</td>
						<td title=" 'cheks' " class="hidden-print"></td>
					</tr>
				</table>

				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak hidden-print" ng-if="mainData.userRole!=='Employee'">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
								<button type="button" ng-class="{'active':params.count() == params.total()}" ng-click="params.count(params.total())" class="btn btn-default btn-sm">All</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
			<div class="row hidden-print" ng-if="mainData.userRole!=='Employee'">


				<button class="btn btn-xs btn-danger pull-right" ng-click="bulkTerminateEmployees()" ng-if="showBulkTerminate && bulkTerminateAvailable()>0">Bulk Terminate ({{bulkTerminateAvailable()}})</button>
				<button class="btn btn-xs btn-info attach-button pull-right" ng-show="showImportExport" id=" attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
					<i class="fa fa-upload"></i>Import Employees
				</button>
				&nbsp;
				<button class="btn btn-xs btn-warning pull-right" ng-show="showImportExport && mainData.selectedCompany && !selected" ng-click="getEmployeeImportTemplate()"><i class="fa fa-download"></i>Import Template/Export</button>
				&nbsp;
				<button class="btn btn-xs btn-success pull-right" ng-show="showCopyEmployees" ng-click="copyemployees($event)"><i class="fa fa-copy fa-users"></i>Copy Employees</button>
				&nbsp;
				<button class="btn btn-xs btn-danger pull-right" ng-click="getCompanyLeaveExport(0, 6, 'Paid Sick Time')" ng-show="showSickLeaveExport">Sick Leave Export</button>
			</div>

			<!-- end panel -->
		</div>
	</div>

	<div class="hidden-print" ng-if="selected">
		<employee employee="selected" main-data="mainData" is-popup="false" show-controls="true" />
	</div>
	<script type="text/ng-template" id="popover/payCheckListView.html">

		<div class="modal-header">

		</div>
		<div class="modal-body">
			<pay-check-list employee="employee" main-data="mainData" />
		</div>
	</script>
	<script type="text/ng-template" id="popover/copyemployees.html">

		<div class="modal-header bg-info-darker ">
			<h4 class="modal-title text-white">Copy Employees from {{original.name}}</h4>
		</div>
		<div class="modal-body">

			
			<div class="col-sm-12">
				<div class="form-group col-sm-2">
					<label>Employees</label><br />
					<div ng-dropdown-multiselect="" options="employeeList" extra-settings="{displayProp: 'name', idProp: 'id', showCheckAll: true, showUncheckAll: true ,scrollable: true, enableSearch: true,buttonDefaultText:'select employees'}" selected-model="selectedEmployees">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label>Target Company</label>
					<select id="host" class="form-control" ng-model="selectedCompany" ng-options="(comp.name + (comp.companyNo? ('(' + comp.companyNo + ')') : '')) for comp in mainData.companies | filter:{ id:'!' + original.id} | orderBy:'name' track by comp.id">
						<option value="">Select Company</option>
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label>Keep Employee #?</label>
					<div>
						<label for="copyemployees" class="switch">
							
							<input id="copyemployees" type="checkbox" ng-model="keepEmployeeNumbers" /><i></i>
						</label>
					</div>
				</div>

			</div>

			


		</div>
		<div class="modal-footer">
			<div class="col-sm-12">
				<div class="alert alert-danger" ng-if="error">
					{{error}}
				</div>
				<button type="button" class="btn btn-white btn-sm pull-right" ng-click="cancel()"><i class="fa fa-undo m-r-5"></i> Cancel</button>
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="save()" ng-disabled="!selectedCompany || selectedEmployees.length===0"><i class="fa fa-check m-r-5"></i> Save</button>
			</div>

		</div>

	</script>
</div>


