<div class="table-responsive col-sm-12">
	<div class="row">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<table class="table table-header table-bordered table-condensed form-controls input-sm">
		<thead>
			<tr>
				<td class="col-sm-4">Description</td>
				<td class="col-sm-3">Type</td>
				<td class="col-sm-1">Method</td>
				<td class="col-sm-1">Rate</td>
				<td class="col-sm-1">Annual Max</td>
				<td class="col-sm-3" ng-show="showControls"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list track by $index" ng-class="{'warning' : item.limit===0 || item.ceilingPerCheck===0}">
				<td>
					<!-- editable tesltra worktype (select-local) -->
					<span e-ng-change="item.deduction = $data;" editable-select="item.deduction" e-name="deduction" e-form="rowform" e-ng-options="ded.description for ded in availableCompanyDeductions($index) track by ded.id">
						{{ item.deduction? item.deduction.description : '' }}
					</span>
					<div class="row" ng-show="item.deduction.type.id!==3">
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right">
								<label>Ceiling Per Check</label>
							</div>
							<div class="col-sm-6">
								<span editable-number="item.ceilingPerCheck" e-name="ceiling" e-form="rowform" e-ng-change="item.ceilingPerCheck = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
									<span ng-show="item.ceilingMethod.key===2">{{ item.ceilingPerCheck!==null ? (item.ceilingPerCheck!==0 ? (item.ceilingPerCheck | currency:'$') : 'no deduction') : 'none'  }}</span>
									<span ng-show="item.ceilingMethod.key===1">{{ item.ceilingPerCheck!==null ? (item.ceilingPerCheck!==0 ? ((item.ceilingPerCheck | currency:'') + '%') : 'no deduction') : 'none'  }}</span>
								</span>
								<span e-ng-change="item.ceilingMethod = $data;" editable-select="item.ceilingMethod" e-name="type" e-form="rowform" e-ng-options="fm.key as fm.value for fm in data.ceilingMethods">

								</span>
							</div>


						</div>
					</div>
					<div class="row" ng-show="item.deduction.type.id===3">
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right">
								<label>Ceiling Per Check</label>	
							</div>
							<div class="col-sm-6">
								<span editable-number="item.ceilingPerCheck" e-name="ceilingoercheck" e-form="rowform" e-ng-change="item.ceilingPerCheck = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
									<span ng-show="item.ceilingMethod===2">{{ item.ceilingPerCheck!==null ? (item.ceilingPerCheck!==0 ? (item.ceilingPerCheck | currency:'$') : 'no deduction' ): 'none'  }}</span>
									<span ng-show="item.ceilingMethod===1">{{ item.ceilingPerCheck!==null ? (item.ceilingPerCheck!==0 ? ((item.ceilingPerCheck | currency:'') + '%') : 'no deduction'): 'none'  }}</span>
								</span>
								<span e-ng-change="item.ceilingMethod = $data;" editable-select="item.ceilingMethod" e-name="ceilingtype" e-form="rowform" e-ng-options="fm.key as fm.value for fm in data.ceilingMethods">
									
								</span>
							</div>
							
						
						</div>
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right">
								<label>Limit</label>	
							</div>
							<div class="col-sm-6 pull-left">
								<span editable-number="item.limit" e-name="limit" e-form="rowform" e-ng-change="item.limit = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
									{{ item.limit!==null ? (item.limit!==0 ? (item.limit | currency:'$') : 'no deduction') : 'none'}}
								</span>
							</div>
							
							
						</div>
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right"><label>Priority</label></div>
							<div class="col-sm-6 pull-left">
								<span ng-show="item.deduction.type.id===3" editable-number="item.priority" e-name="ceiling" e-form="rowform" e-ng-change="item.priority = $data" e-ng-pattern="/^[0-9]?$/" e-step="0.01" e-style="width:10em;">
									{{ item.priority!==null ? item.priority : 'none'  }}
								</span>
							</div>
							
							
						</div>
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right"><label>Account Id</label></div>
							<div class="col-sm-6 pull-left">
								<span ng-show="item.deduction.type.id===3" editable-text="item.accountNo" e-name="account" e-form="rowform" e-ng-change="item.accountNo = $data">
									{{ item.accountNo }}
								</span>
							</div>
							
							
						</div>
						<div class="form-group col-sm-12">
							<div class="col-sm-6 text-right"><label>Agency</label></div>
							<div class="col-sm-6 pull-left">
								<span ng-show="item.deduction.type.id===3" e-ng-change="item.agencyId = $data;" editable-select="item.agencyId" e-name="agnecy" e-form="rowform" e-ng-options="a.id as a.name + '(' + a.contact.firstName + ' ' + a.contact.lastName + ')' for a in data.agencies">
									{{ item.agencyId? getAgencyName(item.agencyId) : '' }}
								</span>
							</div>
							
							
						</div>
						
					</div>
				</td>
				<td>
					{{ item.deduction? item.deduction.type.name : '' }}
					
				</td>
				<td>
					<span e-ng-change="item.method = $data;" editable-select="item.method" e-name="method" e-form="rowform" e-ng-options="m.value for m in data.types track by m.key">
						{{ item.method? item.method.value : '' }}
					</span>

				</td>
				<td>
					<span ng-show="item.method && item.method===2">$</span>
					<span editable-number="item.rate" e-name="rate" e-form="rowform" e-ng-change="item.rate = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.rate }}
					</span>
					<span ng-show="item.method && item.method===1">%</span>
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<span editable-number="item.annualMax" e-name="annualmax" e-form="rowform" e-ng-change="item.annualMax = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.annualMax | currency:'$' }}
					</span>
				</td>
				
				<td style="white-space: nowrap" ng-show="showControls">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected==item">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-xs btn-info" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-edit m-r-5"></i> edit
						</button>
						<button type="button" ng-show="!rowform.$visible && (item.id>0 || !saveToServer)" class="btn btn-xs btn-danger" ng-click="delete($index)">
							<i class="fa fa-recycle m-r-5"></i> delete
						</button>
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-xs btn-success">
							<i class="fa fa-save m-r-5"></i> save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-xs btn-default">
							<i class="fa fa-remove m-r-5"></i> cancel
						</button>
						<h3 ng-if="item.limit===0 || item.ceilingPerCheck===0">This Deduction will not be applied</h3>
					</form>
				</td>
				
			</tr>
			<tr ng-show="!selected && showControls">
				<td colspan="5">
					<span ng-show="list.length===0">No items found</span>
				</td>

				<td>
					<button type="button" ng-show="availableCompanyDeductions(-1).length>0" ng-click="add()" class="btn btn-xs btn-primary">
						<i class="fa fa-plus-circle m-r-5"></i>Add
					</button>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
