<div class="row">
	<!-- begin panel -->
	<div class="panel panel-inverse" data-sortable-id="form-stuff-4">
		<div class="panel-heading hidden-print" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Invoice List for Delivery  
				<em><u> <button class="btn btn-xs btn-success"><i class="fa fa-lg fa-refresh" ng-click="refreshData($event)"></i></button></u></em>		
			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div ng-show="list.length===0 && !selectedInvoice" class="table table-bordered hidden-print">
				No invoices found
			</div>
			<div class="row m-10 hidden-print" ng-show="showPrint()">
				<button class="btn btn-sm btn-info pull-right" ng-click="print()"><i class="fa fa-print">Print</i></button>
			</div>
			<div class="row table-responsive text-center" ng-show="list.length>0">
				<div class=" col-sm-12 m-20 visible-print">
					<h2 class="text-center">Delivery Log</h2>
					<br />
					<h4 class="text-center">{{mainData.myName}} ( {{today | date:'MM/dd/yyyy'}}) </h4>
				</div>
				<table ng-table="tableParams" show-filter="true" class="table hidden-print" template-pagination="custom/nopager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="item.selected=!item.selected; " ng-class="{'success':item.selected}">
						<td data-title="'#'" class="col-sm-1 text-center">
							{{$index + 1}}
						</td>
						<td data-title=" 'Company' " filter="{'companyName':'text'}" sortable=" 'companyName' " class="col-sm-2 text-center">
							{{item.companyName}}
						</td>
						<td data-title=" 'City' " filter="{'city':'text'}" sortable=" 'company.businessAddress.city' " class="col-sm-1 text-center">
							{{item.city}}
						</td>
						<td data-title=" 'Delivery?' " class="col-sm-1 text-center">
							{{item.deliveryClaimedBy ? item.deliveryClaimedBy : ''}} ({{item.deliveryClaimedBy ? (item.deliveryClaimedOn | date:'MM/dd/yyyy') : ''}})
						</td>
						<td data-title=" 'Total' " sortable=" 'total' " class="col-sm-1 text-center show-red">
							{{item.total | currency:'$'}}
						</td>

						<td data-title=" 'Notes' " class="col-sm-6 text-center">
							{{item.notes}}
						</td>


					</tr>

				</table>
				<table class="table visible-print table-invoice">
					<thead>
						<tr>
							<th colspan="1" class="text-center">#</th>
							<th colspan="2" class="text-center">Client</th>
							<th colspan="1" class="text-center">City</th>
							<th colspan="1" class="text-center">Total</th>
							<th colspan="8" class="text-center">Notes</th>
						</tr>
					</thead>
					<tr ng-repeat="item in tableData | filter:{selected:true} track by $index">
						<td colspan="1" class="text-center">
							{{$index + 1}}
						</td>

						<td colspan="2" class="text-center">
							{{item.companyName}}
						</td>
						<td colspan="1" class="text-center">
							{{item.city}}
						</td>
						<td colspan="1" class="text-center">
							{{item.total | currency:'$'}}
						</td>

						<td colspan="8" class="col-sm-8 text-center">
							{{item.notes}}
						</td>


					</tr>
					

				</table>


			</div>

			<!-- end panel -->
		</div>
	</div>
	<div class="panel panel-inverse hidden-print" data-sortable-id="form-stuff-4">
		<div class="panel-heading hidden-print" ng-click="data.isBodyOpenHistory=!data.isBodyOpenHistory">
			<h4 class="panel-title">Previous List of Deliveries<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpenHistory, 'glyphicon-chevron-right': !data.isBodyOpenHistory}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpenHistory">
			<div class="row">
				
				<div class="col-sm-1 form-group">
					<label class="control-label">Start Date </label>
					<date-ctrl name="startdate" model="data.startDate" disabled="false" />
				</div>
				<div class="col-sm-1 form-group">
					<label class="control-label">End Date </label>
					<date-ctrl name="enddate" model="data.endDate" disabled="false" />
				</div>
				
				<div class="col-sm-1 form-group">
					<label></label>
					<button class="btn btn-sm btn-primary form-control" ng-click="getInvoiceDeliveryClaims()">Filter</button>
				</div>
			</div>
			<table class="table  table-invoice">
				<thead>
					<tr>
						<th colspan="1" class="text-center">Date</th>
						<th colspan="2" class="text-center">Courier</th>
						<th colspan="1" class="text-center"># of Invoices</th>
						<th></th>
					</tr>
				</thead>
				<tr ng-repeat="h in history | orderBy:'deliveryClaimedOn':true track by $index">
					<td colspan="1" class="text-center">
						{{h.deliveryClaimedOn | date:'MM/dd/yyyy hh:mm:ss:a'}}
					</td>

					<td colspan="2" class="text-center">
						{{h.userName}}
					</td>
					<td colspan="1" class="text-center">
						{{h.invoiceSummaries.length}}
					</td>
					<td><button class="btn btn-primary btn-sm btn-pinterest" ng-click="viewHistoryItem(h)">view</button></td>
				</tr>

			</table>
		</div>
	</div>
	<script type="text/ng-template" id="popover/delivery.html">

		<div class="modal-body">
			<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" style="margin-bottom:0px">
				<i class="fa fa-check text-succcess fa-lg" ng-if="alert.type==='success'"></i>
				<i class="fa fa-exclamation-triangle text-danger fa-lg" ng-if="alert.type==='danger'"></i>
				<i class="fa fa-exclamation-triangle text-warning fa-lg" ng-if="alert.type==='warning'"></i>
				<i class="fa fa-info-circle text-info fa-lg" ng-if="alert.type==='info'"></i>{{alert.msg}}
			</div>
			<div class=" col-sm-12 m-20">
				<h2 class="text-center">Delivery Log</h2>
				<br />
				<h4 class="text-center">{{item.userName}} ( {{item.deliveryClaimedOn | date:'MM/dd/yyyy'}}) <i class="fa fa-plus-circle fa-lg"  ng-click="add()"></i></h4>
			</div>
			<table class="table table-invoice">
				<thead>
					<tr>
						<th colspan="1" class="text-center">#</th>
						<th colspan="2" class="text-center">Client</th>
						<th colspan="1" class="text-center">City</th>
						<th colspan="1" class="text-center">Total</th>
						<th colspan="7" class="text-center">Notes</th>
					</tr>
				</thead>
				<tr ng-repeat="inv in item.invoiceSummaries track by $index" ng-class="{'warning':!inv.isPayrollDelivery}">
					<td colspan="1" class="text-center">
						{{$index + 1}}
					</td>

					<td colspan="2" class="text-center">
						<span ng-show="!inv.isEditable">{{inv.clientName}}</span>
						<input type="text" class="form-control" ng-model="inv.clientName" ng-show="inv.isEditable"/>
					</td>
					<td colspan="1" class="text-center">
						<span ng-show="!inv.isEditable">{{inv.clientCity}}</span>
						<input type="text" class="form-control" ng-model="inv.clientCity" ng-show="inv.isEditable" />
						
					</td>
					<td colspan="1" class="text-center">
						{{inv.total | currency:'$'}}
					</td>

					<td colspan="7" class="col-sm-8 text-center">
						<span ng-show="!inv.isEditable">{{inv.notes}}</span>
						<input type="text" class="form-control" ng-model="inv.notes" ng-show="inv.isEditable" />						
					</td>


				</tr>
				<tr ng-show="hasChanges()">
					<td colspan="5">
						<button class="btn btn-sm btn-primary" ng-click="update()" ng-disabled="!isValid()">save</button>
					</td>
				</tr>
			</table>
		</div>
	</script>
	<script type="text/ng-template" id="custom/nopager">
		
	</script>
</div>


