<div class="row">
	<!-- begin panel -->
	<div class="panel panel-inverse" data-sortable-id="form-stuff-4">
		<div class="panel-heading hidden-print" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Invoice List for Delivery<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div ng-show="list.length===0 && !selectedInvoice" class="table table-bordered hidden-print">
				No invoices found
			</div>
			<div class="row m-10 hidden-print" ng-show="showPrint()">
				<button class="btn btn-sm btn-info pull-right" ng-click="print()"><i class="fa fa-print">Print</i></button>
			</div>
			<div class="row table-responsive text-center" ng-show="list.length>0">
				<div class=" col-sm-12 m-20 visible-print">
					<h2 class="text-center">Delivery Log</h2>
					<br />
					<h4>{{mainData.myName}} ( {{today | date:'MM/dd/yyyy'}}) </h4>
				</div>
				<table ng-table="tableParams" class="table hidden-print" template-pagination="custom/nopager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="item.selected=!item.selected; " ng-class="{'success':item.selected}">
						<td data-title="'#'" class="col-sm-1 text-center">
							{{$index + 1}}
						</td>
						<td data-title=" 'Company' " sortable=" 'companyName' " class="col-sm-2 text-center">
							{{item.companyName}}
						</td>
						<td data-title=" 'City' " sortable=" 'company.businessAddress.city' " class="col-sm-1 text-center">
							{{item.company.businessAddress.city}}
						</td>
						<td data-title=" 'Delivery?' " class="col-sm-1 text-center">
							{{item.deliveryClaimedBy ? item.deliveryClaimedBy : ''}} ({{item.deliveryClaimedBy ? (item.deliveryClaimedOn | date:'MM/dd/yyyy') : ''}})
						</td>
						<td data-title=" 'Total' " sortable=" 'total' " class="col-sm-1 text-center show-red">
							{{item.total | currency:'$'}}
						</td>

						<td data-title=" 'Notes' " class="col-sm-6 text-center">
							{{item.notes}}
						</td>


					</tr>

				</table>
				<table class="table visible-print table-invoice">
					<thead>
						<tr>
							<th colspan="1" class="text-center">#</th>
							<th colspan="2" class="text-center">Client</th>
							<th colspan="1" class="text-center">City</th>
							<th colspan="1" class="text-center">Total</th>
							<th colspan="8" class="text-center">Notes</th>
						</tr>
					</thead>
					<tr ng-repeat="item in tableData | filter:{selected:true} track by $index">
						<td colspan="1" class="text-center">
							{{$index + 1}}
						</td>
						
						<td colspan="2" class="text-center">
							{{item.companyName}}
						</td>
						<td colspan="1" class="text-center">
							{{item.company.businessAddress.city}}
						</td>
						<td colspan="1" class="text-center">
							{{item.total | currency:'$'}}
						</td>

						<td colspan="8" class="col-sm-8 text-center">
							{{item.notes}}
						</td>


					</tr>

				</table>
				

			</div>

			<!-- end panel -->
		</div>
	</div>



</div>


