<div class="row">
	<!-- begin panel -->
	<div class="panel panel-inverse hidden-print" data-sortable-id="form-stuff-4" ng-if="mainData.selectedCompany">
		<div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Checkbook<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i>
				<i class="pull-right glyphicon glyphicon-refresh" ng-click="refresh()"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div class="row" ng-if="data && data.startingCheckNumber>0 && data.bankAccounts.length===0">
					<pre class="alert alert-danger" >Please set a Bank Account in COA secton</pre>
				
			</div>
			<div class="row" ng-show="data.bankAccounts.length>0">
				<div class="row hidden-print">
					<report-filter filter="data.reportFilter" callback="getJournalList()" show-dates="true" show-periods="true" defaults-provided="true" />
				</div>
				
				<div class="col-sm-12 p-5">
					<div class="col-sm-4">
						<div class="col-sm-12">
							<div class="col-sm-2"><label for="bank">Account: </label> </div>
							<div class="col-sm-10">
								<select id="bank" class="form-control" ng-change="accountSelected()" ng-disabled="data.bankAccounts.length===1" ng-model="data.selectedAccount" ng-options="bank.accountName for bank in data.bankAccounts | orderBy:'useInPayroll' track by bank.id"></select>
							</div>
						</div>
						<div class="form-group">
							<label></label>
							<div>
								<label for="includepayrolls" class="switch">
									Include Pay Checks?
									<input id="includepayrolls" type="checkbox" ng-model="data.includePayrolls" ng-change="getJournalList()" /><i></i>
								</label>
							</div>

						</div>
					</div>

					<div class="col-sm-4">
						
							<div class="col-sm-2"><label for="balance">Balance: </label> </div>
							<div class="col-sm-10">
								{{ data.selectedAccountBalance | currency:'$'}}
							</div>
						
						
					</div>
					
				</div>
				<div class="col-sm-12 p-20">
					<div class="col-sm-5"></div>
					<div class="col-sm-7">


						<button class="btn btn-sm btn-info pull-right m-5" ng-click="add(4, false)">Transfer Money between Account</button>
						<button class="btn btn-sm btn-info pull-right m-5" ng-click="add(3, false)">Record a Deposit</button>
						<button class="btn btn-sm btn-info pull-right m-5" ng-click="add(2, true)">Record an EFT</button>
						<button class="btn btn-sm btn-info pull-right m-5" ng-click="add(2, false)">Write a Check</button>
						<button class="btn btn-sm btn-info pull-right m-5" ng-click="add(8, false)">Customer Invoice</button>


					</div>
				</div>
				<div class="col-sm-12" ng-if="data.selectedAccount" ng-show="!newItem">
					<div class="row text-center p-5">
						<strong><em>Account Register <span ng-show="data.reportFilter.filterStartDate || data.reportFilter.filterEndDate"> ({{data.reportFilter.filterEndDate ? '' : 'From'}} {{data.reportFilter.filterStartDate? (data.reportFilter.filterStartDate | date:'MM/dd/yyyy') : 'Till'}}{{data.reportFilter.filterEndDate? ' - ' + (data.reportFilter.filterEndDate | date:'MM/dd/yyyy') : ''}} )</span></em></strong>
					</div>
					<div ng-show="list.length===0" class="table table-bordered">
						No checks found
					</div>

					<div class="row" ng-show="list.length>0">
						<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
							<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="set(item)" ng-class="{'success':selected.id===item.id, 'warning' : !selected && item.isVoid}">
								<td data-title=" 'Date' " sortable=" 'transactionDate' " class="col-sm-1 text-center">
									{{item.transactionDate | date:'MM/dd/yyyy'}}
								</td>
								<td data-title=" 'Type' " filter="{ 'transactionTypeText': 'text' }" sortable="'transactionTypeText'" class="col-sm-1 text-center">
									{{item.transactionTypeText}}
								</td>
								<td data-title=" 'Number' " filter="{ 'checkNumberText': 'text' }" sortable="'checkNumberText'" class="col-sm-1 text-center">
									{{item.checkNumberText}}
								</td>
								<td data-title=" 'Payee' " filter="{ 'payeeName': 'text' }" sortable=" 'payeeName' " class="col-sm-1 text-center">
									{{item.transactionType===3 || item.transactionType===4 ? '':item.payeeName}}
								</td>
								<td data-title=" 'Amount' " class="col-sm-1 text-center show-red">
									{{item.displayAmount | currency:'$'}}
								</td>
								<td data-title=" 'Memo' " class="col-sm-1 text-center">
									{{item.memo}}
								</td>
								<td data-title=" 'Status' " sortable=" 'statusText' " class="col-sm-1 text-center">
									<span class="label label-warning" ng-show="item.isVoid">{{item.statusText}}</span>
								</td>
								<td data-title=" 'Cleared' " sortable=" 'isCleared' " class="col-sm-1 text-center">
									<label></label>
									<div>
										<label for="journal" class="switch" ng-click="markJournalCleared(item, $event)" ng-disabled="item.isCleared">
											<input id="journal" type="checkbox" ng-model="item.isCleared" /><i></i>
										</label>
									</div>
								</td>
							</tr>

						</table>
						<script type="text/ng-template" id="custom/pager">
							<ul class="pager ng-cloak">
								<li ng-repeat="page in pages"
									ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
									ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
									<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
									<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
								</li>
								<li>
									<div class="btn-group">
										<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
										<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
										<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
										<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
									</div>
								</li>
							</ul>
						</script>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
	</div>
	<div class="row" ng-if="selected">
		<div class="col-sm-10">
			<div class="panel panel-info" ng-if="selected && selected.transactionType===1">
				<div class="panel-body tab-content">
					<div class="col-sm-12  m-10">
						<div class="col-sm-10">
							<div class="alert alert-info" ng-show="selected.peoasoCoCheck">
								This is a PEO ASO Co Check recorded in both the Company and it's Host
							</div>
						</div>
						<div class="col-sm-2 pull-right">
							<button class="btn btn-sm btn-success" ng-show="!selected.isVoid" ng-click="markPrinted(selected)"><i class="fa fa-print m-r-5"></i> print</button>
							<button class="btn btn-sm btn-default" ng-click="cancel()"><i class="fa fa-undo m-r-5"></i> Cancel</button>
						</div>


					</div>
					<paycheck check-id="selected.payrollPayCheckId" main-data="mainData" />
					<div class="col-sm-12 pull-right">
						<button class="btn btn-sm btn-default" ng-click="cancel()"><i class="fa fa-undo m-r-5"></i> Cancel</button>
					</div>
				</div>

			</div>
			<div class="panel panel-info" ng-if="selected && selected.transactionType===2">
				<div class="panel-body tab-content">
					<regular-check item="selected" datasvc="data" company="mainData.selectedCompany" show-controls="true" main-data="mainData" />

				</div>

			</div>
			<div class="panel panel-info" ng-if="selected && (selected.transactionType===5 || selected.transactionType===6)">
				<div class="panel-body tab-content">
					<tax-payment item="selected" datasvc="data" company="mainData.selectedCompany" show-controls="true" main-data="mainData" />

				</div>

			</div>
			<div class="panel panel-info" ng-if="selected && (selected.transactionType===3 || selected.transactionType===7)">
				<div class="panel-body tab-content">
					<deposit-ticket item="selected" datasvc="data" company="mainData.selectedCompany" show-controls="true" main-data="mainData" />
				</div>

			</div>
			<div class="panel panel-info" ng-if="selected && selected.transactionType===4">
				<div class="panel-body tab-content">
					<account-adjustment item="selected" datasvc="data" company="mainData.selectedCompany" show-controls="true" main-data="mainData" />
				</div>

			</div>
			<div class="panel panel-info" ng-if="selected && selected.transactionType===8">
				<div class="panel-body tab-content">
					<customer-invoice item="selected" datasvc="data" company="mainData.selectedCompany" show-controls="true" main-data="mainData" />
				</div>
			</div>
		</div>
		<div class="col-sm-2 hidden-print" ng-if="selected.id" ng-show="mainData.userRole==='SuperUser' || mainData.userRole==='Master'">
			<memento-list main-data="mainData" source-type-id="selected.entityType1" memento-id="selected.mementoId" heading="'Check Versions'" data="data" />
		</div>
		
	</div>
	
	



	
</div>


