<div class="panel panel-inverse">
	<div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
		<h3 class="panel-title">
			Pay Types
			<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i>
		</h3>
	</div>
	<div class="panel-body" ng-show="data.isBodyOpen">
		<div class="table-responsive col-sm-12">
			
			<table class="table table-header table-bordered table-condensed form-controls input-sm">
				<thead>
					<tr>
						<th class="col-sm-2">Name</th>
						<th class="col-sm-3">Description</th>
						<th class="col-sm-1">Is Taxable?</th>
						<th class="col-sm-1">Is Accumulable?</th>
						<th class="col-sm-1">Is Tip?</th>
						<th class="col-sm-1">Is Paid in Cash?</th>
						<th class="col-sm-1">
							<button type="button" ng-click="add()" ng-show="!selected" class="btn btn-lg  btn-icon btn-circle btn-primary">
								<i class="fa fa-plus"></i>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in list track by $index">
						<td>
							<span e-ng-change="item.name = $data" editable-text="item.name" e-name="no" e-form="rowform">
								{{ item.name }}
							</span>
						</td>
						<td>
							<span e-ng-change="item.description = $data" editable-text="item.description" e-name="name" e-form="rowform">
								{{ item.description }}
							</span>
						</td>
						<td>
							<!-- editable comment (text with validation) -->
							<div>
								<label for="taxable{{$index}}" class="switch">
									<input id="taxable{{$index}}" type="checkbox" ng-model="item.isTaxable" ng-disabled="!selected" /><i></i>
								</label>
							</div>
						</td>
						<td>
							<!-- editable comment (text with validation) -->
							<div>
								<label for="accumulate{{$index}}" class="switch">
									<input id="accumulate{{$index}}" type="checkbox" ng-model="item.isAccumulable" ng-disabled="!selected" /><i></i>
								</label>
							</div>

						</td>
						<td>
							<!-- editable comment (text with validation) -->
							<div>
								<label for="tip{{$index}}" class="switch">
									<input id="tip{{$index}}" type="checkbox" ng-model="item.isTip" ng-disabled="!selected || !item.isTaxable" /><i></i>
								</label>
							</div>

						</td>
						<td>
							<!-- editable comment (text with validation) -->
							<div>
								<label for="cash{{$index}}" class="switch">
									<input id="cash{{$index}}" type="checkbox" ng-model="item.paidInCash" ng-disabled="!selected " /><i></i>
								</label>
							</div>

						</td>
						<td style="white-space: nowrap">
							<!-- form -->
							<form editable-form id="rowform{{$index}}" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected===item">
								<button type="button" ng-show="!rowform.$visible" class="btn btn-lg btn-primary  btn-icon btn-circle" ng-click="rowform.$show();setSelected($index)">
									<i class="fa fa-pencil m-r-5"></i>
								</button>
								<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-lg btn-success  btn-icon btn-circle">
									<i class="fa fa-check m-r-5"></i>
								</button>
								<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-lg btn-default  btn-icon btn-circle">
									<i class="fa fa-undo m-r-5"></i>
								</button>
							</form>
						</td>

					</tr>
					<tr ng-show="!selected">
						<td colspan="7">
							<span ng-show="list.length===0">No items found</span>
						</td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>

