<div class="row" ng-show="check">
	<div class="col-sm-12">
		<div class="col-sm-1">Pay Period</div>
		<div class="col-sm-2 form-group">
			<label class="control-label">Start Date: {{check.startDate | date: 'MM/dd/yyyy'}}</label>

		</div>
		<div class="col-sm-2">
			<label class="control-label">End Date: {{check.endDate | date: 'MM/dd/yyyy'}}</label>

		</div>
		<div class="col-sm-2">
			<label class="control-label">Check Date: {{check.payDay | date: 'MM/dd/yyyy'}}</label>

		</div>
		<div class="col-sm-2">
			<label class="control-label">Check Number: {{check.paymentMethod===1 ? check.checkNumber : 'EFT'}}</label>

		</div>
	</div>
	<div class="col-sm-12">
		<table class="table table-condensed">
			<tr>
				<th colspan="5" class="text-center">Pay Check for {{check.employee.name}}</th>
			</tr>
			<tr>
				<th class="text-center">Description</th>
				<th class="text-center">Hours</th>
				<th class="text-center">Rate</th>
				<th class="text-center">Amount</th>
				<th class="text-center">YTD</th>
			</tr>
			
			<tr ng-if="check.employee.payType===2 || check.employee.payType===4">
				<td><i class="fa fa-lg info" ng-class="{'fa-minus-circle': check.expanded, 'fa-plus-circle':!check.expanded}" ng-click="check.expanded=!check.expanded" ng-show="check.employee.payType===4"></i>{{check.employee.payType===3 || check.employee.payType===4 ? 'Salary/Job/Piece Total' : 'Salary'}}</td>
				<td class="text-right"></td>
				<td class="text-right"></td>
				<td class="text-right">{{check.salary | currency:'$'}}</td>
				<td class="text-right">{{check.ytdSalary | currency:'$'}}</td>
			</tr>
			<tr ng-repeat-start="pc in check.payCodes | orderBy:'pc.payCode.id'" ng-if="check.employee.payType<4 || (check.employee.payType===4 && check.expanded)">
				<td>{{pc.payCode.description}} - Hours</td>
				<td class="text-right">{{pc.hours}}</td>
				<td class="text-right">{{pc.rateText}}</td>
				<td class="text-right">{{pc.amount | currency:'$'}}</td>
				<td class="text-right">{{pc.ytd | currency:'$'}}</td>
			</tr>
			<tr ng-repeat-end ng-if="(check.employee.payType<4  || (check.employee.payType===4 && check.expanded) ) && (pc.overtimeHours>0 || pc.ytdOvertime>0)">
				<td>{{ pc.payCode.id===-1 || check.employee.payType===4 ? pc.payCode.description + ' 0.5 OT' : pc.payCode.description}} - Overtime</td>
				<td class="text-right">{{pc.overtimeHours}}</td>
				<!--<td class="text-right">{{ (pc.payCode.id===-1 || check.employee.payType===4 ? pc.payCode.hourlyRate * 0.5 : pc.payCode.hourlyRate * 1.5) | currency:'$'}}</td>-->
				<td class="text-right">{{ pc.appliedOverTimeRate | currency:'$'}}</td>
				<td class="text-right">{{pc.overtimeAmount | currency:'$'}}</td>
				<td class="text-right">{{pc.ytdOvertime | currency:'$'}}</td>
			</tr>
			<tr ng-repeat="comp in check.compensations | filter:{payType: {isTaxable:true}}" ng-if="comp.amount>0 || comp.ytd>0">
				<td >{{comp.payType.description}}</td>
				<td class="text-right" ><span ng-show="comp.hours && comp.rate">{{comp.hours ? (comp.hours | currency:'') : ''}}</span></td>
				<td class="text-right" ><span ng-show="comp.hours && comp.rate">{{comp.rate ? (comp.rate | currency:'') : ''}}</span></td>
				<td class="text-right">{{comp.amount | currency:'$'}}</td>
				<td class="text-right">{{comp.ytd | currency: '$'}}</td>
			</tr>
			<tr>
				<td colspan="3">Gross Wage</td>
				<td class="text-right">{{ check.grossWage | currency:'$' }}</td>
				<td class="text-right">{{ check.ytdGrossWage | currency:'$' }}</td>
			</tr>
			<tr ng-show="check.notes">
				<td>Notes</td>
				<td colspan="4">{{check.notes}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12" ng-if="showNonTaxable()">
		<table class="table table-condensed">
			<tr>
				<th colspan="3" class="text-center">Non Taxable Wages</th>
			</tr>
			<tr>
				<th class="text-center">Description</th>
				<th class="text-center">Amount</th>
				<th class="text-center">YTD</th>
			</tr>
			<tr ng-repeat="comp in check.compensations | filter:{payType: {isTaxable:false}}">
				<td>{{comp.payType.description}}</td>
				<td class="text-right">{{comp.amount | currency:'$'}}</td>
				<td class="text-right">{{comp.ytd | currency: '$'}}</td>
			</tr>
			<tr>
				<td>Total</td>
				<td class="text-right">{{ check.compensationNonTaxableAmount | currency:'$' }}</td>
				<td class="text-right">{{ check.compensationNonTaxableYTD | currency:'$' }}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12">
		<table class="table table-condensed">
			<tr>
				<th colspan="10" class="text-center">Accumulated Pay Types</th>
			</tr>
			<tr>
				<th class="text-center">Types</th>
				<th class="text-center">Fiscal Start Date</th>
				<th class="text-center">Fiscal End Date</th>
				<th class="text-center">Hours Used</th>
				<th class="text-center">YTD Used</th>
				<th class="text-center">Current</th>
				<th class="text-center">YTD Acc</th>
				<th class="text-center">Carry Over</th>
				<th class="text-center">Available</th>
				<th ng-show="showControls"></th>
			</tr>
			<tr ng-repeat="pt in check.accumulations">
				<td>{{pt.payType.payType.description}}</td>
				<td>
					<span ng-show="!rowform.$visible">
						{{pt.fiscalStart | date:'MM/dd/yyyy'}}
					</span>
					<span ng-show="rowform.$visible">
						<date-ctrl name="fiscalStart" model="pt.fiscalStart" />
					</span>
					
				</td>
				<td>
					<span ng-show="!rowform.$visible">
						{{pt.fiscalEnd | date:'MM/dd/yyyy'}}
					</span>
					<span ng-show="rowform.$visible">
						<date-ctrl name="fiscalEnd" model="pt.fiscalEnd" />
					</span>
				</td>
				<td class="text-right">
					<span e-ng-change="pt.used = $data;" editable-number="pt.used" e-name="used" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:7em;">
						{{ pt.used }}
					</span>
				</td>
				<td class="text-right">
					<span e-ng-change="pt.ytdUsed = $data;" editable-number="pt.ytdUsed" e-name="ytdUsed" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:7em;">
						{{ pt.ytdUsed }}
					</span>
				</td>
				<td class="text-right">
					<span e-ng-change="pt.accumulatedValue = $data;" editable-number="pt.accumulatedValue" e-name="accumulatedValue" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:7em;">
						{{ pt.accumulatedValue }}
					</span>
					
				</td>
				<td class="text-right">
					<span e-ng-change="pt.ytdFiscal = $data;" editable-number="pt.ytdFiscal" e-name="ytdFiscal" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:7em;">
						{{ pt.ytdFiscal }}
					</span>
					
				</td>
				<td class="text-right">
					<span e-ng-change="pt.carryOver = $data;" editable-number="pt.carryOver" e-name="carryOver" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:5em;">
						{{ pt.carryOver }}
					</span>
				</td>
				<td class="text-right">
					<span ng-show="!rowform.$visible">
						{{pt.available  | currency:''}}
					</span>
					<span ng-show="rowform.$visible">
						{{ (pt.carryOver + pt.ytdFiscal - pt.ytdUsed) | currency:''}}
					</span>
					
				</td>
				<td style="white-space: nowrap" ng-show="showControls">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="saveAccumulation()" class="form-buttons form-inline" shown="selected==pt">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-edit m-r-5"></i> 
						</button>
						
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(pt)" ng-show="rowform.$visible" class="btn btn-success">
							<i class="fa fa-save m-r-5"></i> 
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-default">
							<i class="fa fa-remove m-r-5"></i> 
						</button>
						
					</form>
				</td>
			</tr>
			
		</table>
	</div>
	<div class="col-sm-12">
		<table class="table table-condensed">
			<tr>
				<th colspan="4" class="text-center">Employee Withheld</th>
			</tr>
			<tr>
				<th class="text-center">Description</th>
				<th class="text-center">Applicable Wage</th>
				<th class="text-center">Amount</th>
				<th class="text-center">YTD</th>
			</tr>
			<tr ng-repeat="tax in check.taxes | filter:{ isEmployeeTax: true}">
				<td>{{tax.tax.name}}</td>
				<td class="text-right">{{tax.taxableWage | currency:'$'}}</td>
				<td class="text-right">{{tax.amount | currency:'$'}}</td>
				<td class="text-right">{{tax.ytdTax | currency: '$'}}</td>
			</tr>
            <tr ng-repeat-start="ded in check.deductions | orderBy:'wage':true">
                <td>{{ded.deduction.description}}<span ng-show="ded.deduction.type.id===3">({{ded.employeeDeduction.accountNo}})</span></td>
                <td class="text-right">{{ded.wage | currency:'$'}}</td>
                <td class="text-right">{{ded.amount | currency:'$'}}</td>
                <td class="text-right">{{ded.ytd | currency: '$'}}</td>
            </tr>
            <tr ng-repeat-end ng-show="ded.employerAmount>0">
                <td>--{{ded.deduction.description}} - Employer<span ng-show="ded.deduction.type.id===3">({{ded.employeeDeduction.accountNo}})</span></td>
                <td class="text-right">{{ded.wage | currency:'$'}}</td>
                <td class="text-right">{{ded.employerAmount | currency:'$'}}</td>
                <td class="text-right">{{ded.ytdEmployer | currency: '$'}}</td>
            </tr>
			<tr>
				<td>Total</td>
				<td></td>
				<td class="text-right">{{ check.employeeTaxes + check.deductionAmount | currency:'$' }}</td>
				<td class="text-right">{{ check.employeeTaxesYTD + check.deductionYTD | currency:'$' }}</td>
			</tr>
		</table>
	</div>
	
	<div class="col-sm-12">
		<table class="table table-condensed">
			<tr>
				<th colspan="4" class="text-center">Employer Withheld</th>
			</tr>
			<tr>
				<th class="text-center">Description</th>
				<th class="text-center">Applicable Wage</th>
				<th class="text-center">Amount</th>
				<th class="text-center">YTD</th>
			</tr>
			<tr ng-repeat="tax in check.taxes | filter:{ isEmployeeTax: false}">
				<td>{{tax.tax.name}}</td>
				<td class="text-right">{{tax.taxableWage | currency:'$'}}</td>
				<td class="text-right">{{tax.amount | currency:'$'}}</td>
				<td class="text-right">{{tax.ytdTax | currency: '$'}}</td>
			</tr>
			<tr>
				<td>Total</td>
				<td></td>
				<td class="text-right">{{ check.employerTaxes | currency:'$' }}</td>
				<td class="text-right">{{ check.employerTaxesYTD | currency:'$' }}</td>
			</tr>
		</table>
	</div>
	
	<div class="col-sm-12 text-right">
		Net Pay: {{check.netWage | currency:'$'}}
	</div>
	
</div>