<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-1">Pay Period</div>
		<div class="col-sm-2 form-group">
			<label class="control-label">Start Date <span class="text-danger">*</span></label>
			<date-ctrl name="startdate" required="true" model="item.startDate" disabled="false"/>
		</div>
		<div class="col-sm-2">
			<label class="control-label">End Date <span class="text-danger">*</span></label>
			<date-ctrl name="enddate" required="true" model="item.endDate" min="item.startDate" disabled="!item.startDate" />
			
		</div>
		<div class="col-sm-2">
			<label class="control-label">Check Date <span class="text-danger">*</span></label>
			<date-ctrl name="payday" required="true" model="item.payDay" min="minPayDate" disabled="!item.startDate && !item.endDate" />
		</div>
		<div class="col-sm-2">
			<label class="control-label">Starting Check Number <span class="text-danger">*</span></label>
			<div class="input-group date">
				<input type="number" ng-model="item.startingCheckNumber" class="form-control" required data-parsley-pattern="/^[1-9][0-9]{2,5}$/" data-parsley-type="number" step="1" />
				
			</div>
		</div>
	</div>
	<div ng-show="list.length===0" class="table table-bordered">
		No employees found
	</div>
	<div class="col-sm-12" ng-if="showList()">
		<table ng-table="tableParams" class="table table-bordered table-condensed" show-filter="true" template-pagination="custom/pager">
			<tr ng-repeat="listitem in tableData track by $index" class="mouse-over-pointer" ng-class="{'danger': isPayCheckInvalid(listitem)}">
				<td data-title="'No'" filter="{ 'employeeNo': 'text' }" sortable=" 'employeeNo' " class="col-sm-1">
					{{listitem.employeeNo}}
				</td>
				<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-2">
					{{listitem.name}}
				</td>
				<td data-title=" 'Department' " filter="{ 'department': 'text' }" sortable=" 'department' " class="col-sm-1">
					{{listitem.department}}
				</td>
				<td data-title=" 'Wages' " filter="{ 'paytype': 'paytype' }" class="col-sm-2">
					<div class="row" ng-if="listitem.employee.payType===2">
						<input class="form-control" ng-model="listitem.salary" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" />
					</div>

					<div class="row" ng-if="listitem.employee.payType===1">
						<div class="col-sm-12">
							<div class="row alert-success">
								<div class="col-sm-6">Pay Code</div>
								<div class="col-sm-3">Hours</div>
								<div class="col-sm-3">Overtime</div>
							</div>
							<div class="row" ng-repeat="pc in listitem.payCodes">
								<div class="col-sm-6">{{pc.payCode.description}}</div>
								<div class="col-sm-3"><input type="number" class="form-control" ng-model="pc.hours" required data-parsley-pattern="/^[0-9][0-9]*$/" data-parsley-type="number" /></div>
								<div class="col-sm-3"><input type="number" class="form-control" ng-model="pc.overtimeHours" required data-parsley-pattern="/^[0-9][0-9]*$/" data-parsley-type="number" /></div>
							</div>
						</div>

					</div>
				</td>

				<td data-title=" 'Notes' " class="col-sm-1">
					<input type="text" class="form-control" ng-model="listitem.memo" />
				</td>
				<td class="col-sm-3">
					<button class="btn btn-sm btn-danger" ng-show="false" ng-click="removePayCheck(listitem)">remove</button>
					<button class="btn btn-warning btn-sm" ng-click="showcomps(listitem)">Compensations</button>
					<button class="btn btn-warning btn-sm" ng-click="showdeds(listitem)">Deducitons</button>
				</td>
			</tr>

		</table>


	</div>
	<div class="col-sm-12">
		<button class="btn btn-sm btn-primary" ng-click="process()" ng-if="showList()" ng-disabled="isPayrollInvalid()">process</button>
		<button class="btn btn-sm btn-default" ng-click="cancel()">cancel</button>
	</div>
	<script type="text/ng-template" id="ng-table/filters/paytype.html">
		<select id="paytypelist" class="form-control" ng-model="params.filter()[name]" name="filter-paytype" convert-to-number>
			<option value="0">All</option>
			<option value="1">Hourly</option>
			<option value="2">Salary</option>
		</select>
	</script>
	<script type="text/ng-template" id="custom/pager">
		
	</script>
	<script type="text/ng-template" id="popover/updatecomps.html">
		
			<div class="modal-header">
				<h2 class="modal-title">Comepnsations for {{paycheck.employee.name}}<i class="fa fa-plus-circle fa-lg" ng-show="availablePayTypes().length>0" ng-click="addPayType()"></i></h2>
			</div>
			<div class="modal-body">
				<form name="compform" data-parsley-validate="true">
					<div class="row" ng-repeat="paytype in paycheck.compensations track by $index">
						<div class="col-sm-6">{{paytype.payType.description}}</div>
						<div class="col-sm-3">
							<input class="form-control"
										 type="number"
										 ng-model="paytype.amount" required data-parsley-pattern="/^[1-9][0-9]*$/" />
						</div>
						<div class="col-sm-1">
							<button class="btn btn-sm btn-danger" ng-show="!item.id" ng-click="remove($index)"><i class="fa fa-remove"></i></button>
						</div>
					</div>
					<div class="row" ng-repeat="paytype in newPayTypes track by $index">
						<div class="col-sm-6">
							<select name="pt1{{$index}}" id="pt1{{$index}}" class="form-control" ng-change="updatePayTypeUsed(paytype)" ng-model="paytype.payType" ng-options="st.description for st in payTypeList(paytype) | orderBy:'id' track by st.id" required>
								<option value="">Please select...</option>
							</select>
						</div>
						<div class="col-sm-3">
							<input class="form-control"
										 type="number"
										 ng-model="paytype.amount" required data-parsley-pattern="/^[1-9][0-9]*$/" />
						</div>
						<div class="col-sm-1">
							<button class="btn btn-sm btn-danger" ng-show="!item.id" ng-click="removeFromNew($index)" ng-show="paytype.payType"><i class="fa fa-remove"></i></button>
						</div>
					</div>

				</form>
			</div>
		<div class="modal-footer">
			<div class="col-sm-12" ng-show="paycheck.compensations.length>0 || newPayTypes.length>0 || changesMade">
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()">cancel</button>
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="save()">save</button>
			</div>

		</div>

	</script>
	<script type="text/ng-template" id="popover/updatededs.html">

		<div class="modal-header">
			<h2 class="modal-title">Deductions for {{paycheck.employee.name}}</h2>
		</div>
		<div class="modal-body">
			<div class="row">
				<employee-deduction-list list="dedList" employee-id="paycheck.employee.id" company-deductions="deductionList" save-to-server="false" />
			</div>			
		</div>
		<div class="modal-footer">
			<div class="row" >
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()">cancel</button>
				<button type="button" class="btn btn-warning btn-sm pull-right" ng-click="save()">only on this check</button>
				<button type="button" class="btn btn-success btn-sm pull-right" ng-click="permanentSave()">permanently save</button>
				<button type="button" class="btn btn-danger btn-sm pull-right" ng-click="empty()">pay no deductions on this check</button>
			</div>

		</div>

	</script>
</div>


