<div class="row">
	<div class="col-sm-12 m-b-5  hidden-print">
		<div class="col-sm-4">
			<h4>{{item.company.name}}<i class="fa fa-lg fa-info-circle" ng-click="showcompany()"></i></h4><br />
			
		</div>
	</div>
	<div class="col-sm-12 m-b-5">
		<div class="col-sm-2 form-group">
			<label class="control-label">Start Date <span class="text-danger">*</span></label>
			<date-ctrl name="startdate" required="true" model="item.startDate" disabled="false" />
		</div>
		<div class="col-sm-2 form-group">
			<label class="control-label">End Date <span class="text-danger">*</span></label>
			<date-ctrl name="enddate" required="true" model="item.endDate" min="item.startDate" disabled="!item.startDate" ng-if="item.startDate" />

		</div>
		<div class="col-sm-2 form-group">
			<label class="control-label">Check Date <span class="text-danger">*</span></label>
			<date-ctrl name="payday" required="true" model="item.payDay" min="minPayDate" disabled="!item.startDate && !item.endDate" />
		</div>
		<div class="col-sm-2 form-group">
			<label class="control-label">Starting Check Number <span class="text-danger">*</span></label>
			<div class="input-group date">
				<input type="number" ng-model="item.startingCheckNumber" class="form-control" required data-parsley-pattern="/^[1-9][0-9]{2,5}$/" data-parsley-type="number" step="1" />

			</div>
		</div>
		<div class="col-sm-4 form-group">
			<label class="control-label">Notes</label>
			<textarea ng-model="item.notes" class="form-control" rows="4"></textarea>
		</div>
	</div>
	<div ng-show="list.length===0" class="table table-bordered">
		No employees found
	</div>
	<div class="col-sm-12" ng-if="showList()">
		<table ng-table="tableParams" class="table table-bordered table-condensed" show-filter="true" template-pagination="custom/pager">
			<tr ng-repeat="listitem in tableData track by $index" class="mouse-over-pointer" ng-class="{'danger': isPayCheckInvalid(listitem)}">
				<td data-title="'No'" filter="{ 'employeeNo': 'text' }" sortable=" 'employeeNo' " class="col-sm-1">
					<label class="checkbox-inline"><input name="inc{{$index}}" type="checkbox" ng-model="listitem.included" ng-change="itemIncluded(listitem)">{{listitem.employeeNo}}</label>
					
				</td>
				<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-2">
					<button type="button" class="btn btn-link" data-ng-click="showemployee(listitem)">{{listitem.name}}</button>

				</td>
				<td data-title=" 'Department' " filter="{ 'department': 'text' }" sortable=" 'department' " class="col-sm-1">
					{{listitem.department}}
				</td>
				<td data-title=" 'Wages' " filter="{ 'paytype': 'paytype' }" class="col-sm-4">
					<div class="row" ng-if="listitem.employee.payType===2">
						<input class="form-control" ng-model="listitem.salary" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" />
					</div>
					<div class="row" ng-if="listitem.employee.payType===3">
						<div class="col-sm-12">
							<div class="row alert-success">
								<div class="col-sm-6">Amount</div>
								<div class="col-sm-3">Hours</div>
								<div class="col-sm-3">Overtime</div>
							</div>
							<div class="row" ng-repeat="pc1 in listitem.payCodes">
								<div class="col-sm-6"><input class="form-control" ng-model="pc1.pwAmount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" style="width:10em;" /></div>
								<div class="col-sm-3"><input class="form-control" ng-model="pc1.screenHours" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" style="width:10em;" /></div>
								<div class="col-sm-3"><input class="form-control" ng-model="pc1.screenOvertime" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" style="width:10em;" /></div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="listitem.employee.payType===1">
						<div class="col-sm-12">
							<div class="row alert-success">
								<div class="col-sm-6">Pay Code / Pay Rate</div>
								<div class="col-sm-3">Hours</div>
								<div class="col-sm-3">Overtime</div>
							</div>
							<div class="row" ng-repeat="pc in listitem.payCodes | orderBy:'payCode.id'">
								<div class="col-sm-6" ng-show="pc.payCode.id>0">{{pc.payCode.description }} ({{pc.payCode.hourlyRate | currency:'$'}} per hour)</div>
								<div class="col-sm-6" ng-show="pc.payCode.id===0"><input class="form-control" ng-model="pc.payCode.hourlyRate" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" style="width:10em;" /></div>
								<div class="col-sm-3"><input class="form-control" ng-model="pc.screenHours" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" style="width:10em;" /></div>
								<div class="col-sm-3"><input class="form-control" ng-model="pc.screenOvertime" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" style="width:10em;" /></div>
							</div>
						</div>

					</div>
				</td>

				<td data-title=" 'Notes' " class="col-sm-2">
					<input type="text" class="form-control" ng-model="listitem.notes" />
				</td>
				<td class="col-sm-2">
					
					<button class="btn btn-info btn-sm" ng-click="showcomps(listitem)">Compensations <span class="badge">{{listitem.compensations.length}}</span></button>
					<button class="btn btn-info btn-sm" ng-click="showdeds(listitem)">Deducitons <span class="badge">{{listitem.deductions.length}}</span></button>
				</td>
			</tr>

		</table>


	</div>
	<div class="col-sm-12">
		<button class="btn btn-sm btn-primary pull-right" ng-click="process()" ng-if="showList()" ng-disabled="isPayrollInvalid()"><i class="fa fa-play-circle-o m-r-5"></i>process</button>
		<button class="btn btn-sm btn-default" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
		<button class="btn btn-sm btn-warning" ng-click="includeAll()" ng-if="showList()"><i class="fa fa-check m-r-5"></i> {{data.toggleState? 'Exclude' : 'Include'}} all</button>
		<button class="btn btn-sm btn-success attach-button pull-right" ng-if="false" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
			<i class="fa fa-upload"></i>Import Timesheets
		</button>
		<button class="btn btn-sm btn-success" ng-click="importTimesheet()" ng-if="showList()"><i class="fa fa-upload"></i>Import</button>
		<button class="btn btn-sm btn-info" ng-if="showList()" ng-click="getTimesheetmportTemplate()"><i class="fa fa-download"></i>Export Template</button>
		
	</div>
	<script type="text/ng-template" id="ng-table/filters/paytype.html">
		<select id="paytypelist" class="form-control" ng-model="params.filter()[name]" name="filter-paytype" convert-to-number>
			<option value="0">All</option>
			<option value="1">Hourly</option>
			<option value="2">Salary</option>
			<option value="3">Piece-Work</option>
		</select>
	</script>
	<script type="text/ng-template" id="custom/pager">

	</script>
	<script type="text/ng-template" id="popover/updatecomps1.html">

		<div class="modal-header">
			<h2 class="modal-title">Comepnsations for {{paycheck.employee.name}}<i class="fa fa-plus-circle fa-lg" ng-show="availablePayTypes().length>0" ng-click="addPayType()"></i></h2>
		</div>
		<div class="modal-body">
			<form name="compform" data-parsley-validate="true">
				<div class="row" ng-repeat="paytype in paycheck.compensations track by $index">
					<div class="col-sm-6">{{paytype.payType.description}}</div>
					<div class="col-sm-3">
						<input class="form-control"
									 type="number"
									 ng-model="paytype.amount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
					</div>
					<div class="col-sm-1">
						<button class="btn btn-sm btn-danger" ng-show="!item.id" ng-click="remove($index)"><i class="fa fa-remove"></i></button>
					</div>
				</div>
				<div class="row" ng-repeat="paytype in newPayTypes track by $index">
					<div class="col-sm-6">
						<select name="pt1{{$index}}" id="pt1{{$index}}" class="form-control" ng-change="updatePayTypeUsed(paytype)" ng-model="paytype.payType" ng-options="st.description for st in payTypeList(paytype) | orderBy:'id' track by st.id" required>
							<option value="">Please select...</option>
						</select>
					</div>
					<div class="col-sm-3">
						<input class="form-control"
									 data-parsley-type="number"
									 ng-model="paytype.amount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" convert-to-decimal />
					</div>
					<div class="col-sm-1">
						<button class="btn btn-sm btn-danger" ng-show="!item.id" ng-click="removeFromNew($index)" ng-show="paytype.payType"><i class="fa fa-remove"></i></button>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<div class="col-sm-12" ng-show="paycheck.compensations.length>0 || newPayTypes.length>0 || changesMade">
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="save()"><i class="fa fa-save m-r-5"></i> Save</button>
			</div>

		</div>

	</script>
	<script type="text/ng-template" id="popover/updatededs.html">

		<div class="modal-header">
			<h2 class="modal-title">Deductions for {{paycheck.employee.name}}</h2>
		</div>
		<div class="modal-body">
			<div class="row">
				<employee-deduction-list list="dedList" employee-id="paycheck.employee.id" company-deductions="deductionList" save-to-server="false" />
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()">cancel</button>
				<button type="button" class="btn btn-warning btn-sm pull-right" ng-click="save()">only on this check</button>
				<button type="button" class="btn btn-success btn-sm pull-right" ng-click="permanentSave()">permanently save</button>
				<button type="button" class="btn btn-danger btn-sm pull-right" ng-click="empty()">pay no deductions on this check</button>
			</div>

		</div>

	</script>
	<script type="text/ng-template" id="popover/employee.html">

		<div class="modal-header">
			<h2 class="modal-title">{{employee.name}} Details</h2>
		</div>
		<div class="modal-body">
			<div class="row">
				<employee employee="employee" main-data="mainData" is-popup="true" show-controls="true" />
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="popover/importtimesheet.html">

		<div class="modal-header">
			<h2 class="modal-title">Import Timesheet setup </h2>
		</div>
		<div class="modal-body">
			
				<div class="row alert alert-danger" ng-show="alerts.length>0">
					{{alerts[0].message}}
				</div>
				<div class="row" >
					<div class="col-sm-6 form-group">
						<label>Select File (csv or xlsx)</label><br />
						<label ng-show="files.length===1">File Name  = {{files[0].doc.file.name}}</label>
						<button class="btn btn-sm btn-success attach-button pull-right" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
							<i class="fa fa-upload"></i>Import Timesheets
						</button>
					</div>
					<div class="col-sm-3 form-group">
						<label>Starting Row</label>
						<input class="form-control"
									 type="number"
									 ng-model="importMap.startingRow" required data-parsley-pattern="/^[0-9]?$/" data-parsley-min="1" />
					</div>
					<div class="col-sm-3 form-group">
						<label># of Columns</label>
						<input class="form-control"
									 type="number"
									 ng-model="importMap.columnCount" required data-parsley-pattern="/^[0-9]?$/" data-parsley-min="1" />
					</div>
				</div>
				<div class="row" ng-show="showTable()">
					
					<table class="table table-header table-bordered table-condensed form-controls input-sm">
						<thead>
							<tr>
								<td class="col-sm-6">Field</td>
								<td class="col-sm-3">Position/Column #</td>	
								<td>
									<button class="btn btn-sm btn-primary" ng-click="add()" ng-show="availableColumns(-1).length>0 && !selected">add</button>
								</td>							
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="f in importMap.columnMap track by $index">
								<td>
									<!-- editable tesltra worktype (select-local) -->
									<span e-ng-change="f.key = $data;" editable-select="f.key" e-name="key" e-form="rowform" e-ng-options="field for field in availableColumns($index)">
										{{ f.key }}
									</span>
								</td>
								<td>
									<span editable-number="f.value" e-name="fvalue" e-form="rowform" e-ng-change="f.value = $data" e-ng-pattern="/^[0-9]?$/" e-step="1">
										{{ f.value }}
									</span>
								</td>
								<td style="white-space: nowrap" >
									<!-- form -->
									<form editable-form id="rowform" name="rowform" onbeforesave="saveSelected(f)" class="form-buttons form-inline" shown="selected===f">
										<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
											<i class="fa fa-edit m-r-5"></i> edit
										</button>
										<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(f)" ng-show="rowform.$visible" class="btn btn-success">
											<i class="fa fa-save m-r-5"></i> save
										</button>
										<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelSelected(f, $index)" class="btn btn-default">
											<i class="fa fa-remove m-r-5"></i> cancel
										</button>
									</form>
								</td>

							</tr>
							<tr ng-show="!selected">
								<td colspan="3">
									<span ng-show="importMap.columnMap.length===0">No mappings found</span>
								</td>

							</tr>

						</tbody>
					</table>
					
				</div>

			
		</div>
		<div class="modal-footer">
			<div class="col-sm-12" >
				<button type="button" class="btn btn-default btn-sm pull-right" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-disabled="!ready()" ng-click="uploadDocument()"><i class="fa fa-save m-r-5"></i> Go</button>
			</div>

		</div>

	</script>
</div>


