<div class="col-sm-12">
	<div class="col-sm-12 hidden-print" ng-if="invoice.status>2">
		<div class="col-sm-12">
			<div class="col-sm-3 form-group">
				<label>Total</label>
				<span>{{invoice.total | currency:'$'}}</span>
			</div>
			<div class="col-sm-3 form-group">
				<label>Balance</label>
				<span>{{invoice.balance | currency:'$'}}</span>
			</div>
			<div class="col-sm-3 form-group">
				<label>Status</label>
				<span>{{invoice.statusText}}</span>
			</div>
			<div class="col-sm-3 alert alert-danger hidden-print" ng-if="invoice.taxesDelayed">
				Taxes Delayed
			</div>
		</div>
		
		<div class="col-sm-12 panel-default" ng-show="data.showPayments">
			<div class="panel-heading"><strong>Payments Received</strong></div>
		</div>
		<div class="col-sm-12" ng-show="data.showPayments">
			<table class="table table-invoice">
				<thead>
					<tr>
						<th class="col-sm-2">Deposit Date</th>
						<th class="col-sm-1">Type</th>
						<th class="col-sm-2">Check Number</th>
						<th class="col-sm-2">Amount</th>
						<th class="col-sm-3">Notes</th>
						<th class="col-sm-2">
							<i class="fa fa-lg fa-plus-circle" ng-click="addPayment()" ng-show="paymentRemaining()"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="payment in invoice.invoicePayments track by $index">
						<td ng-show="isPaymentEditable(payment)">
							<date-ctrl name="paydate" required="true" model="payment.paymentDate" />
						</td>
						<td ng-show="!isPaymentEditable(payment)">
							{{payment.paymentDate | date:'MM/dd/yyyy'}}
						</td>
						<td>
							<select class="form-control" ng-model="payment.method" convert-to-number ng-show="isPaymentEditable(payment)" required>
								<option value="1">Check</option>
								<option value="2">Cash</option>
								<option value="3">Cert Fund</option>
								<option value="4">Corp Check</option>
								<option value="5">ACH</option>
							</select>
							<span ng-show="!isPaymentEditable(payment)">{{payment.statusText}}</span>
						</td>
						<td>
							<input type="number" class="form-control" ng-model="payment.checkNumber" ng-show="(payment.method===1 || payment.method===4) && isPaymentEditable(payment)" ng-required="payment.method===1" />
							<span ng-show="(payment.method===1 || payment.method===4) && !isPaymentEditable(payment)">{{payment.checkNumber}}</span>
						</td>
						<td>
							<input class="form-control" name="amount{{$index}}" ng-model="payment.amount" convert-to-decimal data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-trigger="blur" step="0.01" ng-show="isPaymentEditable(payment)" ng-max="paymentRemaining()" />
							<span ng-show="!isPaymentEditable(payment)">{{payment.amount | currency:'$'}}</span>
						</td>
						<td>
							<input class="form-control" type="text" ng-model="payment.notes" ng-show="isPaymentEditable(payment)" />
							<span ng-show="!isPaymentEditable(payment)">{{payment.notes}}</span>
						</td>
						<td>
							<div class="label label-info" ng-if="payment.status===5 && !payment.marker">Deposited</div>
							<div class="label label-success" ng-if="payment.status===3 && !payment.marker">Paid</div>
							<div class="label label-danger" ng-if="payment.status===4 && !payment.marker">Bounced</div>
							<button class="btn btn-xs btn-danger" ng-click="payment.status=4; payment.marker=true;unsavedPayments=true" ng-show="(payment.method===1 || payment.method===5) && (payment.status===2 || payment.status===5)"><i class="fa fa-lg fa-bomb"></i> Bounced?</button>
							<button class="btn btn-xs btn-success" ng-click="payment.status=3; payment.marker=true;unsavedPayments=true" ng-show="payment.status===2 || payment.status===5"><i class="fa fa-lg fa-money"/> Paid?</button>
							<button class="btn btn-xs btn-info" ng-click="payment.status=5; payment.marker=true;unsavedPayments=true" ng-show="(payment.method===1 || payment.method===5) && (payment.status===2 || payment.status===4)"><i class="fa fa-lg fa-bank" /> Deposited?</button>
							<i class="fa fa-remove fa-lg" ng-click="deletepayment($index);unsavedPayments=true" ng-show="isPaymentEditable(payment) && showControls"></i>
							<label class="label label-success" ng-if="payment.status===3 && payment.marker">Will be marked Paid when saved</label>
							<label class="label label-danger" ng-if="payment.status===4 && payment.marker">Will be marked Bounced when saved</label>
							<label class="label label-info" ng-if="payment.status===5 && payment.marker">Will be marked Deposited when saved</label>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="invoice col-sm-8" id="print">
			<div class="invoice-company hidden-print">
				<span class="pull-left input-group">
					
					
					
					
					<select name="courier" ng-model="invoice.courier" class="form-control pull-left  " ng-options="ctx for ctx in data.config.couriers" ng-if="!mainData.userCompany && invoice.status===2">
						<option value="">Select Courier</option>
					</select>
					<date-ctrl name="redate" model="data.reDate" min="invoice.payrollPayDay" max="maxReDate" ng-if="!mainData.userCompany && invoice.taxesDelayed" />


				</span>
				<span class="pull-right" style="width:80%">

					<a class="btn btn-success btn-icon btn-circle btn-lg pull-right" ng-click="print()" ng-show="invoice.status>1" title="Print"><i class="fa fa-print"></i></a>
					<a class="btn btn-danger btn-icon btn-circle btn-lg pull-right" ng-click="delete()" ng-show="data.showDelete && !mainData.userCompany && invoice.status===1" title="Delete"><i class="fa fa-trash"></i></a>
					<a class="btn btn-default btn-icon btn-circle btn-lg pull-right" ng-click="cancel()" title="Cancel"><i class="fa fa-times"></i></a>
					<a class="btn btn-success btn-icon btn-circle btn-lg pull-right" ng-click="save()" ng-show="!mainData.userCompany && isInvoiceEditable() && data.showEditable" ng-disabled="isInvoiceInvalid()" title="Save"><i class="fa fa-save"></i></a>

					<a class="btn btn-info btn-icon btn-circle btn-lg" ng-click="saveWithStatus(2)" ng-show="!mainData.userCompany && invoice.status<2  && data.showEditable" ng-disabled="isInvoiceInvalid()" title="Approve"><i class="fa fa-check"></i></a>
					<a class="btn btn-success btn-icon btn-circle btn-lg pull-left" ng-click="saveWithStatus(3)" ng-disabled="!invoice.courier" ng-if="!mainData.userCompany && invoice.status===2 && data.showDelivery" title="Delivered"><i class="fa fa-truck"></i></a>
					<a class="btn btn-success btn-icon btn-circle btn-lg" ng-click="recreate()" ng-show="invoice.status<3 && !mainData.userCompany && isInvoiceEditable() && data.showEditable" ng-disabled="isInvoiceInvalid()" title="Refresh"><i class="fa fa-recycle"></i></a>

					<a class="btn btn-danger btn-icon btn-circle btn-lg pull-left" ng-click="reDateInvoicePayroll()" ng-disabled="!data.reDate" ng-if="!mainData.userCompany && invoice.taxesDelayed" title="Re-Date"><i class="fa fa-retweet"></i></a>

					<a class="btn btn-danger btn-icon btn-circle btn-lg pull-left" ng-click="delayTaxes()" ng-if="!mainData.userCompany && invoice.status>2 && !invoice.taxesDelayed  && data.showEditable" title="Delay Taxes"><i class="fa fa-pause"></i></a>
				</span>
				
				&nbsp;
			</div>
			<div class="invoice-company hidden-print" ng-if="data.companyUpdated">
				<label class="label label-warning">*Changes made to company invoice set up will not fully take affect until you refresh</label>
			</div>
			<div class="invoice-header">
				<div class="invoice-from">
					<small><img ng-src="{{getHostLogo()}}" err-src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="width:200px;height:40px" /></small>
					<address class="m-t-5 m-b-5">
						<strong>{{invoice.company.name}}</strong><i class="fa fa-lg fa-info-circle hidden-print" ng-show="showControls" ng-click="showcompany()"></i><br />
						{{invoice.company.companyAddress.addressLine1}}<br />
						{{invoice.company.companyAddress.city}}, CA, {{invoice.company.companyAddress.zip}}{{invoice.company.companyAddress.zipExtension? ' - ' + invoice.company.companyAddress.zipExtension : ''}}<br />
						Phone: {{ getContactPhone(data.companyContact) }}<br />
						Fax: {{ getContactFax(data.companyContact) }}<br/>
						{{ data.companyContact.firstName + ' ' + data.companyContact.lastName}}
					</address>
				</div>
				<div class="invoice-to">
					
				</div>
				<div class="invoice-date">
					<small>Invoice# {{invoice.invoiceNumber}}</small>
					<div class="date m-t-5">{{invoice.invoiceDate | date:'MMMM dd, yyyy'}}</div>
					<div class="invoice-detail">
						No. of Checks: {{invoice.noOfChecks}}<br />
						Payroll Pay Day: {{invoice.payrollPayDay | date:'MM/dd/yyyy'}}<br/>
						Tax Pay Day: {{invoice.payrollTaxPayDay | date:'MM/dd/yyyy'}}<br />
						Payroll Pay Period: {{invoice.periodStart | date:'MM/dd/yyyy'}} - {{invoice.periodEnd | date:'MM/dd/yyyy'}}<br/>
						Check Pay: {{invoice.checkPay | currency:'$'}}<br/>
						DD Pay: {{invoice.ddPay | currency:'$'}}<br/>
						Net Pay: {{invoice.netPay | currency:'$'}}
					</div>
				</div>
			</div>
			<div class="invoice-content">
				<div class="table-responsive">
					<table class="table table-invoice">
						<thead>
							<tr>
								<th>DESCRIPTION</th>
								<th>BASIS</th>
								<th>RATE</th>
								<th>AMOUNT</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-class="{'default': invoice.companyInvoiceSetup.invoiceType===1, 'hidden-print': invoice.companyInvoiceSetup.invoiceType!==1}" style="height:5px;">
								<td>Gross Payroll</td>
								<td></td>
								<td></td>
								<td class="text-right">{{invoice.grossWages | currency:'$'}} <i class="fa fa-check-circle fa-lg" style="color:green" ng-if="invoice.companyInvoiceSetup.invoiceType===1"></i></td>
							</tr>
							<tr ng-class="{'default': invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType!==2}">
								<td>
									<i class="fa fa-lg hidden-print" ng-class="{'fa-minus-circle': invoice.expandedEE, 'fa-plus-circle':!invoice.expandedEE}" ng-click="invoice.expandedEE=!invoice.expandedEE"></i>
									Employee Contribution
								</td>
								<td></td>
								<td></td>
								<td class="text-right">{{invoice.employeeContribution | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green" ng-if="invoice.companyInvoiceSetup.invoiceType===2"></i></td>
							</tr>
							<tr ng-show="invoice.expandedEE" class="hidden-print" ng-repeat="ee in invoice.employeeTaxes | orderBy:'tax.id'">
								<td> - {{ee.tax.name}}</td>
								<td>{{ee.taxableWage | currency:'$'}}</td>
								<td><span class="hidden-print">{{(ee.taxableWage ? (ee.amount*100/ee.taxableWage) : 0) | currency:''}}%</span></td>
								<td class="text-left">{{ee.amount | currency:'$'}}</td>
							</tr>
							<tr ng-show="invoice.expandedEE" class="hidden-print" ng-repeat="dd in invoice.deductions | orderBy:'name'">
								<td> - {{dd.name}}<span ng-show="dd.deduction.type.id===3">({{dd.employeeDeduction.accountNo}})</span></td>
								<td></td>
								<td>{{dd.method===1?'':'$'}}{{dd.rate | currency:''}}{{dd.method===1?'%':''}}</td>
								<td class="text-left">{{dd.amount | currency:'$'}}</td>
							</tr>
							<tr ng-if="invoice.companyInvoiceSetup.invoiceStyle===1 || !invoice.companyInvoiceSetup.invoiceStyle" ng-class="{'default': invoice.companyInvoiceSetup.invoiceType===1 || invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType > 2}">
								<td colspan="3">
									<i class="fa fa-lg hidden-print" ng-show="invoice.companyInvoiceSetup.invoiceStype!==2" ng-class="{'fa-minus-circle': invoice.expandedER, 'fa-plus-circle':!invoice.expandedER}" ng-click="invoice.expandedER=!invoice.expandedER"></i>
									Employer Contribution<br />
											(Included Social Security, Medicare, FUTA, SUTA/SUI Management)
										
								</td>

								<td class="text-right">{{invoice.employerContribution | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green" ng-if="invoice.companyInvoiceSetup.invoiceType===1 || invoice.companyInvoiceSetup.invoiceType===2"></i></td>
							</tr>
							<tr ng-if="invoice.companyInvoiceSetup.invoiceStyle===2" ng-class="{'default': invoice.companyInvoiceSetup.invoiceType===1 || invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType>2}">
								<td colspan="3">Employer Contributions</td>
								<td class="text-right">{{invoice.employerContribution | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green" ng-if="invoice.companyInvoiceSetup.invoiceType===2"></i></td>
							</tr>
							<tr ng-show="invoice.companyInvoiceSetup.invoiceStyle===2 || invoice.expandedER" ng-repeat="et in invoice.employerTaxes | orderBy:'tax.id'">
								<td> - {{et.tax.name}}</td>
								<td>{{et.taxableWage | currency:'$'}}</td>
								<td><span class="hidden-print">{{(et.taxableWage? (et.amount*100/et.taxableWage) : 0) | currency:''}}%</span></td>
								<td class="text-left">{{et.amount | currency:'$'}}</td>
							</tr>
							<tr ng-if="invoice.workerCompensations.length>0" class="default">
								<td>Worker Compensations</td>
								<td colspan="2">
									<label for="fileUnderHost" class="switch hidden-print">
										Apply Min Gross Wage Limits?
										<input id="fileUnderHost" type="checkbox" ng-model="invoice.applyWCMinWageLimit" ng-change="updateWC()" /><i></i>
									</label>
								</td>
								<td class="text-right">{{invoice.workerCompensationCharges | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green" ></i></td>
							</tr>

							<tr ng-repeat="wc in invoice.workerCompensations | orderBy:'tax.id'" ng-if="invoice.workerCompensations.length>0">
								<td>{{wc.workerCompensation.code + ': ' + wc.workerCompensation.description}}</td>
								<td>{{wc.wage | currency:'$'}}</td>
								<td>{{wc.workerCompensation.rate | currency:''}}%</td>
								<td class="text-left">{{wc.amount | currency:'$'}}</td>
							</tr>
							<tr class="default">
								<td colspan="3"><strong>Fee(s) & Charge(s) & Credit(s) <i class="fa fa-lg fa-plus-circle hidden-print" ng-click="addLineItem()"></i></strong><button class="btn btn-xs btn-danger" ng-click="removeAllVoidedCredits()" ng-show="invoice.hasVoidedCredits"><i class="fa fa-remove"></i> remove all voided credits</button></td>
								<td class="text-right"><em><u>{{getLineItemTotal() | currency:'$'}}</u></em></td>
							</tr>

							<tr ng-if="invoice.adminFee > 0">
								<td>ADMINISTRATION FEE</td>
								<td></td>
								<td>{{ invoice.companyInvoiceSetup.adminFeeMethod===1 ? '$' : ''}}{{invoice.companyInvoiceSetup.adminFee | currency:''}}{{ invoice.companyInvoiceSetup.adminFeeMethod===1 ? '' : '%'}}</td>
								<td>{{invoice.adminFee | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green"></i></td>

							</tr>
							<tr ng-if="invoice.environmentalFee > 0">
								<td>Environmental FEE</td>
								<td></td>
								<td>{{invoice.environmentalFee/invoice.noOfChecks | currency:'$'}} per check</td>
								<td>{{invoice.environmentalFee | currency:'$'}}<i class="fa fa-check-circle fa-lg" style="color:green"></i></td>

							</tr>
							<tr ng-repeat="lineitem in invoice.miscCharges track by $index" ng-class="{'danger': lineitem.amount<0}">
								<td>
									<div class="input-group hidden-print" ng-show="isInvoiceEditable()">
										<i class="fa fa-remove fa-lg input-group-addon" ng-click="deletelineitem($index, lineitem)"></i>
										<input class="form-control" type="text" ng-model="lineitem.description" required ng-show="lineitem.isEditable" />
										<span class="input-group-addon form-control" ng-show="!lineitem.isEditable">{{lineitem.description}}</span>

									</div>
									<span ng-show="!isInvoiceEditable()">{{lineitem.description}}</span>
									<span ng-show="isInvoiceEditable()" class="visible-print">{{lineitem.description}}</span>
								</td>
								<td><span ng-show="lineitem.recurringChargeId>0">{{lineitem.previouslyClaimed | currency:'$'}}</span></td>
								<td><span ng-show="lineitem.recurringChargeId>0">{{lineitem.rate | currency:'$'}}</span></td>
								<td class="text-left">
									<input name="lineamount{{$index}}" class="form-control hidden-print" ng-show="isInvoiceEditable() && lineitem.isEditable" style="width:7em;" ng-model="lineitem.amount" required data-parsley-pattern="/^-?[0-9]+(\.[0-9]{1,2})?$/" data-parsley-trigger="blur" data-parsley-type="number" />
									<span ng-show="(invoice.status>1 && !isInvoiceEditable()) || !lineitem.isEditable" class="hidden-print">{{lineitem.amount | currency:'$'}}</span>
									<span class="visible-print">{{lineitem.amount | currency:'$'}}</span>
								</td>

							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="invoice-price">
					<div class="invoice-price-left">
						<div class="invoice-price-row">
							<div class="sub-price">
								<small>SUBTOTAL</small>
								{{ getSubTotal() | currency:'$'}}
							</div>
							<div class="sub-price">
								<i class="fa fa-plus"></i>
							</div>
							<div class="sub-price">
								<small>Fee(s) & Charge(s) & Credit(s)</small>
								{{ getLineItemTotal() | currency:'$'}}
							</div>
						</div>
					</div>
					<div class="invoice-price-right">
						<small>TOTAL</small> {{ getTotal() | currency:'$'}}
					</div>
				</div>
			</div>
			<div class="invoice-note" ng-if="!isInvoiceEditable()">
				* {{invoice.notes}}<br />
				* {{invoice.specialRequest}}<br />
				* If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
			</div>
			<div class="invoice-note hidden-print" ng-if="invoice.status<2 || isInvoiceEditable()">
				<div class="form-group">
					<label>Notes</label>
					<textarea class="form-control" ng-model="invoice.notes" rows="4"></textarea>
				</div>
				
			</div>
			<div class="hidden-print alert alert-warning " ng-show="data.showCommissions">
				<div class="col-sm-9 form-group">
					<select ng-model="invoice.salesRep" ng-disabled="invoice.commissionClaimed" name="user" class="form-control" ng-options="u.userId as (u.firstName + ' ' + u.lastName) for u in mainData.users">
						<option value="">Select User</option>
					</select>
				</div>
				<div class="col-sm-3 form-group">
					<input name="com" ng-model="invoice.commission" ng-disabled="invoice.commissionClaimed" step="0.01" class="form-control" convert-to-decimal />
				</div>
				
				
				
			</div>
			<div class="invoice-footer text-muted">
				<p class="text-center m-b-5">
					THANK YOU FOR YOUR BUSINESS
				</p>
				<p class="text-center">
					<span class="m-r-10"><i class="fa fa-globe"></i> http://{{host.url}}.hrmaxx.com</span>
					<span class="m-r-10"><i class="fa fa-phone"></i> T:{{ getContactPhone(data.hostContact) }}</span>
					<span class="m-r-10"><i class="fa fa-envelope"></i> {{data.hostContact.email}}</span>
				</p>
			</div>
		</div>
		
		<div class="col-sm-4  hidden-print" ng-if="!mainData.userCompany && showControls">
			<div class="alert alert-danger hidden-print col-sm-12 m-l-20" ng-if="invoice.company.notes">
				{{invoice.company.notes}}
			</div>
			<div class="alert alert-danger hidden-print col-sm-12 m-l-20" ng-if="invoice.notes">
				{{invoice.notes}}
			</div>
			<div class="alert alert-info hidden-print col-sm-12 m-l-20">
				<strong>Tax Deposit Frequency: {{invoice.company.taxDepositFrequency}}</strong>
			</div>
			<div class="col-sm-12 m-l-20" ng-if="invoice.id && data.showEditable">
				<comment-list source-type-id="2" source-id="invoice.companyId" list="invoice.comments" heading="'Internal Notes'" />
			</div>

			<div class="col-sm-12 m-l-20" id="versions" ng-if="invoice.id" ng-show="data.showVersions">
				<memento-list main-data="mainData" source-type-id="data.sourceTypeId" memento-id="invoice.id" heading="'Invoice Versions'" />
			</div>
		</div>
		
		
		
	</div>
	
</div>

