<div class="panel panel-info hidden-print">
	<div class="panel-heading">
		<h2 class="panel-title">{{item.company.name}}<i class="fa fa-lg fa-info-circle" ng-click="showcompany()"></i></h2>
	</div>
	<div class="panel-body tab-content">
		<form data-parsley-validate="true" name="payrollstep1">
			<div class="row">
				<div class="col-sm-12 m-b-5">
					<div class="col-sm-2 form-group">
						<div class="form-group">
							<label class="control-label">Start Date <span class="text-danger">*</span></label>
							<date-ctrl name="startdate" required="true" model="item.startDate" disabled="item.loadFromTimesheets" />
						</div>
						<div class="form-group" ng-show="item.startDate">
							<label class="control-label">End Date <span class="text-danger">*</span></label>
							<date-ctrl name="enddate" required="true" model="item.endDate" min="item.startDate" disabled="item.loadFromTimesheets" />


						</div>
						<div class="form-group" ng-show="item.company.contract.timesheets">
							<label></label>
							<div>
								<label for="fromtts" class="switch">
									Load Timesheets
									<input id="fromtts" type="checkbox" ng-model="item.loadFromTimesheets" ng-disabled="true" /><i></i>
								</label>
							</div>
						</div>
					</div>
					
					
					<div class="col-sm-2 form-group">


						<div class="form-group">
							<label class="control-label">Starting Check Number <span class="text-danger">*</span></label>
							<input type="number" ng-model="item.startingCheckNumber" class="form-control input-sm" required data-parsley-pattern="/^[1-9][0-9]{2,9}$/" data-parsley-type="number" step="1" />

						</div>
						<div class="form-group" ng-show="item.startDate && item.endDate">
							<label class="control-label">Check Date <span class="text-danger">*</span></label>
							<date-ctrl name="payday" required="true" model="item.payDay" min="minPayDate" />

						</div>
						<div class="form-group" ng-show="item.company.contract.timesheets && item.loadFromTimesheets">

							<label></label>
							<div>
								<label for="appr" class="switch">
									Approved
									<input id="appr" type="checkbox" ng-model="item.approvedOnly" ng-disabled="true"/><i></i>
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-2 form-group">
						<div class="form-group">
							<label class="control-label">Notes</label>
							<textarea ng-model="item.notes" class="form-control" rows="5"></textarea>
						</div>
						<div class="form-group" ng-show="item.company.contract.certifiedPayrolls">
							<label></label>
							<div>
								<label for="iscertified" class="switch">
									Certified
									<input id="iscertified" type="checkbox" ng-model="item.isCertified" ng-disabled="true" /><i></i>
								</label>
							</div>
						</div>
						
					</div>
					<div class="col-sm-2 form-group">
						<div class="form-group">
							<label class="control-label">Invoice Special Request</label>
							<textarea ng-model="item.invoiceSpecialRequest" class="form-control" rows="5"></textarea>
						</div>
						<div class="form-group" ng-show="item.company.contract.certifiedPayrolls && item.isCertified">
							<label for="projectid">Project <span class="text-danger">*</span></label>
							<select id="project" class="form-control" ng-model="item.project" ng-options="e.projectName for e in company.companyProjects | orderBy:'projectId' track by e.id" ng-disabled="item.loadFromTimesheets">
								<option value="">Select Project</option>
							</select>

						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group" ng-show="datasvc.canRunHistoryPayroll">
							<label></label>
							<div>
								<label for="ishistory" class="switch">
									Is History Payroll?
									<input id="ishistory" type="checkbox" ng-model="item.isHistory" ng-disabled="company.fileUnderHost" ng-show="mainData.userRole==='SuperUser' || mainData.userRole==='Master'" /><i></i>
								</label>
							</div>

						</div>
						<div class="button-group">
							<a class="btn btn-default btn-icon btn-circle btn-lg" ng-click="cancel()" title="Cancel"><i class="fa fa-undo"></i></a>
							<a class="btn btn-warning btn-icon btn-circle btn-lg" ng-click="includeAll()" ng-if="showList()" title="Include All"><i class="fa fa-check"></i></a>
							<a class="btn btn-success btn-icon btn-circle btn-lg" ng-click="importTimesheet()" ng-if="showList()" title="Import"><i class="fa fa-upload"></i></a>
							<a class="btn btn-info btn-icon btn-circle btn-lg" ng-if="showList()" ng-click="getTimesheetmportTemplate()" title="Export"><i class="fa fa-download"></i></a>
						</div>

					</div>
					
				</div>
				<div ng-show="list.length===0" class="table table-bordered">
					No employees found
				</div>
				
				<div class="col-sm-12 dt-buttons button-group m-r-10" ng-if="showList()">
					
						<button class="btn btn-sm btn-primary pull-right" ng-click="process()" ng-if="showList()" ng-disabled="isPayrollInvalid()"><i class="fa fa-play-circle-o m-r-5"></i>process <span class="badge">{{correctChecks()}}</span><span></span></button>
						<button class="btn btn-sm pull-right" ng-class="{'btn-danger':!data.showingErrors, 'btn-success':data.showingErrors}" ng-click="showErrors()" ng-if="showList()" ng-show="erroneousChecks()>0 || data.showingErrors"><i class="fa fa-thumbs-o-up m-r-5" ng-class="{'fa-thumbs-o-down':!data.showingErrors, 'fa-thumbs-o-up':data.showingErrors}"></i>{{data.showingErrors?'show all' : 'show erorrs (' + erroneousChecks() + ')'}}</button>
						<button class="btn btn-sm pull-right btn-warning" ng-click="showWarnings()" ng-if="showList()" ng-show="warningChecks()>0 || data.showingWarnings"><i class="fa m-r-5" ng-class="{'fa-warning':!data.showingWarnings, 'fa-check':data.showingWarnings}"></i>{{data.showingWarnings?'show all' : 'min wage! (' + warningChecks() + ')'}}</button>
						<button class="btn btn-sm pull-right btn-warning" ng-click="showWCWarnings()" ng-if="showList()" ng-show="wcWarningChecks()>0 || data.showingWCWarnings"><i class="fa m-r-5" ng-class="{'fa-warning':!data.showingWCWarnings, 'fa-check':data.showingWCWarnings}"></i>{{data.showingWCWarnings?'show all' : 'No WC! (' + wcWarningChecks() + ')'}}</button>


						<label class="label label-warning" ng-if="showList() && company.payrollMessage"><strong>{{company.payrollMessage}}</strong></label>
					
				</div>
				<div class="col-sm-12 pre-scrollable" ng-if="showList()">
					<table ng-table="tableParams" class="table table-condensed table-responsive" show-filter="true" template-pagination="custom/pager">
						<tr ng-repeat="listitem in tableData track by $index" class="mouse-over-pointer" ng-class="{'danger': isPayCheckInvalid(listitem), 'warning':listitem.hasWarning || listitem.hasWCWarning}">
							<td data-title="'No'" filter="{ 'companyEmployeeNo': 'text' }" sortable=" 'companyEmployeeNo' " class="col-sm-1">
								<label class="checkbox-inline">
									<input name="inc{{$index}}" type="checkbox" ng-model="listitem.included" ng-change="itemIncluded(listitem)" tabindex="-1" ng-disabled="item.loadFromTimesheets">{{listitem.companyEmployeeNo}}
									<i class="fa fa-check-circle-o" ng-if="listitem.inLastPayroll" style="color:green"></i>
								</label>

							</td>
							<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-2">
								<button type="button" class="btn btn-link" data-ng-click="showemployee(listitem)" tabindex="-1">{{listitem.name}}<span ng-show="listitem.companyEmployeeNo"> ({{listitem.employeeNo}})</span></button>

							</td>
							<td data-title=" 'Department' " filter="{ 'department': 'text' }" sortable=" 'department' " class="col-sm-1">
								{{listitem.department ? listitem.department : '&nbsp;'}}
							</td>
							<td data-title=" 'Wages' " class="col-sm-3" filter="{payType:'select'}" filter-data="paytypes">
								<div class="row" ng-if="listitem.employee.payType===2">
									<input class="form-control" ng-model="listitem.salary" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" />
								</div>
								<div class="row" ng-if="listitem.employee.payType===4">
									<div class="col-sm-6">
										<input class="form-control" ng-model="listitem.salary" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" />
									</div>
									<div class="col-sm-6">
										<button class="btn btn-sm btn-success" ng-click="showjobcost(listitem)">job cost</button>
									</div>


								</div>
								<div class="row" ng-if="listitem.employee.payType===3">
									<div class="col-sm-12">
										<div class="row alert-success">
											<div class="col-sm-6">Amount</div>
											<div class="col-sm-3">Hours</div>
											<div class="col-sm-3">Overtime</div>
										</div>
										<div class="row" ng-repeat="pc1 in listitem.payCodes" ng-if="pc1.payCode.id===-1">
											<div class="col-sm-6"><input class="form-control" ng-model="pc1.pwAmount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" ng-disabled="item.loadFromTimesheets" /></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc1.screenHours" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="item.loadFromTimesheets"/></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc1.screenOvertime" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="item.loadFromTimesheets"/></div>
										</div>
										<div class="row alert-success">
											<div class="col-sm-6">Pay Code / Pay Rate</div>
											<div class="col-sm-3">Hours</div>
											<div class="col-sm-3">Overtime</div>
										</div>
										<div class="row" ng-repeat="pc in listitem.payCodes | orderBy:'payCode.id'" ng-if="pc.payCode.id===0">
											<div class="col-sm-6" ng-show="pc.payCode.id===0"><input class="form-control" ng-model="pc.payCode.hourlyRate" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" convert-to-decimal ng-disabled="item.loadFromTimesheets"/></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc.screenHours" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="item.loadFromTimesheets"/></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc.screenOvertime" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="item.loadFromTimesheets"/></div>
										</div>
									</div>

								</div>
								<div class="row" ng-if="listitem.employee.payType===1">
									<div class="col-sm-12">
										<div class="row alert-success">
											<div class="col-sm-6">Pay Code / Pay Rate</div>
											<div class="col-sm-3">Hours</div>
											<div class="col-sm-3">Overtime</div>
										</div>
										<div class="row" ng-repeat="pc in listitem.payCodes | orderBy:'payCode.id'">
											<div class="col-sm-6" ng-show="pc.payCode.id>0">{{pc.payCode.description }} ({{pc.payCode.rateType===1 ? (pc.payCode.hourlyRate | currency:'$') : (pc.payCode.hourlyRate + ' x' + (listitem.employee.rate | currency:'$'))}} per hour)</div>
											<div class="col-sm-6" ng-show="pc.payCode.id===0"><input class="form-control" ng-model="pc.payCode.hourlyRate" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-type="number" convert-to-decimal ng-disabled="item.loadFromTimesheets"/></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc.screenHours" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="item.loadFromTimesheets"/></div>
											<div class="col-sm-3"><input class="form-control" ng-model="pc.screenOvertime" required data-parsley-pattern="/^[0-9]+((\.[0-9]{1,2})|(\:[0-5][0-9]{0,1})?)$/" ng-disabled="pc.payCode.rateType===2 || item.loadFromTimesheets"/></div>
										</div>
									</div>

								</div>
							</td>
							<td data-title=" 'EFT' " class="col-sm-1">
								<label></label>
								<div ng-show="listitem.employee.paymentMethod>1">
									<label for="eft{{listitem.employee.employeeIntId}}" class="switch">
										Force Check?
										<input id="eft{{listitem.employee.employeeIntId}}" type="checkbox" ng-model="listitem.forcePayCheck" /><i></i>
									</label>
								</div>
							</td>
							<td data-title=" 'Notes' " class="col-sm-2">
								<input type="text" class="form-control" ng-model="listitem.notes" tabindex="-1" />
							</td>
							<td data-title=" '' " class="col-sm-1">
								<a class="btn btn-success btn-icon btn-circle btn-lg" ng-click="showcomps(listitem)" tabindex="-1" title="Compensations"><i class="fa fa-arrow-circle-o-up"></i></a>
								<a class="btn btn-danger btn-icon btn-circle btn-lg" ng-click="showdeds(listitem)" tabindex="-1" title="Deductions"><i class="fa fa-arrow-circle-o-down"></i></a>
								
							</td>
						</tr>

					</table>


				</div>
				

				<script type="text/ng-template" id="custom/pager">

				</script>
				
			</div>

		</form>
	</div>

</div>

