 <div class="row">
	<!-- begin panel -->
	<script type="text/ng-template" id="popover/confirmcopy.html">
		<div class="modal-header">

		</div>
		<div class="modal-body">
			<div class="alert alert-{{type}}">
				<pre class="alert alert-{{type}}">{{message}}</pre>
			</div>
		</div>
		<div class="modal-footer text-center">
			<div class="row">
				<button type="button" class="btn btn-sm btn-primary pull-center" data-ng-click="ok(1)">
					<span class="glyphicon glyphicon-check"></span> Use - Profile Rates <i class="fa fa-lg fa-question-circle text-default"></i>
				</button>
				<button type="button" class="btn btn-sm btn-info pull-center" data-ng-click="ok(2)">
					<span class="glyphicon glyphicon-check"></span> Use - Copied Payroll Rates <i class="fa fa-lg fa-question-circle text-default"></i>
				</button>
				<button type="button" class="btn btn-sm btn-default pull-center" data-ng-click="cancel()">
					<span class="glyphicon glyphicon-remove-circle"></span> Cancel <i class="fa fa-lg fa-question-circle text-default"></i>
				</button>
			</div>
			<div class="row alert alert-warning" ng-if="type==='danger'">
				All activities are logged in the system.
			</div>
		</div>

	</script>
	<div class="panel panel-inverse hidden-print" data-sortable-id="form-stuff-4" ng-if="mainData.selectedCompany && mainData.selectedCompany.contract">
		<div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Payroll List<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div class="row hidden-print">
				<report-filter filter="data.reportFilter" callback="getPayrollList()" show-dates="true" show-periods="true" defaults-provided="true" />
			</div>
			<div ng-show="list.length===0 && !selected && !processed && !committed" class="table table-bordered">
				No payrolls found
			</div>
			<div  ng-if="data.loadedForPayrollsWithoutInvoice" class="row text-center p-5">
				<strong><em>Payrolls Without or With Draft Invoice</em></strong>
			</div>
			<div ng-show="list.length>0" ng-if="!data.loadedForPayrollsWithoutInvoice" class="row text-center p-5">
				<strong><em>Payrolls <span ng-show="data.reportFilter.filterStartDate || data.reportFilter.filterEndDate"> ({{data.reportFilter.filterEndDate ? '' : 'From'}} {{data.reportFilter.filterStartDate? (data.reportFilter.filterStartDate | date:'MM/dd/yyyy') : 'Till'}}{{data.reportFilter.filterEndDate? ' - ' + (data.reportFilter.filterEndDate | date:'MM/dd/yyyy') : ''}} )</span></em></strong>
			</div>
			<div class="row" ng-show="list.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="item in tableData | orderBy:['-payDay','-maxCheckId'] track by $index" class="mouse-over-pointer" ng-click="set(item)" ng-class="getClass(item)">
						<td data-title=" 'Pay Date' " sortable=" 'payDay' " class="col-sm-1 text-center">
							{{item.payDay | date:'MM/dd/yyyy'}} ({{item.taxPayDay | date:'MM/dd/yyyy'}})
						</td>
						<td data-title=" 'Start Date' " sortable=" 'startDate' " class="col-sm-1 text-center">
							{{item.startDate | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" 'End Date' " sortable=" 'endDate' " class="col-sm-1 text-center">
							{{item.endDate | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" '# of Checks' " sortable=" 'payChecks.length' " class="col-sm-1 text-center">
							{{item.payChecks.length }}
						</td>

						<td data-title=" 'Gross Wage' " sortable=" 'totalGrossWage' " class="col-sm-1 text-center show-red">
							{{item.totalGrossWage | currency:'$'}}
						</td>
						<td data-title=" 'Net Wage' " sortable=" 'totalNetWage' " class="col-sm-1 text-center show-red">
							{{item.totalNetWage | currency:'$'}}
						</td>

						<td data-title=" 'Invoice #' " sortable=" 'invoiceNumber' " class="col-sm-1 text-center" ng-show="showInvoices()">
							{{item.invoiceNumber}}
						</td>
						<td data-title=" 'Invoice Status' " sortable=" 'invoiceStatusText' " class="col-sm-1 text-center" ng-show="showInvoices()">
							{{item.invoiceStatusText}} <i class="fa fa-pause" style="color:red" ng-if="item.taxesDelayed"></i>
						</td>
						<td data-title=" 'Invoice Total' " sortable=" 'total' " class="col-sm-1 text-center" ng-show="showInvoices()">
							{{item.total | currency:'$'}}
						</td>
						<td data-title=" 'Processed By' " sortable=" 'userName' " class="col-sm-1 text-center">
							{{item.userName}} ({{item.lastModified | date:'MM/dd/yyyy hh:mm a'}})
						</td>
						<td data-title=" 'Status' " sortable=" 'statusText' " class="col-sm-1 text-center">
							{{item.isQueued ? "Queued ( #" + item.queuePosition + " )" : item.statusText}} <i class="fa fa-dollar" style="color:green" ng-if="item.hasACH"></i>&nbsp;<i class="fa fa-upload" style="color:green" ng-if="item.hasExtracts"></i>
						</td>
						<td class="col-sm-1 text-right" ng-if="showInvoices()">
							<button class="btn btn-xs btn-danger" ng-click="deleteDraftPayroll($event, item)" ng-show="item.status===6" title="Delete"><i class="fa fa-lg fa-fire"></i></button>
							<button class="btn btn-xs btn-info" ng-click="reProcessReConfirmPayroll($event, item)" ng-show="!item.isQueued && item.canReConfirm && item.totalGrossWage>0 && data.canReProcessReConfirm && item.status!==6 && item.status>2" title="re-process payroll"><i class="fa fa-lg fa-recycle"></i></button>
							<button class="btn btn-xs btn-danger" ng-click="deletePayroll($event, item)" ng-show="item.status!==6 && item.canDelete && data.showDeletePayroll" title="Delete"><i class="fa fa-lg fa-remove"></i></button>
							<button class="btn btn-xs btn-danger" ng-click="voidPayroll($event, item)" ng-show="!item.isQueued && item.totalGrossWage>0 && data.showVoidPayroll && item.status!==6 && item.status>2" title="void payroll"><i class="fa fa-lg fa-ban"></i></button>

							<button class="btn btn-xs btn-info" ng-click="viewInvoice($event, item)" ng-show="item.invoiceId && data.showInvoice" title="view invoice"><i class="fa fa-lg fa-eye"></i></button>
							<button class="btn btn-xs btn-warning" ng-click="createInvoice($event, item)" ng-show="!item.invoiceId &&!item.isQueued && item.totalGrossWage>0 && item.status>2 && item.status!==6" title="create invoice"><i class="fa fa-lg fa-edit"></i></button>
							<button class="btn btn-xs btn-success" ng-click="copyPayroll($event, item)" ng-show="canRunPayroll()" title="copy to new"><i class="fa fa-lg fa-copy"></i></button>
						</td>
					</tr>

				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
			<div class="row">
				<button class="btn btn-sm btn-primary" ng-show="canRunPayroll()" id="test" ng-click="add()">Add</button>
				<pre class="alert alert-danger" ng-if="data && mainData.selectedCompany && mainData.selectedCompany.contract.billingOption===3 && !mainData.selectedCompany.contract.invoiceSetup">This company is set up to be invoiced but there are no configurations available.</pre>
				<pre class="alert alert-danger" ng-if="data && mainData.selectedCompany && data.startingCheckNumber>0 && requiresCompanyPayrollAccount()">Please set a Payroll Account in COA secton</pre>
				<pre class="alert alert-danger" ng-if="data && mainData.selectedCompany && data.startingCheckNumber>0 && requiresHostPayrollAccount()">Please set a Payroll Account in COA secton for the Host. this is a PEO/ASO Co Check Client</pre>
				<pre class="alert alert-danger" ng-if="data && data.startingCheckNumber>0 && data.employees.length===0">No Employees have been set up for this company</pre>
				<pre class="alert alert-danger" ng-if="data && mainData.selectedCompany.contract.invoiceSetup.invoiceType!==3 && mainData.selectedCompany.workerCompensations.length===0">No Workers Compensations set up for this company</pre>
			</div>

			<!-- end panel -->
		</div>
	</div>
	
	<div class="panel panel-info hidden-print" ng-if="mainData.selectedCompany && selected">
		<div class="panel-heading">
			<h4 class="panel-title">Payroll Step 1</h4>
		</div>
		<div class="panel-body tab-content">
			<form data-parsley-validate="true" name="payrollstep1">
				<payroll item="selected" datasvc="data" company="mainData.selectedCompany" />
			</form>
		</div>

	</div>
	<div class="panel panel-info hidden-print" ng-if="mainData.selectedCompany && processed">
		<div class="panel-heading">
			<h4 class="panel-title">Payroll Details - Payroll Step 2</h4>
		</div>
		<div class="panel-body tab-content">
			<payroll-processed item="processed" datasvc="data" company="mainData.selectedCompany" main-data="mainData" />
		</div>
	</div>
	<div class="panel panel-info hidden-print" ng-if="mainData.selectedCompany && committed">
		<div class="panel-heading">
			<h4 class="panel-title">Payroll Details</h4>
		</div>
		<div class="panel-body tab-content">
			<payroll-processed item="committed" datasvc="data" company="mainData.selectedCompany" main-data="mainData" />
		</div>
	</div>
	<div class="panel panel-info" id="invoice" >
		<div class="panel-heading hidden-print" ng-if="mainData.selectedCompany && selectedInvoice">
			<h4 class="panel-title">Invoice Details</h4>
		</div>
		<div class="panel-body tab-content" ng-if="mainData.selectedCompany && selectedInvoice">
			<form data-parsley-validate="true" name="invoice">
				<payroll-invoice invoice="selectedInvoice" datasvc="data" host="mainData.selectedHost" main-data="mainData" show-controls="true" />
			</form>
		</div>
	</div>



	
</div>


