<div class="row">
	<!-- begin panel -->
	<div class="panel panel-inverse hidden-print" data-sortable-id="form-stuff-4">
		<div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
			<h4 class="panel-title">Invoice List<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.isBodyOpen, 'glyphicon-chevron-right': !data.isBodyOpen}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.isBodyOpen">
			<div ng-show="list.length===0 && !selectedInvoice" class="table table-bordered">
				No payrolls found
			</div>
			<div class="row" ng-show="list.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="set(item)" ng-class="{'success':selectedInvoice.id===item.id, 'danger':selectedIvoice.daysOverdue>15, 'warning': selectedInvocie.daysOverdue>5 && selectedInvocie.daysOverdue<16}">
						<td data-title=" 'Company' " filter="{ 'companyName': 'text' }" sortable=" 'companyName' " class="col-sm-1 text-center">
							{{item.companyName}}
						</td>
						<td data-title=" 'Invoice Date' " sortable=" 'invoiceDate' " class="col-sm-1 text-center">
							{{item.invoiceDate | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" 'Days Overdue' " sortable=" 'daysOverdue' " class="col-sm-1 text-center">
							{{item.daysOverdue}}
						</td>
						<td data-title=" 'Late Tax Penalty (Appx)' " sortable=" 'lateTaxPenalty' " class="col-sm-1 text-center show-red">
							{{item.lateTaxPenalty | currency : '$'}}
						</td>

						<td data-title=" 'Total' " sortable=" 'total' " class="col-sm-1 text-center show-red">
							{{item.total | currency:'$'}}
						</td>
						<td data-title=" 'Balance' " sortable=" 'balance' " class="col-sm-1 text-center show-red">
							{{item.balance | currency:'$'}}
						</td>
						<td data-title=" 'Status' " filter="{'status1':'status'}" sortable=" 'statusText' " class="col-sm-1 text-center">
							{{item.statusText}}
						</td>
						<td data-title=" 'Submitted By' " sortable=" 'submittedBy' " class="col-sm-1 text-center">
							{{item.submittedBy}}
						</td>
						<td data-title=" 'Submitted' " sortable=" 'submittedBy' " class="col-sm-1 text-center">
							{{item.submittedOn | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" 'Delivered By' " sortable=" 'deliveredBy' " class="col-sm-1 text-center">
							{{item.deliveredBy}}
						</td>
						<td data-title=" 'Delivered On' " sortable=" 'deliveredOn' " class="col-sm-1 text-center">
							{{item.deliveredOn | date:'MM/dd/yyyy'}}
						</td>
						<td data-title=" 'Courier' " sortable=" 'courier' " class="col-sm-1 text-center">
							{{item.courier}}
						</td>
						

					</tr>

				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
							</div>
						</li>
					</ul>
				</script>
				<script type="text/ng-template" id="ng-table/filters/status.html">
					<select id="statuslist" class="form-control" ng-model="params.filter()[name]" name="filter-status1" convert-to-number>
						<option value="0">All</option>
						<option value="1">Draft</option>
						<option value="2">Approved</option>
						<option value="3">Delivered</option>
						<option value="3">Delivered</option>
						<option value="4">Closed</option>
						<option value="6">Payment Bounced</option>
						<option value="7">Partial Payment</option>
					</select>
				</script>
			</div>

			<!-- end panel -->
		</div>
	</div>
	<div class="panel panel-info" ng-if="selectedInvoice">
		<div class="panel-heading hidden-print">
			<h4 class="panel-title">Invoice Details</h4>
		</div>
		<div class="panel-body tab-content">
			<form data-parsley-validate="true" name="invoice">
				<payroll-invoice invoice="selectedInvoice" datasvc="data" host="mainData.selectedHost" main-data="mainData" />
			</form>
		</div>
	</div>
	
	
</div>


