<div class="col-sm-12">
	<div class="col-sm-12 m-t-10 m-b-10 hidden-print" ng-if="invoice.id && showControls">
		<uib-progressbar class="progress-striped" value="getProgressBarValue()" ng-type="getProgressType()"><b>{{item.statusText}}</b></uib-progressbar>

	</div>
	<div class="col-sm-12 hidden-print" ng-if="invoice.status>2">
		<div class="col-sm-12">
			<div class="col-sm-4 form-group">
				<label>Total</label>
				<span>{{invoice.total | currency:'$'}}</span>
			</div>
			<div class="col-sm-4 form-group">
				<label>Balance</label>
				<span>{{invoice.balance | currency:'$'}}</span>
			</div>
			<div class="col-sm-4 form-group">
				<label>Status</label>
				<span>{{invoice.statusText}}</span>
			</div>
		</div>
		<div class="col-sm-12 panel-default">
			<div class="panel-heading"><strong>Payments Received</strong></div>
		</div>
		<div class="col-sm-12">
			<table class="table table-invoice">
				<thead>
					<tr>
						<th class="col-sm-2">Deposit Date</th>
						<th class="col-sm-1">Type</th>
						<th class="col-sm-2">Check Number</th>
						<th class="col-sm-2">Amount</th>
						<th class="col-sm-3">Notes</th>
						<th class="col-sm-2">
							<i class="fa fa-lg fa-plus-circle" ng-click="addPayment()" ng-show="paymentRemaining()"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="payment in invoice.invoicePayments track by $index">
						<td ng-show="isPaymentEditable(payment)">
							<date-ctrl name="paydate" required="true" model="payment.paymentDate" />
						</td>
						<td ng-show="!isPaymentEditable(payment)">
							{{payment.paymentDate | date:'MM/dd/yyyy'}}
						</td>
						<td>
							<select class="form-control" ng-model="payment.method" convert-to-number ng-show="isPaymentEditable(payment)" required>
								<option value="1">Check</option>
								<option value="2">Cash</option>
								<option value="3">Cert Fund</option>
								<option value="4">Corp Check</option>
								<option value="5">ACH</option>
							</select>
							<span ng-show="!isPaymentEditable(payment)">{{payment.statusText}}</span>
						</td>
						<td>
							<input type="number" class="form-control" ng-model="payment.checkNumber" ng-show="(payment.method===1 || payment.method===4) && isPaymentEditable(payment)" ng-required="payment.method===1" />
							<span ng-show="(payment.method===1 || payment.method===4) && !isPaymentEditable(payment)">{{payment.checkNumber}}</span>
						</td>
						<td>
							<input class="form-control" name="amount{{$index}}" ng-model="payment.amount" convert-to-decimal data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" data-parsley-trigger="blur" step="0.01" ng-show="isPaymentEditable(payment)" ng-max="paymentRemaining()" />
							<span ng-show="!isPaymentEditable(payment)">{{payment.amount | currency:'$'}}</span>
						</td>
						<td>
							<input class="form-control" type="text" ng-model="payment.notes" ng-show="isPaymentEditable(payment)" />
							<span ng-show="!isPaymentEditable(payment)">{{payment.notes}}</span>
						</td>
						<td>
							<div class="label label-success" ng-if="payment.status===3 && !payment.marker">Paid</div>
							<div class="label label-danger" ng-if="payment.status===4 && !payment.marker">Bounced</div>

							<label class="label label-success" ng-if="payment.status===3 && payment.marker">Will be marked Paid when saved</label>
							<label class="label label-danger" ng-if="payment.status===4 && payment.marker">Will be marked Bounced when saved</label>

							<button class="btn btn-xs btn-danger" ng-click="payment.status=4; payment.marker=true;unsavedPayments=true" ng-show="(payment.method===1 || payment.method===5) && payment.status===2">Bounced?</button>
							<button class="btn btn-xs btn-success" ng-click="payment.status=3; payment.marker=true;unsavedPayments=true" ng-show="payment.status===2">Paid?</button>
							<i class="fa fa-remove fa-lg" ng-click="deletepayment($index);unsavedPayments=true" ng-show="isPaymentEditable(payment) && showControls"></i>
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-8 invoice" id="print">
			<div class="col-sm-12 hidden-print" ng-show="showControls">
				<div class="col-sm-2 form-group" ng-show="!mainData.userCompany && invoice.status===2">
					<select name="courier" ng-model="invoice.courier" class="form-control pull-right" ng-options="ctx for ctx in data.config.couriers">
						<option value="">Select Courier</option>
					</select>
					
				</div>
				<div class="col-sm-2 form-group" ng-show="!mainData.userCompany && invoice.status===5">
					<date-ctrl name="redate" model="data.reDate" disabled="false" />
				</div>
				<div class="col-sm-2 show-red" ng-if="unsavedPayments">changes will apply when you save</div>
				<div class="col-sm-10">
					<button class="btn btn-sm btn-success pull-left" ng-click="saveWithStatus(3)" ng-disabled="!invoice.courier" ng-show="!mainData.userCompany && invoice.status===2"><i class="fa fa-truck m-r-5"></i> Delivered</button>
					<button class="btn btn-sm btn-danger pull-left" ng-click="delayTaxes()" ng-show="!mainData.userCompany && invoice.status>2 && invoice.status!==5 && invoice.status!==4"><i class="fa fa-pause m-r-5"></i> Delay Taxes</button>
					<button class="btn btn-sm btn-danger pull-left" ng-click="reDateInvoicePayroll()" ng-disabled="!data.reDate" ng-show="!mainData.userCompany && invoice.status===5"><i class="fa fa-play m-r-5"></i> Re-Date</button>


					<button class="btn btn-sm btn-info pull-right" ng-click="print()" ng-show="invoice.status>1"><i class="fa fa-print m-r-5"></i> print</button>
					<button class="btn btn-sm btn-danger pull-right" ng-click="delete()" ng-show="!mainData.userCompany && invoice.status===1"><i class="fa fa-recycle m-r-5"></i> Delete</button>
					<button class="btn btn-sm btn-default pull-right" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>

					<button class="btn btn-sm btn-success pull-right" ng-click="saveWithStatus(2)" ng-show="!mainData.userCompany && invoice.status<2" ng-disabled="isInvoiceInvalid()"><i class="fa fa-check m-r-5"></i> Approve</button>

					<button class="btn btn-sm btn-primary pull-right" ng-click="save()" ng-show="!mainData.userCompany && isInvoiceEditable()" ng-disabled="isInvoiceInvalid()"><i class="fa fa-save m-r-5"></i> Save</button>
					<button class="btn btn-sm btn-info pull-right" ng-click="recreate()" ng-show="invoice.status===1 && !mainData.userCompany && isInvoiceEditable()" ng-disabled="isInvoiceInvalid()"><i class="fa fa-refresh m-r-5"></i> Refresh</button>
					


				</div>
			</div>
			<div class="alert alert-warning hidden-print" ng-if="data.companyUpdated">
				Changes made to company invoice set up will not fully take affect until you refresh
			</div>
			<div class="col-sm-12 table-responsive">
				<table class="table table-borderless" >
					<tr>
						<td class="col-sm-7">
							<img ng-src="{{getHostLogo()}}" err-src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="width:200px;height:40px" /><br />
							<span class="printspan">
								<h5>{{invoice.company.name}}<i class="fa fa-lg fa-info-circle hidden-print" ng-click="showcompany()"></i></h5>
							</span>
							{{invoice.company.companyAddress.addressLine1}}<br />
							{{invoice.company.companyAddress.city}}, CA {{invoice.company.companyAddress.zip}}{{invoice.company.companyAddress.zipExtension? ' - ' + invoice.company.companyAddress.zipExtension : ''}}<br />
							{{ getContactPhone(data.companyContact) }}<br />
							{{ data.companyContact.firstName + ' ' + data.companyContact.lastName}}
						</td>
						<td class="text-right col-sm-5" ng-class="{'visible-print': invoice.status===1}">
							<div class="invoice-detail">Invoice# {{invoice.invoiceNumber}}</div>
							<div class="date m-t-5 text-bold"><h5>{{invoice.invoiceDate | date:'MM/dd/yyyy'}}</h5></div>
							<div class="invoice-detail">
								No. of Checks: {{invoice.noOfChecks}}
							</div>
							<div class="invoice-detail">
								Payroll Pay Day: {{invoice.payrollPayDay | date:'MM/dd/yyyy'}}
							</div>
							<div class="invoice-detail">
								Payroll Pay Period: {{invoice.periodStart | date:'MM/dd/yyyy'}} - {{invoice.periodEnd | date:'MM/dd/yyyy'}}
							</div>
							<div class="invoice-detail">
								Check Pay: {{invoice.checkPay | currency:'$'}}
							</div>
							<div class="invoice-detail">
								DD Pay: {{invoice.ddPay | currency:'$'}}
							</div>
							<div class="invoice-detail">
								Net Pay: {{invoice.netPay | currency:'$'}}
							</div>
							
							
						</td>
						<td class="text-right hidden-print col-sm-5" ng-if="invoice.status===1">
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Invoice Date <span class="text-danger">*</span></label></div>
								<div class="col-sm-6">{{invoice.invoiceDate | date:'MM/dd/yyyy'}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Invoice Number <span class="text-danger">*</span></label></div>
								<div class="col-sm-6"><input type="text" ng-model="invoice.invoiceNumber" class="form-control" required /></div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Number of Checks</label></div>
								<div class="col-sm-6 text-left">{{invoice.noOfChecks}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Payroll Pay Date</label></div>
								<div class="col-sm-6 text-left">{{invoice.payrollPayDay | date:'MM/dd/yyyy'}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Payroll Pay Period</label></div>
								<div class="col-sm-6 text-left">{{invoice.periodStart | date:'MM/dd/yyyy'}} - {{invoice.periodEnd | date:'MM/dd/yyyy'}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Check Pay</label></div>
								<div class="col-sm-6 text-left">{{invoice.checkPay | currency:'$'}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">DD Pay</label></div>
								<div class="col-sm-6 text-left">{{invoice.ddPay | currency:'$'}}</div>
							</div>
							<div class="col-sm-12 form-group">
								<div class="col-sm-6 "><label class="control-label text-right">Total Net Pay</label></div>
								<div class="col-sm-6 text-left">{{invoice.netPay | currency:'$'}}</div>
							</div>
						</td>
					</tr>

				</table>
			</div>
			
			<div class="col-sm-12 table-responsive">
				<table class="table table-invoice">
					<thead>
						<tr>
							<th class="col-sm-4">DESCRIPTION</th>
							<th class="col-sm-2">Basis</th>
							<th class="col-sm-2">Rate</th>
							<th class="col-sm-2">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{'info': invoice.companyInvoiceSetup.invoiceType===1, 'hidden-print': invoice.companyInvoiceSetup.invoiceType!==1}" style="height:5px;">
							<td><em><u>Gross Payroll</u></em></td>
							<td></td>
							<td></td>
							<td class="text-right"><em><u>{{invoice.grossWages | currency:'$'}}</u></em></td>
						</tr>
						<tr ng-class="{'info': invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType!==2}">
							<td>
								<i class="fa fa-lg hidden-print" ng-class="{'fa-minus-circle': invoice.expandedEE, 'fa-plus-circle':!invoice.expandedEE}" ng-click="invoice.expandedEE=!invoice.expandedEE"></i>
								<em><u>Employee Contribution</u></em>
							</td>
							<td></td>
							<td></td>
							<td class="text-right"><em><u>{{invoice.employeeContribution | currency:'$'}}</u></em></td>
						</tr>
						<tr ng-show="invoice.expandedEE" class="hidden-print" ng-repeat="ee in invoice.employeeTaxes | orderBy:'tax.id'">
							<td> - {{ee.tax.name}}</td>
							<td>{{ee.taxableWage | currency:'$'}}</td>
							<td></td>
							<td class="text-left">{{ee.amount | currency:'$'}}</td>
						</tr>
						<tr ng-if="invoice.companyInvoiceSetup.invoiceStyle===1" ng-class="{'info': invoice.companyInvoiceSetup.invoiceType===1 || invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType > 2}">
							<td colspan="3">
								<i class="fa fa-lg hidden-print" ng-show="invoice.companyInvoiceSetup.invoiceStype!==2" ng-class="{'fa-minus-circle': invoice.expandedER, 'fa-plus-circle':!invoice.expandedER}" ng-click="invoice.expandedER=!invoice.expandedER"></i>
								<em>
									<u>
										Employer Contribution<br />
										(Included Social Security, Medicare, FUTA, SUTA/SUI Management)
									</u>
								</em>
							</td>

							<td class="text-right"><em><u>{{invoice.employerContribution | currency:'$'}}</u></em></td>
						</tr>
						<tr ng-if="invoice.companyInvoiceSetup.invoiceStyle===2" ng-class="{'info': invoice.companyInvoiceSetup.invoiceType===1 || invoice.companyInvoiceSetup.invoiceType===2, 'hidden-print': invoice.companyInvoiceSetup.invoiceType>2}">
							<td colspan="3"><em><u>Employer Contributions</u></em></td>
							<td class="text-right"><em><u>{{invoice.employerContribution | currency:'$'}}</u></em></td>
						</tr>
						<tr ng-show="invoice.companyInvoiceSetup.invoiceStyle===2 || invoice.expandedER" ng-repeat="et in invoice.employerTaxes | orderBy:'tax.id'">
							<td> - {{et.tax.name}}</td>
							<td>{{et.taxableWage | currency:'$'}}</td>
							<td><span class="hidden-print" ng-show="et.tax.isCompanySpecific">{{et.tax.rate | currency:'$'}}</span></td>
							<td class="text-left">{{et.amount | currency:'$'}}</td>
						</tr>
						<tr ng-if="invoice.workerCompensations.length>0" class="info">
							<td><em><u>Worker Compensations</u></em></td>
							<td colspan="2">
								<label for="fileUnderHost" class="switch hidden-print">
									Apply Min Gross Wage Limits?
									<input id="fileUnderHost" type="checkbox" ng-model="invoice.applyWCMinWageLimit" ng-change="updateWC()" /><i></i>
								</label>
							</td>
							<td class="text-right"><em><u>{{invoice.workerCompensationCharges | currency:'$'}}</u></em></td>
						</tr>

						<tr ng-repeat="wc in invoice.workerCompensations | orderBy:'tax.id'" ng-if="invoice.workerCompensations.length>0">
							<td>{{wc.workerCompensation.code + ': ' + wc.workerCompensation.description}}</td>
							<td>{{wc.wage | currency:'$'}}</td>
							<td>{{wc.workerCompensation.rate | currency:''}}%</td>
							<td class="text-left">{{wc.amount | currency:'$'}}</td>
						</tr>
						<tr class="info">
							<td colspan="3"><strong>Fee(s) & Charge(s) & Credit(s) <i class="fa fa-lg fa-plus-circle" ng-click="addLineItem()" ></i></strong></td>
							<td class="text-right"><em><u>{{getLineItemTotal() | currency:'$'}}</u></em></td>
						</tr>

						<tr ng-if="invoice.adminFee > 0">
							<td>ADMINISTRATION FEE</td>
							<td></td>
							<td>{{ invoice.companyInvoiceSetup.adminFeeMethod===1 ? '$' : ''}}{{invoice.companyInvoiceSetup.adminFee | currency:''}}{{ invoice.companyInvoiceSetup.adminFeeMethod===1 ? '' : '%'}}</td>
							<td>{{invoice.adminFee | currency:'$'}}</td>

						</tr>
						<tr ng-if="invoice.environmentalFee > 0">
							<td>Environmental FEE</td>
							<td></td>
							<td>{{invoice.environmentalFee/invoice.noOfChecks | currency:'$'}} per check</td>
							<td>{{invoice.environmentalFee | currency:'$'}}</td>

						</tr>
						<tr ng-repeat="lineitem in invoice.miscCharges track by $index" ng-class="{'danger': lineitem.amount<0}">
							<td>
								<div class="input-group hidden-print" ng-show="isInvoiceEditable()">
									<i class="fa fa-remove fa-lg input-group-addon" ng-click="deletelineitem($index, lineitem)"></i>
									<input class="form-control" type="text" ng-model="lineitem.description" required ng-show="lineitem.isEditable" />
									<span class="input-group-addon form-control" ng-show="!lineitem.isEditable">{{lineitem.description}}</span>

								</div>
								<span class="visible-print">{{lineitem.description}}</span>
							</td>
							<td><span ng-show="lineitem.recurringChargeId>0">{{lineitem.previouslyClaimed | currency:'$'}}</span></td>
							<td></td>
							<td class="text-left">
								<input name="lineamount{{$index}}" class="form-control hidden-print" ng-show="isInvoiceEditable() && lineitem.isEditable" style="width:7em;" ng-model="lineitem.amount" required data-parsley-pattern="/^-?[0-9]+(\.[0-9]{1,2})?$/" data-parsley-trigger="blur" data-parsley-type="number" />
								<span ng-show="(invoice.status>1 && !isInvoiceEditable()) || !lineitem.isEditable" class="hidden-print">{{lineitem.amount | currency:'$'}}</span>
								<span class="visible-print">{{lineitem.amount | currency:'$'}}</span>
							</td>

						</tr>

						<tr class="success">

							<td colspan="3" class="text-left"><em><u>Grand Total</u></em></td>

							<td class="text-right"><em><u>{{ getTotal() | currency:'$'}}</u></em></td>

						</tr>
						<tr class="hidden-print">
							<td colspan="4" ng-if="invoice.status<2 || isInvoiceEditable()">
								<div class="form-group">
									<label>Notes</label>
									<textarea class="form-control" ng-model="invoice.notes" rows="4"></textarea>
								</div>
							</td>
							<td ng-if="!isInvoiceEditable()">
								<em><u>Notes: </u></em>
							</td>
							<td ng-if="!isInvoiceEditable()">
								{{invoice.notes}}
							</td>
						</tr>
						<tr class="visible-print" ng-show="invoice.notes">
							<td colspan="4" style="border:1px solid black">
								<em><u>Notes: </u></em>
								<div ng-bind-html="invoice.notes"></div>
							</td>
							
						</tr>

					</tbody>
				</table>
				<div class="invoice-footer text-muted">
					<p class="text-center m-b-5">
						{{host.company.businessAddress.addressLine1}} {{host.company.businessAddress.addressLine2}}
					</p>
					<p class="text-center">
						<span class="m-r-10"><i class="fa fa-globe"></i> http://{{host.url}}.hrmaxx.com</span>
						<span class="m-r-10"><i class="fa fa-phone"></i> T:{{ getContactPhone(data.hostContact) }}</span>
						<span class="m-r-10"><i class="fa fa-envelope"></i> {{data.hostContact.email}}</span>
					</p>
				</div>
				<div class="col-sm-12 hidden-print" ng-show="showControls">
					<div class="col-sm-2 form-group">
						<select name="courier" ng-model="invoice.courier" class="form-control pull-right" ng-show="!mainData.userCompany && invoice.status===2" ng-options="ctx for ctx in data.config.couriers">
							<option value="">Select Courier</option>
						</select>
					</div>
					<div class="col-sm-10">
						<button class="btn btn-sm btn-success pull-left" ng-click="saveWithStatus(3)" ng-disabled="!invoice.courier" ng-show="!mainData.userCompany && invoice.status===2"><i class="fa fa-truck m-r-5"></i> Delivered</button>

						<button class="btn btn-sm btn-info pull-right" ng-click="print()" ng-show="invoice.status>1"><i class="fa fa-print m-r-5"></i> print</button>
						<button class="btn btn-sm btn-danger pull-right" ng-click="delete()" ng-show="!mainData.userCompany && invoice.status===1"><i class="fa fa-recycle m-r-5"></i> Delete</button>
						<button class="btn btn-sm btn-default pull-right" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>

						<button class="btn btn-sm btn-success pull-right" ng-click="saveWithStatus(2)" ng-show="!mainData.userCompany && invoice.status<2" ng-disabled="isInvoiceInvalid()"><i class="fa fa-check m-r-5"></i> Approve</button>

						<button class="btn btn-sm btn-primary pull-right" ng-click="save()" ng-show="!mainData.userCompany && isInvoiceEditable()" ng-disabled="isInvoiceInvalid()"><i class="fa fa-save m-r-5"></i> Save</button>
						<button class="btn btn-sm btn-info pull-right" ng-click="recreate()" ng-show="invoice.status===1 && !mainData.userCompany && isInvoiceEditable()" ng-disabled="isInvoiceInvalid()"><i class="fa fa-refresh m-r-5"></i> Refresh</button>

					</div>
				</div>

			</div>

		</div>
		<div class="col-sm-4  hidden-print" ng-show="!mainData.userCompany && showControls">
			<div class="col-sm-12 m-l-20" ng-if="invoice.id">
				<comment-list source-type-id="2" source-id="invoice.companyId" list="invoice.comments" heading="'Internal Notes'" />
			</div>
			<div class="col-sm-12 m-l-20" id="versions" ng-if="invoice.id" ng-show="mainData.userRole==='Master'">
				<memento-list main-data="mainData" source-type-id="data.sourceTypeId" memento-id="invoice.id" heading="'Invoice Versions'" />
			</div>
		</div>

	</div>
	
</div>

