<div class="row">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-4" ng-if="mainData.selectedCompany">
        <div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
            <h4 class="panel-title">{{heading}}</h4>
        </div>
        <div class="panel-body">
            <div ng-show="list.length===0 " class="table table-bordered">
                {{'No ' + heading + ' found'}}
            </div>
            <div class="row" ng-show="list.length>0">
                <table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
                    <tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-class="{'success':selected.id===item.id}">
                        <td data-title="' No'" class="col-sm-1">
                            {{$index+1}}
                        </td>
                        <td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-3">
                            {{item.name}}
                        </td>
                        <td data-title=" 'Serial No' " filter="{ 'serialNo': 'text' }" sortable=" 'serialNo' " class="col-sm-2">
                            {{item.serialNo}}
                        </td>
                        <td data-title=" 'Type' " class="col-sm-1" sortable="'type'">
                            {{item.type===1? 'Product' : 'Service'}}
                        </td>
                        <td data-title=" 'Cost Price' " class="col-sm-2" sortable=" 'costPrice' ">
                            {{item.costPrice | currency:'$'}}
                        </td>
                        <td data-title=" 'Sale Price' " sortable="'salePrice'" class="col-sm-2">
                            {{item.salePrice | currency:'$'}}
                        </td>
                        <td data-title=" 'Taxable?' " class="col-sm-2">
                            <input type="checkbox" class="checkbox-css" ng-model="item.isTaxable" disabled="disabled"/>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-icon btn-circle btn-lg" ng-click="set(item)"><i class="fa fa-eye"></i></a>

                        </td>
                    </tr>

                </table>
                <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
                            </div>
                        </li>
                    </ul>
                </script>
            </div>
            <div class="row">
                <a class="btn btn-primary btn-icon btn-circle btn-lg" ng-show="!selected" ng-click="add()"><i class="fa fa-plus"></i></a>
            </div>

            <!-- end panel -->
        </div>
    </div>

</div>


