<div class="row">
	<div class="col-sm-10 col-sm-offset-1" style="background-color:lightgray">
		<div class="row p-10">
			<div class="col-sm-8 text-bold" style="color: darkgreen">
				<div class="col-sm-12">
					{{company.name}}
				</div>
				<div class="col-sm-12">
					{{company.companyAddress.addressLine1}}
				</div>
				<div class="col-sm-12">
					{{company.companyAddress.city}}, CA {{company.companyAddress.zip}}{{company.companyAddress.zipExtension? ' - ' + company.companyAddress.zipExtension : ''}}
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<div class="col-sm-6"><label class="control-label">Check No.<span class="text-danger">*</span></label></div>
					<div class="col-sm-6"><label ng-show="item.paymentMethod">EFT</label><input type="number" ng-model="item.checkNumber" ng-disabled="item.id" ng-show="!item.paymentMethod" class="form-control" required data-parsley-pattern="/^[1-9][0-9]{2,5}$/" data-parsley-type="number" step="1" /></div>

				</div>


			</div>
		</div>
		<div class="row p-10">
			<div class="col-sm-8"></div>
			<div class="col-sm-4">
				<div>
					<div class="col-sm-6"><label class="control-label">Check Date:<span class="text-danger">*</span></label></div>
					<div class="col-sm-6">
						<date-ctrl name="startdate" required="true" model="item.transactionDate" disabled="item.id" />
					</div>
				</div>
			</div>
		</div>
	
		<div class="row p-10 form-group">
			<div class="col-sm-8">
				<div class="col-sm-2">
					<label>Pay to the Order of</label>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-10 text-bold">
						<input type="text" placeholder="Vendor/Customer Name" ng-blur="payeeSelected()" ng-disabled="item.id" ng-model="data.selectedPayee" uib-typeahead="customer as customer.name for customer in data.allPayees | filter:$viewValue" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<div class="col-sm-6"><label class="control-label">Amount: <span class="text-danger">*</span></label></div>
					<div class="col-sm-6">{{item.amount | currency:'$'}}</div>
				</div>
			</div>
		</div>
		<div class="row p-10 form-group" ng-if="item.amount">
			<div class="col-sm-8">
				<div class="col-sm-8">
					<label><em>{{item.amount | words}}</em></label>	
				</div>
				
			</div>
		</div>
		<div class="row p-10 form-group">
			<div class="col-sm-8">
				<div class="col-sm-2">
					<label >Memo: </label>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-10">
						<input type="text" ng-model="item.memo" class="form-control" required />	
					</div>
					
				</div>
			</div>
		</div>


	</div>
	<div class="col-sm-10 col-sm-offset-1" ng-show="showControls">
		<button class="btn btn-sm btn-default pull-right m-5" ng-click="cancel()"><i class="fa fa-remove m-r-5"></i> Cancel</button>
		<button class="btn btn-sm btn-primary pull-right m-5" ng-click="save()" ng-disabled="isCheckInValid()" ng-show="!item.isVoid"><i class="fa fa-save m-r-5"></i> Save</button>
		<button class="btn btn-sm btn-success pull-right m-5" ng-click="print()" ng-show="item.id && !item.isVoid && !hasChanged()"><i class="fa fa-print m-r-5"></i>print</button>
		<button class="btn btn-sm btn-warning pull-right m-5" ng-click="void()" ng-show="item.id && !item.isVoid">void</button>
	</div>
	<div class="col-sm-10 col-sm-offset-1" >
		<table class="table table-header table-bordered table-condensed form-controls input-sm">
			<thead>
				<tr>
					<th class="col-sm-5">Account</th>
					<th class="col-sm-2">Amount</th>
					<th class="col-sm-4">Memo</th>
					<th class="col-sm-1" ng-show="showControls"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="jd in item.journalDetails | filter:{accountId:'!'+item.mainAccountId} track by $index" ng-class="{'success':!jd.isDebit, 'danger':jd.isDebit}">
					<td>
						<span e-ng-change="jd.account=$data; jd.accountId = $data.id; jd.accountName = $data.accountName"  editable-select="jd.account" e-name="account" e-form="rowform" e-ng-options="a.accountName for a in data.companyAccounts track by a.id">
							{{ jd.accountId? jd.accountName : '' }}
						</span>
					</td>
					<td>
						<span e-ng-change="jd.amount = $data" editable-number="jd.amount" e-name="amount" e-ng-disabled="item.id" e-form="rowform" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
							{{ jd.amount }}
						</span>
					</td>
					<td>
						<!-- editable comment (text with validation) -->
						<span editable-text="jd.memo" e-name="memo" e-form="rowform" e-ng-change="jd.memo = $data" e-style="width:30em;">
							{{ jd.memo }}
						</span>
					</td>
					<td style="white-space: nowrap" ng-show="showControls">
						<!-- form -->
						<form editable-form id="rowform" name="rowform" onbeforesave="saveJournalDetail(jd)" class="form-buttons form-inline" shown="selectedjd===jd" ng-show="!item.isVoid">
							<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setselectedjd(jd)">
								edit
							</button>
							<button type="submit" ng-disabled="rowform.$waiting || !isJournalDetailValid(jd)" ng-show="rowform.$visible" class="btn btn-success">
								save
							</button>
							<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();canceljd($index)" class="btn btn-default">
								cancel
							</button>
						</form>
					</td>

				</tr>
				<tr ng-show="!selectedjd  && !item.isVoid">
					<td colspan="3">
						<span ng-show="item.journalDetails.length===0">No items found</span>
					</td>

					<td ng-show="showControls">
						<button type="button" ng-click="addJournalDetail()" class="btn btn-primary">
							Add
						</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

