<div class="table-responsive col-sm-10 col-sm-offset-1">
	<div class="row">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<table class="table table-header table-bordered form-controls input-sm">
		<thead>
			<tr>
				<td class="col-sm-4">Description</td>
				<td class="col-sm-3">Reminder in (days)</td>
				<td class="col-sm-3">Month &amp; Day</td>

				<td class="col-sm-1" ng-show="showControls"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list track by $index">
				
				<td>
					<span e-ng-change="item.description = $data" editable-text="item.description" e-name="description" e-form="rowform">
						{{ item.description }}
					</span>
				</td>
				<td>
					<span e-ng-change="item.reminderDays = $data" editable-number="item.reminderDays" e-name="reminder" e-form="rowform" e-ng-pattern="/^[0-9]{1,2}[:.,-]?$/" e-style="width:10em">
						{{ item.reminderDays }}
					</span>
				</td>
				<td>
					<span e-ng-change="item.month = $data;" editable-select="item.month" e-name="month" e-form="rowform" e-ng-options="m.id as m.name for m in data.months">
						{{ getMonthName(item.month) }}
					</span>
					<span e-ng-change="item.day = $data" editable-text="item.day" e-name="day" e-form="rowform" e-ng-disabled="!item.month" e-ng-pattern="/([1-9]|[12]\d|3[01])/">
						{{ item.day }}
					</span>
				</td>
				

				<td style="white-space: nowrap" ng-show="showControls">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected===item">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-lg btn-primary btn-icon btn-circle" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-pencil"></i>
						</button>
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-lg btn-success btn-icon btn-circle">
							<i class="fa fa-check"></i>
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-lg btn-default btn-icon btn-circle">
							<i class="fa fa-undo"></i>
						</button>
					</form>
				</td>

			</tr>
			<tr ng-show="!selected">
				<td colspan="4">
					<span ng-show="list.length===0">No items found</span>
					<button type="button" ng-click="add()" class="btn btn-lg btn-primary  btn-icon btn-circle" ng-show="showControls">
						<i class="fa fa-plus"></i>
					</button>
				</td>

			</tr>
			
		</tbody>
	</table>
</div>
