<div class="table-responsive col-sm-8 col-sm-offset-2">
	<div class="row">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
	<table class="table table-header table-bordered table-condensed form-controls input-sm">
		<thead>
			<tr>
				<td class="col-sm-3">Year</td>
				<td class="col-sm-3">Code</td>
				<td class="col-sm-3">Rate %</td>
				<td class="col-sm-3"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list track by $index">
				<td>
					<span>
						{{ item.taxYear }}
					</span>
				</td>
				<td>
					<span >
						{{ item.taxCode }}
					</span>
				</td>
				<td>
					<!-- editable comment (text with validation) -->
					<span editable-number="item.rate" e-name="rate" e-form="rowform" e-ng-change="item.rate = $data" e-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" e-step="0.01" e-style="width:10em;">
						{{ item.rate }} %
					</span>
				</td>
				<td style="white-space: nowrap">
					<!-- form -->
					<form editable-form id="rowform" name="rowform" onbeforesave="save(item)" class="form-buttons form-inline" shown="selected===item">
						<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
							<i class="fa fa-edit m-r-5"></i> edit
						</button>
						<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(item)" ng-show="rowform.$visible" class="btn btn-success">
							<i class="fa fa-save m-r-5"></i> save
						</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancel($index)" class="btn btn-default">
							<i class="fa fa-remove m-r-5"></i> cancel
						</button>
					</form>
				</td>
				
			</tr>
			<tr ng-show="!selected">
				<td colspan="4">
					<span ng-show="list.length===0">No items found</span>
				</td>

			</tr>
			
		</tbody>
	</table>
</div>
