<div class="row col-sm-12">
	<div class="row">
		<div class="form-group col-sm-6">
			<label for="addressline1">Street Address</label>
			<input type="text" id="addressline1" name="addressline1" class="form-control" placeholder="Address Line 1" ng-model="data.addressLine1" required ng-disabled="showDisabled" data-parsley-group="{{valGroup}}" />

		</div>
		<div class="form-group col-sm-6">
			<label for="city">City</label>
			<input type="text" id="city" class="form-control" placeholder="City" ng-model="data.city" ng-disabled="showDisabled" />

		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 row">
			<div class="form-group  col-sm-4">
				<label for="country">Country</label>
				<select id="country" class="form-control" name="country" placeholder="country" ng-change="countrySelected()" ng-disabled="(data && countries.length===1) || showDisabled" ng-model="data.selectedCountry" ng-options="country.countryName for country in countries track by country.countryId" required data-parsley-group="{{valGroup}}">
					<option value="">Please select...</option>
				</select>
			</div>
			<div class="form-group  col-sm-5">
				<label for="state">State</label>
				<select id="state" class="form-control" name="state" placeholder="state" required ng-model="data.selectedState" ng-change="stateSelected()" ng-disabled="showDisabled" ng-options="state.stateName for state in availableStates track by state.stateId" data-parsley-group="{{valGroup}}">
					<option value="">Please select...</option>
				</select>
			</div>
			<div class="form-group col-sm-3" ng-if="data.selectedState.hasCounties">
				<label for="city">County</label>
				<input type="text" id="county" class="form-control" placeholder="County" ng-model="data.county" ng-required="data.selectedState.hasCounties" />

			</div>

		</div>
		<div class="col-sm-6">
			<div class="form-group col-sm-6">
				<label for="zip">Zip</label>
				<input type="text" id="zip" class="form-control" name="zip" data-parsley-type="number" data-parsley-trigger="blur" data-parsley-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" ng-disabled="showDisabled" required placeholder="Zip Code" ng-model="data.zip" data-parsley-group="{{valGroup}}" />

			</div>
			<div class="form-group col-sm-6">
				<label for="city">Zip Extension</label>
				<input type="text" id="zipextension" name="zipextension" class="form-control" placeholder="Zip Extension" data-parsley-type="number" ng-model="data.zipExtension" ng-disabled="showDisabled" data-parsley-pattern="/^\d{4}$/" data-parsley-group="{{valGroup}}" />

			</div>

		</div>
	</div>
	
</div>