	<div class="row">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="form-stuff-4">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" ng-click="isChangePassword = !isChangePassword"><i class="fa fa-times"></i></a>
				</div>
				<h4 class="panel-title">{{heading}}</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
				</div>

				<div ng-show="list.length===0 && !selectedContact">
					No records found
				</div>
				<div class="row" ng-show="list.length>0">
					<table ng-table="tableParams" id="grdContacts" class="table" show-filter="true" template-pagination="custom/pager">
						<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="setSelectedContact(item)" ng-class="{'success':selectedContact===item}">
							<td data-title="' No'" class="col-sm-1">
								{{$index+1}}
							</td>
							<td data-title=" 'Name' " filter="{ 'fullName': 'text' }" sortable=" 'fullName' " class="col-sm-3">
								{{item.fullName}}
							</td>
							<td data-title=" 'Email' " filter="{ 'email': 'text' }" sortable=" 'email' " class="col-sm-2">
								{{item.email}}
							</td>
							<td data-title=" 'Phone' " filter="{ 'phone': 'text' }" sortable=" 'phone' " class="col-sm-1">
								{{item.phone}}
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-primary" ng-click="setSelectedContact(item)">View</button>
								<button type="button" class="btn btn-sm btn-danger" ng-click="delete(item)">Delete</button>
							</td>
						</tr>

					</table>
					<script type="text/ng-template" id="custom/pager">
						<ul class="pager ng-cloak">
							<li ng-repeat="page in pages"
									ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
									ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
								<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
								<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
							</li>
							<li>
								<div class="btn-group">
									<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
									<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
									<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
									<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
								</div>
							</li>
						</ul>
					</script>
				</div>
				<div class="row" >
					<button class="btn btn-sm btn-primary" ng-show="!selectedContact" ng-click="addNewContact()">Add</button>
				</div>
				<div class="row col-sm-6" ng-if="selectedContact">
					<form name="contactForm" novalidate>
						<contact data="selectedContact" sourcetypeid="sourceTypeId" sourceid="sourceId" type="type" />
						<div class="row pull-right">
							<button type="button" class="btn btn-sm btn-primary" ng-click="save()">Save</button>
							<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
						</div>
					</form>
				</div>
				
				
			</div>
		</div>
		<!-- end panel -->
	</div>
	

