<div class="input-group">
	<input name="{{name}}" type="text" class="form-control input-sm" uib-datepicker-popup="MM/dd/yyyy" ng-model="model" is-open="data.opened" 
		   datepicker-options="{
					minDate: min ? min : '01/01/1920',
					maxDate: max ? max : '12/31/2050',
					startingDay: 0,
					showWeeks: false,
				}" ng-required="required" close-text="Close" 
		   alt-input-formats="altInputFormats" ng-pattern="/^(0?[1-9]|1[0-2])\/(0?[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/" 
		   ng-disabled="disabled" ng-class="{'parsley-error': !isValid()}" />
	<span class="input-group-addon" ng-if="!disabled">
		<i class="fa fa-calendar" ng-click="open($event)"></i>
	</span>
	
</div>