	<div class="row">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="form-stuff-4">
			<div class="panel-heading">
				<h4 class="panel-title">{{heading}}</h4>
			</div>
			<div class="panel-body">
				<div ng-show="list.length===0 && !selectedContact">
					No Users found
				</div>
				<div class="col-sm-6" >
					<div class="row" ng-show="list.length>0">
						<table ng-table="tableParams" id="grdContacts" class="table" show-filter="true" template-pagination="custom/pager">
							<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-click="setSelectedUser(item)" ng-class="{'success':selectedUser===item}">
								<td data-title=" 'UserName' " filter="{ 'userName': 'text' }" sortable=" 'userName' " class="col-sm-2">
									{{item.userName}}
								</td>
								<td data-title=" 'Email' " filter="{ 'email': 'text' }" sortable=" 'email' " class="col-sm-2">
									{{item.email}}
								</td>
								<td data-title=" 'First Name' " filter="{ 'firstName': 'text' }" sortable=" 'firstName' " class="col-sm-2">
									{{item.firstName}}
								</td>
								<td data-title=" 'Last Name' " filter="{ 'lastName': 'text' }" sortable=" 'lastName' " class="col-sm-2">
									{{item.lastName}}
								</td>
								<td data-title=" 'Phone' " filter="{ 'phone': 'text' }" sortable=" 'phone' " class="col-sm-1">
									{{item.phone}}
								</td>
								<td data-title=" 'Active' " sortable=" 'active' " class="col-sm-1">
									{{item.active? 'Active' : 'Not Active'}}
								</td>
								<td data-title=" 'Access Level' " sortable=" 'role.roleName' " class="col-sm-1">
									{{item.role.roleName}}
								</td>
								<td>
									<button type="button" class="btn btn-xs btn-default" ng-click="setSelectedUser(item)"><i class="fa fa-eye"></i></button>

								</td>
							</tr>

						</table>
						<script type="text/ng-template" id="custom/pager">
							<ul class="pager ng-cloak">
								<li ng-repeat="page in pages"
										ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
										ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
									<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
									<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
								</li>
								<li>
									<div class="btn-group">
										<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
										<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
										<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
										<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
									</div>
								</li>
							</ul>
						</script>
					</div>
					
					<div class="row" ng-show="!selectedContact">
						<button class="btn btn-sm btn-primary" ng-show="!selectedUser" ng-click="addNewUser()">Add</button>
					</div>
				</div>
				
				<div class="col-sm-6" data-sortable-id="form-slider-switcher-2" ng-if="selectedUser">
					<pre ng-show="!selectedUser.userId">New User</pre>
					<form name="userform" class="form-horizontal" novalidate>
						<fieldset>
							<div class="form-group">
								<label class="col-md-4 control-label">User Name</label>
								<div class="col-md-8">
									<input type="text" name="username" placeholder="User Name" class="form-control" ng-model="selectedUser.subjectUserName" ng-maxlength="20" ng-required ng-pattern="/^[a-zA-Z0-9]*$/" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">First Name</label>
								<div class="col-md-8">
									<input type="text" name="firstname" placeholder="First Name" class="form-control" ng-model="selectedUser.firstName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Last Name</label>
								<div class="col-md-8">
									<input type="text" name="lastname" placeholder="Last Name" class="form-control" ng-model="selectedUser.lastName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Email <i class="fa fa-envelope"></i></label>
								<div class="col-md-8">
									<input type="text" name="email" placeholder="Email" class="form-control" ng-model="selectedUser.email" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Phone <i class="fa fa-mobile"></i></label>
								<div class="col-md-8">
									<input type="text" name="phone" placeholder="Email" class="form-control" ng-model="selectedUser.phone" ui-mask="(999) 999-9999" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Access Level <i class="fa fa-users"></i></label>
								<div class="col-md-8">
									<select id="roles" class="form-control" ng-change="roleChanged()" ng-model="selectedUser.role" ng-options="m.roleName for m in data.roles | filter:{show:true} track by m.roleId"></select>
								</div>
							</div>
							<div class="form-group" ng-if="selectedUser.host || selectedUser.role.roleId<51">
								<label class="col-md-4 control-label">Host</label>
								<div class="col-md-8">
									<select id="host" class="form-control" ng-change="hostSelected()" ng-model="data.selectedHost" ng-options="host1.name for host1 in data.hosts track by host1.id" ng-disabled="hostId"></select>
								</div>
							</div>
							<div class="form-group" ng-if="selectedUser.company || selectedUser.role.roleId<31">
								<label class="col-md-4 control-label">Company</label>
								<div class="col-md-8">
									<select id="company" class="form-control" ng-disabled="!data.selectedHost || companyId" ng-change="companySelected()" ng-model="data.selectedCompany" ng-options="c.name for c in data.filteredCompanies track by c.id"></select>
								</div>
							</div>
							<div class="form-group" ng-if="selectedUser.companyId && selectedUser.role.roleId<1">
								<label class="col-md-4 control-label">Employee</label>
								<div class="col-md-8">
									<select id="employee" class="form-control" ng-disabled="!data.selectedCompany || employeeId" ng-change="employeeSelected()" ng-model="data.selectedEmployee" ng-options="c.name for c in data.filteredEmployees track by c.id"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Active <i class="fa fa-question-circle"></i></label>
								<div class="col-sm-8">
									<label for="active" class="switch">
										<input id="active" type="checkbox" ng-model="selectedUser.active"/><i></i>
									</label>
								</div>
							</div>
						</fieldset>

						<div class="row pull-right">
							<button type="button" class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!validateUser()">Save</button>
							<button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
							<button type="button" class="btn btn-sm btn-danger" ng-click="resetPassword()" ng-show="showResetPassword && selectedUser.userId">Reset Password</button>

						</div>
					</form>
					<table class="table table-bordered table-condensed" ng-show="selectedUser.role">
						<thead>
							<tr>
								<th colspan="3">User Accesses (*click on tick/cross to toggle access)</th>
							</tr>
							<tr>
								<th>Feature</th>
								<th>Access</th>
								<th><button class="btn btn-xs btn-primary" ng-click="includeAll()">include all</button></th>
							</tr>
						</thead>
						<tr ng-repeat="access in data.userAccessList">
							<td>{{access.featureName}}</td>
							<td>{{access.claimName}}</td>
							<td>
								<i class="fa fa-lg" ng-disabled="selectedUser.role.roleId<access.accessLevel" ng-click="access.hasAccess=!access.hasAccess" ng-class="{'fa-check': selectedUser.role.roleId>=access.accessLevel && access.hasAccess, 'fa-remove': selectedUser.role.roleId>=access.accessLevel && !access.hasAccess, 'fa-ban':access.accessLevel>selectedUser.role.roleId}" ng-style="(access.hasAccess && selectedUser.role.roleId>=access.accessLevel && {'color':'green'}) || (!access.hasAccess && selectedUser.role.roleId>=access.accessLevel && {'color': 'red'}) || (selectedUser.role.roleId<access.accessLevel && {'color': 'orange'})"></i>
							</td>
						</tr>
					</table>
				</div>
				
				
			</div>
		</div>
		<!-- end panel -->
	</div>
	

