.dropdown-menu.media-list {
	width: 500px!important;
	max-width: 500px !important;
}
.detailBox {
  border: 1px solid #bbb;
	margin-bottom: 1em;
	
}
.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}
.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}
.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}
.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
  width: 80%;
}
.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
  width: 18%;
}
.actionBox .form-group * {
  width: 100%;
}
.taskDescription {
  margin-top: 10px 0;
}
.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}
.commentList li {
  margin: 0;
  margin-top: 10px;
}
.commentList li > div {
  display: table-cell;
}
.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
}
.commenterImage img {
  width: 100%;
  border-radius: 50%;
}
.commentText p {
  margin: 0;
}
.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}
.actionBox {
  border-top: 1px dotted #bbb;
  padding: 10px;
}


.switch input {
    display: none;
}
.switch i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
}
.switch i:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
    padding-right: 0;
    padding-left: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px green;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px green;
}

.switch.red :checked + i {
    box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 0 40px red;
}




div.thumbnail .glyphicon {
  position: absolute;
  top: 0;
  right: 0;
}
img.photoThumbnail {
  height: 103px;
  width: 137px;
  padding: 10px;
}
.drop-box {
  background: #F8F8F8;
  border: 2px dashed #DDD;
  width: 100%;
  height: 140px;
  text-align: center;
}
.drop-box.has-error {
  border: 2px dashed red;
}
.drop-box .question-files {
  text-align: left;
  height: 100%;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
}
.drop-box .question-files ol {
  list-style-type: none;
}
.drop-box .question-files ol li {
  float: left;
}
.drop-box .file-upload-icon {
  opacity: 0.5;
  font-size: 2em;
}
.drop-box.dragover {
  border: 5px dashed blue;
}
.drop-box.dragover-err {
	border: 5px dashed red;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #2f4050;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #1ab394;
}
.thumbnail .caption {
  padding: 9px;
  color: #333333;
}
.has-error.form-control {
    border-color: #ff5b57!important;
	border-width: 2px!important;
}
.show-red {
	color: red;
}
.table th {
            background-color: #1ab394!important;
            color: #ffffff!important;
        }
.table-invoice th {
            background-color: transparent!important;
            color: darkgray!important;
        }

label {
	font-weight: bold;
	color: gray;
}

