@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="common">
	<news-list audience-type-id="1" audience-id="null" heading="'News & Announcements'" fetch="true" show-audience-list="true" />
</div>



