<div class="col-sm-12">
	<div class="panel panel-inverse">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===1?0:1)">
			<h4 class=" panel-title">
				Comapny Tax Rates - California by year<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===1, 'glyphicon-chevron-right': data.openedRack!==1}"></i></h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===1">
			<div class="row m-5">
				<div class="col-sm-3">
					<select ng-model="data.selectedYear" ng-change="getCompanyTaxRates()" class="form-control" convert-to-number ng-options="year for year in data.years track by year">
						<option value=""> select year</option>
					</select>
				</div>
			</div>
			<div class="row m-5" >
				<span ng-show="list.length===0 && data.selectedYear">No Records found <br /></span>
				<button ng-show="data.selectedYear && data.selectedYear>data.currentYear && !data.importInProcess" class="btn btn-sm btn-success attach-button pull-left" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
					<i class="fa fa-upload"></i>Import Tax Rates
				</button>
				<button class="btn btn-sm btn-info pull-left" ng-click="getCaliforniaEDDExport()"><i class="fa fa-download"></i>EDD Export</button>
			</div>
			<div class="row m-5" ng-show="list.length>0">
				<div class="col-sm-12" ng-show="list.length>0 && data.importInProcess">
					<div class="col-sm-3 alert alert-info">
						Total Imported Company Rates <span class="badge">{{list.length}}</span>
					</div>
					<div class="col-sm-3 alert alert-danger">
						Mismatching Companies <span class="badge">{{companyMisMatch()}}</span>
					</div>
					<div class="col-sm-3 alert alert-warning">
						Default Rates Will be Applied <span class="badge">{{defaultRateCount()}}</span>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-sm btn-default pull-right" ng-click="list=[];data.selectedYear=null">Cancel</button>
						<button class="btn btn-sm btn-primary pull-right" ng-show="companyMisMatch()===0" ng-click="save()">Confirm & Save</button>
					</div>
				</div>
				
				<table class="table table-bordered">
					<thead>
						<tr>
							<th ng-show="data.importInProcess">Imported EDD</th>
							<th>EDD</th>
							<th>Company</th>
							<th>UI%</th>
							<th>ETT%</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="company in list" ng-class="rowColor(company)">
							<td ng-show="data.importInProcess">{{company.edd}}</td>
							<td>{{ company.stateEin }}</td>
							<td>{{company.companyName}}</td>
							<td>{{company.uiRate}}</td>
							<td>{{company.ettRate}}</td>
							<td>{{company.taxYear}}</td>
						</tr>
					</tbody>

				</table>
			</div>
			
		</div>
	</div>
	<div class="panel panel-inverse">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===2?0:2)">
			<h4 class=" panel-title">
				Upload WC Rates<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===2, 'glyphicon-chevron-right': data.openedRack!==2}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===2">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>First Row</label>
						<input class="form-control"
						       type="number"
						       ng-model="importMap.startingRow" required data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
					</div>
					<div class="form-group">
						<table class="table table-header table-bordered table-condensed form-controls input-sm">
							<thead>
								<tr>
									<td class="col-sm-6">Field</td>
									<td class="col-sm-3">Position/Column #</td>
									<td ng-show="!data.importInProcessWC"></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="f in importMap.columnMap track by $index">

									<td>
										<!-- editable tesltra worktype (select-local) -->
										<span e-ng-change="f.key = $data;" editable-select="f.key" e-name="key" e-form="rowform" e-ng-options="field for field in availableColumns($index)">
											{{ f.key }}
										</span>
									</td>
									<td>
										<span editable-number="f.value" e-name="fvalue" e-form="rowform" e-ng-change="f.value = $data" e-ng-pattern="/^[0-9]+?$/" e-step="1" e-style="width:10em;" e-ng-min="1" e-ng-max="importMap.columnCount">
											{{ f.value }}
										</span>
									</td>
									<td style="white-space: nowrap" ng-show="!data.importInProcessWC">
										<!-- form -->
										<form editable-form id="rowform" name="rowform" onbeforesave="saveSelected(f)" class="form-buttons form-inline" shown="selected===f">
											<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
												<i class="fa fa-edit m-r-5"></i>
											</button>
											<button type="button" ng-show="!rowform.$visible" class="btn btn-danger" ng-click="delete($index)">
												<i class="fa fa-recycle m-r-5"></i>
											</button>
											<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(f)" ng-show="rowform.$visible" class="btn btn-success">
												<i class="fa fa-save m-r-5"></i>
											</button>
											<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelSelected(f, $index)" class="btn btn-default">
												<i class="fa fa-remove m-r-5"></i>
											</button>
										</form>
									</td>

								</tr>
								<tr ng-show="!selected">
									<td colspan="3">
										<span ng-show="importMap.columnMap.length===0">No mappings found</span>
									</td>

								</tr>

							</tbody>
						</table>
					</div>
					<div>
						<button ng-show="!data.importInProcessWC" class="btn btn-sm btn-success attach-button pull-left" id="attachments" ng-file-select="onFileSelectWC($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
							<i class="fa fa-upload"></i>Import WC Rates
						</button>
					</div>
						
				</div>
				<div class="col-sm-8">
					<button class="btn btn-sm btn-primary" ng-click="uploadWCRates()" ng-show="data.importInProcessWC"><i class="fa fa-save"> update</i></button>
					<table class="table table-header table-bordered table-condensed form-controls input-sm" ng-show="listWCRates.length>0 && data.importInProcessWC">
						<thead>
							<tr>
								<td class="col-sm-2">Client No</td>
								<td class="col-sm-4">Client Name</td>
								<td class="col-sm-1">Code</td>
								<td class="col-sm-1">Current Rate</td>
								<td class="col-sm-1">Proposed Rate</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="wc in listWCRates track by $index" ng-class="{'danger':!wc.currentRate, 'warning':wc.currentRate && wc.currentRate>wc.proposedRate, 'success':wc.currentRate && wc.currentRate<wc.proposedRate}">
								<td class="col-sm-2">{{wc.clientNo}}</td>
								<td class="col-sm-4">{{wc.companyName}}</td>
								<td class="col-sm-2">{{wc.code}}</td>
								<td class="col-sm-2">{{wc.currentRate ? (wc.currentRate | currency:'$') : 'NA'}}</td>
								<td class="col-sm-2">{{wc.proposedRate | currency:'$'}}</td>
								<td><button class="btn btn-sm btn-danger" ng-click="removeWC(wc, $index)"><i class="fa fa-recycle"></i></button></td>
							</tr>
						</tbody>
					</table>

				</div>
				


			</div>

		</div>
	</div>
	<div class="panel panel-inverse">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===3?0:3)">
			<h4 class=" panel-title">
				Companies by Deposit Schedule<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===3, 'glyphicon-chevron-right': data.openedRack!==3}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===3">

			<div ng-if="companyScheduleList.length===0">
				{{ loadedScheudleList ? 'No companies found' : 'list not loaded yet'}} <button class="btn btn-sm btn-primary" ng-click="loadCompaniesForSchedules()" ng-show="!loadedScheudleList"><i class="fa fa-refresh"></i></button>
			</div>
			<div class="row" ng-show="companyScheduleList.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-class="{'success':selectedCompany.id===item.id}">
						<td data-title="' #'"  class="col-sm-1">
							{{$index + 1}}
						</td>
						<td data-title="' No'" filter="{ 'companyNumber': 'text' }" sortable=" 'companyNumber' " class="col-sm-1">
							{{item.companyNumber}}
						</td>
						<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-3">
							{{item.name}}
						</td>
						
						<td data-title=" 'Last Payroll' " sortable=" 'lastPayrollDate' " class="col-sm-1">
							{{item.lastPayrollDate | date:'MM/dd/yyyy'}}
						</td>

						<td data-title=" 'File Under Host' " sortable=" 'fileUnderHost' " class="col-sm-1">
							{{item.fileUnderHost ? 'Yes' : 'No'}}
						</td>
						<td data-title=" 'Contract Type' " filter="{ 'contractType': 'text' }" sortable=" 'contractType' " class="col-sm-1">
							{{item.contractType}}
						</td>
						<td data-title=" 'Deposit Frequency' " filter="{ 'taxDepositFrequency': 'text' }" sortable=" 'taxDepositFrequency'" class="col-sm-1">
							{{item.taxDepositFrequency}}
						</td>

					</tr>

				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
								<button type="button" ng-class="{'active':params.count() == params.total()}" ng-click="params.count(params.total())" class="btn btn-default btn-sm">All</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
		</div>
</div>
