<div class="col-sm-12">
	<div class="panel panel-inverse">

		<div class="panel-heading" >
			<h4 class="panel-title">Comapny Tax Rates - California by year</h4>

		</div>
		<div class="panel-body" >
			<div class="row m-5">
				<div class="col-sm-3">
					<select ng-model="data.selectedYear" ng-change="getCompanyTaxRates()" class="form-control" convert-to-number ng-options="year for year in data.years track by year">
						<option value=""> select year</option>
					</select>
				</div>
			</div>
			<div class="row" >
				<span ng-show="list.length===0">No Records found <br /></span>
				<button ng-show="data.selectedYear && data.selectedYear>data.currentYear && !data.importInProcess" class="btn btn-sm btn-success attach-button pull-right" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
					<i class="fa fa-upload"></i>Import Tax Rates
				</button>
			</div>
			<div class="row" ng-show="list.length>0">
				<div class="col-sm-12" ng-show="list.length>0 && data.importInProcess">
					<div class="col-sm-3 alert alert-info">
						Total Imported Company Rates <span class="badge">{{list.length}}</span>
					</div>
					<div class="col-sm-3 alert alert-danger">
						Mismatching Companies <span class="badge">{{companyMisMatch()}}</span>
					</div>
					<div class="col-sm-3 alert alert-warning">
						Default Rates Will be Applied <span class="badge">{{defaultRateCount()}}</span>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-sm btn-default pull-right" ng-click="list=[];data.selectedYear=null">Cancel</button>
						<button class="btn btn-sm btn-primary pull-right" ng-show="companyMisMatch()===0" ng-click="save()">Confirm & Save</button>
					</div>
				</div>
				
				<table class="table table-bordered">
					<thead>
						<tr>
							<th ng-show="data.importInProcess">Imported EDD</th>
							<th>EDD</th>
							<th>Company</th>
							<th>UI%</th>
							<th>ETT%</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="company in list" ng-class="rowColor(company)">
							<td ng-show="data.importInProcess">{{company.edd}}</td>
							<td>{{ company.stateEin }}</td>
							<td>{{company.companyName}}</td>
							<td>{{company.uiRate}}</td>
							<td>{{company.ettRate}}</td>
							<td>{{company.taxYear}}</td>
						</tr>
					</tbody>

				</table>
			</div>
			
		</div>
	</div>
</div>
