<div class="col-sm-12">
	<div class="panel panel-inverse  hidden-print">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===1?0:1)">
			<h4 class=" panel-title">
				Comapny Tax Rates - California by year<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===1, 'glyphicon-chevron-right': data.openedRack!==1}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===1">
			<div class="row m-5">
				<div class="col-sm-3">
					<select ng-model="data.selectedYear" ng-change="getCompanyTaxRates()" class="form-control" convert-to-number ng-options="year for year in data.years track by year">
						<option value=""> select year</option>
					</select>
				</div>
			</div>
			<div class="row m-5">
				<span ng-show="list.length===0 && data.selectedYear">No Records found <br /></span>
				<button ng-show="data.selectedYear && data.selectedYear>=data.currentYear && !data.importInProcess" class="btn btn-sm btn-success attach-button pull-left" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
					<i class="fa fa-upload"></i>Import Tax Rates
				</button>
				<button class="btn btn-sm btn-info pull-left" ng-click="getCaliforniaEDDExport()"><i class="fa fa-download"></i>EDD Export</button>
			</div>
			<div class="row m-5" ng-show="list.length>0">
				<div class="col-sm-12" ng-show="list.length>0 && data.importInProcess">
					<div class="col-sm-3 alert alert-info">
						Total Imported Company Rates <span class="badge">{{list.length}}</span>
					</div>
					<div class="col-sm-3 alert alert-danger">
						Mismatching Companies <span class="badge">{{companyMisMatch()}}</span>
					</div>
					<div class="col-sm-3 alert alert-warning">
						Default Rates Will be Applied <span class="badge">{{defaultRateCount()}}</span>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-sm btn-default pull-right" ng-click="list=[];data.selectedYear=null">Cancel</button>
						<button class="btn btn-sm btn-primary pull-right" ng-show="companyMisMatch()===0" ng-click="save()">Confirm & Save</button>
					</div>
				</div>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th ng-show="data.importInProcess">Imported EDD</th>
							<th>EDD</th>
							<th>Company</th>
							<th>UI%</th>
							<th>ETT%</th>
							<th>SUI Management Rate</th>
							<th>Year</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="company in list" ng-class="rowColor(company)">
							<td ng-show="data.importInProcess">{{company.edd}}</td>
							<td>{{ company.stateEin }}</td>
							<td>{{company.companyName}}</td>
							<td>{{company.uiRate}}</td>
							<td>{{company.ettRate}}</td>
							<td>{{company.suiManagementRate}}</td>
							<td>{{company.taxYear}}</td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>
	</div>
	<div class="panel panel-inverse  hidden-print">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===2?0:2)">
			<h4 class=" panel-title">
				Upload WC Rates<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===2, 'glyphicon-chevron-right': data.openedRack!==2}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===2">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>First Row</label>
						<input class="form-control"
						       type="number"
						       ng-model="importMap.startingRow" required data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
					</div>
					<div class="form-group">
						<label>Option</label>
						<select ng-model="data.wcImportOption" name="status" class="form-control" convert-to-number>
							<option value="1">Import File As Is</option>
							<option value="2">Import increased rates - Only</option>
						</select>
					</div>
					<div class="form-group">
						<table class="table table-header table-bordered table-condensed form-controls input-sm">
							<thead>
								<tr>
									<td class="col-sm-6">Field</td>
									<td class="col-sm-3">Position/Column #</td>
									<td ng-show="!data.importInProcessWC"></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="f in importMap.columnMap track by $index">

									<td>
										{{f.key}}
									</td>
									<td>
										<span editable-number="f.value" e-name="fvalue" e-form="rowform" e-ng-change="f.value = $data" e-ng-pattern="/^[0-9]+?$/" e-step="1" e-style="width:10em;" e-ng-min="1" e-ng-max="importMap.columnCount">
											{{ f.value }}
										</span>
									</td>
									<td style="white-space: nowrap" ng-show="!data.importInProcessWC">
										<!-- form -->
										<form editable-form id="rowform" name="rowform" onbeforesave="saveSelected(f)" class="form-buttons form-inline" shown="selected===f">
											<button type="button" ng-show="!rowform.$visible" class="btn btn-primary" ng-click="rowform.$show();setSelected($index)">
												<i class="fa fa-edit m-r-5"></i>
											</button>
											<button type="button" ng-show="!rowform.$visible" class="btn btn-danger" ng-click="delete($index)">
												<i class="fa fa-recycle m-r-5"></i>
											</button>
											<button type="submit" ng-disabled="rowform.$waiting || !isItemValid(f)" ng-show="rowform.$visible" class="btn btn-success">
												<i class="fa fa-save m-r-5"></i>
											</button>
											<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelSelected(f, $index)" class="btn btn-default">
												<i class="fa fa-remove m-r-5"></i>
											</button>
										</form>
									</td>

								</tr>
								<tr ng-show="!selected">
									<td colspan="3">
										<span ng-show="importMap.columnMap.length===0">No mappings found</span>
									</td>

								</tr>

							</tbody>
						</table>
					</div>
					<div>
						<button ng-show="!data.importInProcessWC" class="btn btn-sm btn-success attach-button pull-left" id="attachments" ng-file-select="onFileSelectWC($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
							<i class="fa fa-upload"></i>Import WC Rates
						</button>
					</div>

				</div>
				<div class="col-sm-8">
					<button class="btn btn-sm btn-primary" ng-click="uploadWCRates()" ng-show="data.importInProcessWC"><i class="fa fa-save"> update</i></button>
					<table class="table table-header table-bordered table-condensed form-controls input-sm" ng-show="listWCRates.length>0 && data.importInProcessWC">
						<thead>
							<tr>
								<td class="col-sm-2">Client No</td>
								<td class="col-sm-4">Client Name</td>
								<td class="col-sm-1">Code</td>
								<td class="col-sm-1">Current Rate</td>
								<td class="col-sm-1">Proposed Rate</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="wc in listWCRates track by $index" ng-class="{'danger':!wc.currentRate, 'warning':wc.currentRate && wc.currentRate>wc.proposedRate, 'success':wc.currentRate && wc.currentRate<wc.proposedRate}">
								<td class="col-sm-2">{{wc.clientNo}}</td>
								<td class="col-sm-4">{{wc.companyName}}</td>
								<td class="col-sm-2">{{wc.code}}</td>
								<td class="col-sm-2">{{wc.currentRate ? (wc.currentRate | currency:'$') : 'NA'}}</td>
								<td class="col-sm-2">{{wc.proposedRate | currency:'$'}}</td>
								<td><button class="btn btn-sm btn-danger" ng-click="removeWC(wc, $index)"><i class="fa fa-recycle"></i></button></td>
							</tr>
						</tbody>
					</table>

				</div>



			</div>

		</div>
	</div>
	<div class="panel panel-inverse  hidden-print">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===3?0:3)">
			<h4 class=" panel-title">
				Companies by Deposit Schedule<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===3, 'glyphicon-chevron-right': data.openedRack!==3}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===3">

			<div>
				<span ng-if="companyScheduleList.length===0">{{ loadedScheudleList ? 'No companies found' : 'list not loaded yet'}}</span> <button class="btn btn-sm btn-primary" ng-click="loadCompaniesForSchedules()"><i class="fa fa-refresh"></i></button>
			</div>
			<div class="row" ng-show="companyScheduleList.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/pager">
					<tr ng-repeat="item in tableData track by $index" class="mouse-over-pointer" ng-class="{'success':selectedCompany.id===item.id}">
						<td data-title="' #'" class="col-sm-1">
							{{$index + 1}}
						</td>
						<td data-title="' No'" filter="{ 'companyIntId': 'text' }" sortable=" 'companyIntId' " class="col-sm-1">
							{{item.companyIntId}}
						</td>
						<td data-title=" 'Name' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-3">
							{{item.name}}
						</td>

						<td data-title=" 'Last Payroll' " sortable=" 'lastPayrollDate' " class="col-sm-1">
							{{item.lastPayrollDate | date:'MM/dd/yyyy'}}
						</td>

						<td data-title=" 'File Under Host' " sortable=" 'fileUnderHost' " class="col-sm-1">
							{{item.fileUnderHost ? 'Yes' : 'No'}}
						</td>
						<td data-title=" 'Contract Type' " filter="{ 'contractType': 'text' }" sortable=" 'contractType' " class="col-sm-1">
							{{item.contractType}}
						</td>
						<td data-title=" 'Deposit Frequency' " filter="{ 'taxDepositFrequency': 'text' }" sortable=" 'taxDepositFrequency'" class="col-sm-1">
							{{item.taxDepositFrequency}}
						</td>

					</tr>

				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
						<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="" class="marginned">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="" class="marginned">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default btn-sm">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default btn-sm">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default btn-sm">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default btn-sm">100</button>
								<button type="button" ng-class="{'active':params.count() == params.total()}" ng-click="params.count(params.total())" class="btn btn-default btn-sm">All</button>
							</div>
						</li>
					</ul>
				</script>
			</div>
		</div>
	</div>
	<div class="panel panel-inverse  hidden-print">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===4?0:4)">
			<h4 class=" panel-title">
				Semi Weekly Tax Eligibility<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===4, 'glyphicon-chevron-right': data.openedRack!==4}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===4">

			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label>941 Deposit Schedule</label>
						<select ng-model="depositSchedule" name="deposit" class="form-control" convert-to-number>
							<option value="0">Next Day</option>
							<option value="1">Semi-Weekly</option>
							<option value="2">Monthly</option>
							<option value="3">Quarterly</option>

						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Yearly Limit</label>
						<div>
							<input type="number" ng-model="yearlyLimit" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label>Quarterly Limit</label>
						<div>
							<input type="number" ng-model="quarterlyLimit" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<button class="btn btn-sm btn-primary" ng-disabled="!depositSchedule || !yearlyLimit || !quarterlyLimit || yearlyLimit<=0 || quarterlyLimit<=0" ng-click="loadSemiWeeklyEligibilityReport()"><i class="fa fa-search"></i></button>
					</div>

				</div>
			</div>
			<div class="row" ng-show="semiWeeklyEligibilityReport.data.hosts.length>0">
				<table ng-table="tableParams" class="table" show-filter="true" template-pagination="custom/nopager">
					<tr ng-repeat="item in tableDataSWE track by $index" class="mouse-over-pointer">
						<td data-title="' #'" class="text-center col-sm-1">
							{{$index + 1}}
						</td>
						<td data-title=" 'Filing Company' " class=" text-center col-sm-3">
							{{item.hostCompany.name}}
						</td>

						<td data-title=" 'Q4' " class="text-center col-sm-1" ng-class="{'warning' : item.payCheckAccumulation.payCheckWages.quarter4FUTA >= quarterlyLimit}">
							{{item.payCheckAccumulation.payCheckWages.quarter4FUTA | currency:'$'}}
						</td>
						<td data-title=" 'Q3' " class="text-center col-sm-1" ng-class="{'warning' : item.payCheckAccumulation.payCheckWages.quarter3FUTA >= quarterlyLimit}">
							{{item.payCheckAccumulation.payCheckWages.quarter3FUTA | currency:'$'}}
						</td>
						<td data-title=" 'Q2' " class="text-center col-sm-1" ng-class="{'warning' : item.payCheckAccumulation.payCheckWages.quarter2FUTA >= quarterlyLimit}">
							{{item.payCheckAccumulation.payCheckWages.quarter2FUTA | currency:'$'}}
						</td>
						<td data-title=" 'Q1' " class="text-center col-sm-1" ng-class="{'warning' : item.payCheckAccumulation.payCheckWages.quarter1FUTA >= quarterlyLimit}">
							{{item.payCheckAccumulation.payCheckWages.quarter1FUTA | currency:'$'}}
						</td>
						<td data-title=" 'Total' " class="text-center col-sm-1" ng-class="{'danger' : (item.payCheckAccumulation.payCheckWages.quarter1FUTA + item.payCheckAccumulation.payCheckWages.quarter2FUTA + item.payCheckAccumulation.payCheckWages.quarter3FUTA +item.payCheckAccumulation.payCheckWages.quarter4FUTA ) >= yearlyLimit}">
							{{ (item.payCheckAccumulation.payCheckWages.quarter1FUTA + item.payCheckAccumulation.payCheckWages.quarter2FUTA + item.payCheckAccumulation.payCheckWages.quarter3FUTA +item.payCheckAccumulation.payCheckWages.quarter4FUTA ) | currency:'$'}}
						</td>


					</tr>

				</table>

			</div>
		</div>
	</div>
	<div class="panel panel-inverse">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===5?0:5)">
			<h4 class=" panel-title">
				Company Listings<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===5, 'glyphicon-chevron-right': data.openedRack!==5}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===5">

			<div class="row  hidden-print">
				<div class="col-sm-1">
					<div class="form-group">
						<label>Contract</label>
						<select ng-model="data.minWageCriteria.contractType" name="contract" class="form-control" convert-to-number>
							<option value="2">All</option>
							<option value="0">ASO</option>
							<option value="1">PEO</option>

						</select>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Min # of Employees</label>
						<div>
							<input type="number" ng-model="data.minWageCriteria.minEmployeeCount" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Max # of Employees</label>
						<div>
							<input type="number" ng-model="data.minWageCriteria.maxEmployeeCount" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Payroll Year</label>
						<div>
							<input type="number" ng-model="data.minWageCriteria.payrollYear" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Min Wage Criteria</label>
						<div>
							<input type="number" ng-model="data.minWageCriteria.minWage" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>City</label>
						<div>
							<input type="text" name="city" ng-model="data.minWageCriteria.city" class="form-control" />
						</div>
					</div>

				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>Status</label>
						<select ng-model="data.minWageCriteria.statusId" name="statusId" class="form-control" convert-to-number>
							<option value="0">All</option>
							<option value="1">Active</option>
							<option value="2">InActive</option>
							<option value="3">Terminated</option>
						</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label></label>
						<div>
							<label for="showcompanies" class="switch">
								Show only hourly employee companies?
								<input id="showcompanies" type="checkbox" ng-model="data.minWageCriteria.filterHourlyEmployeeCompanies" /><i></i>
							</label>
						</div>
					</div>

				</div>
			</div>
			<div class="row  hidden-print">
				<div class="form-group">
					<button class="btn btn-sm btn-primary" ng-disabled="!data.minWageCriteria.payrollYear" ng-click="loadMinWageEligibilityReport()"><i class="fa fa-search"></i></button>
					<button class="btn btn-sm btn-warning pull-right" ng-show="showRaiseMinWage() && minWageEligibilityReport.length>0 && data.minWageCriteria.contractType!==2 && data.minWageCriteria.minWage>10" ng-click="raiseMinWage()"><i class="fa fa-arrow-up"></i>Raise Min Wage</button>
					<button class="btn btn-sm btn-primary" ng-show="showRaiseMinWage() && minWageEligibilityReport.length>0" ng-click="print()"><i class="fa fa-print"></i>Print</button>
				</div>
			</div>
			<div class="row  hidden-print" ng-show="showRaiseMinWage() && minWageEligibilityReport.length===0">
				No Results Found.
			</div>
			<div class="row" ng-show="minWageEligibilityReport.length>0">
				<table class="table table-bordered, table-condensed col-sm-12">
					<tr>
						<th class="col-sm-1">#</th>
						<th class="col-sm-2">Host</th>
						<th class="col-sm-2">Company</th>
						<th class="col-sm-1">City</th>
						<th class="col-sm-1">Contract</th>
						<th class="col-sm-1">Min-Wage</th>
						<th class="col-sm-1">Active Employees</th>
						<th class="col-sm-1">Paid Employees</th>
						<th class="col-sm-2 hidden-print">Hourly Employees</th>
					</tr>
					<tr ng-repeat="item in minWageEligibilityReport track by $index" ng-class="{'success':item.selected}" ng-click="item.selected=!item.selected">
						<td>{{$index+1}}</td>
						<td>{{item.host}}</td>
						<td>{{item.company}}</td>
						<td>{{item.city}}</td>
						<td>{{item.contractType}}</td>
						<td>{{item.minWage | currency:'$'}}</td>
						<td>{{item.activeEmployeeCount}}</td>
						<td>{{item.paidEmployeeCount}}</td>
						<td class="hidden-print">
							<i ng-show="item.employees.length>0" class="fa" ng-class="{'fa-minus-square':item.expanded, 'fa-plus-square': !item.expanded}" ng-click="item.expanded=!item.expanded">{{item.employees.lenght}}</i>
							<ol ng-show="item.expanded">
								<li ng-repeat="e in item.employees">{{e.fullName}} @ {{e.rate | currency:'$'}}</li>
							</ol>
						</td>
					</tr>
				</table>


			</div>
		</div>
	</div>
	<div class="panel panel-inverse">

		<div class="panel-heading" ng-click="data.openedRack=(data.openedRack===6?0:6)">
			<h4 class=" panel-title">
				Deduction Types <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': data.openedRack===6, 'glyphicon-chevron-right': data.openedRack!==6}"></i>
			</h4>

		</div>
		<div class="panel-body" ng-show="data.openedRack===6">
			<div class="row" ng-show="deductionTypes.length>0">
				<table class="table table-bordered table-condensed" >
					<tr>
						<th>Category</th>
						<th>Name</th>
						<th>W2_12</th>
						<th>W2_13R</th>
						<th>940_R</th>
						<th><a class="btn btn-success btn-icon btn-circle btn-lg" ng-show="!selectedType" ng-click="addDeductionType()"><i class="fa fa-plus"></i></a></th>
					</tr>
					<tr ng-repeat="item in deductionTypes track by $index" class="mouse-over-pointer" ng-class="{'success':selectedType.id===item.id}">
						<td>
							<span e-ng-change="item.categoryOption = $data;" editable-select="item.categoryOption" e-name="type" e-form="rowform" e-ng-options="category.value for category in data.deductionCategories track by category.key">
								{{ item.categoryOption? item.categoryOption.value : '' }}
							</span>
						</td>
						<td>
							<span e-ng-change="item.name = $data" editable-text="item.name" e-name="name" e-form="rowform" >
								{{ item.name }}
							</span>
						</td>
						<td>
							<span e-ng-change="item.w2_12 = $data" editable-text="item.w2_12" e-name="w2_12" e-form="rowform">
								{{ item.w2_12 }}
							</span>
						</td>
						<td>
							<div>
								<label for="w2_13r{{$index}}" class="switch">
									<input id="w2_13r{{$index}}" type="checkbox" ng-model="item.w2_13rVal" ng-disabled="!selectedType" /><i></i>
								</label>
							</div>
						</td>
						<td>
							<span e-ng-change="item.r940_R = $data" editable-text="item.r940_R" e-name="w2_12" e-form="rowform">
								{{ item.r940_R }}
							</span>
						</td>
						<td style="white-space: nowrap">
							<!-- form -->
							<form editable-form id="rowform" name="rowform" onbeforesave="saveDeductionType($index)" class="form-buttons form-inline" shown="selectedType===item">
								<button type="button" ng-show="!rowform.$visible" class="btn btn-lg btn-success  btn-icon btn-circle" ng-click="rowform.$show();setSelectedType($index)">
									<i class="fa fa-edit"></i>
								</button>
								<button type="submit" ng-disabled="rowform.$waiting || !isDeductionTypeValid()" ng-show="rowform.$visible" class="btn btn-lg btn-success  btn-icon btn-circle">
									<i class="fa fa-save"></i>
								</button>
								<button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelDeduction($index)" class="btn btn-lg btn-default  btn-icon btn-circle">
									<i class="fa fa-remove"></i>
								</button>
							</form>
						</td>
					</tr>

				</table>
				
			</div>
		</div>

	</div>
</div>

