<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<add name="DEV" connectionString="Data Source=localhost;Initial Catalog=HrMaxx;User ID=sa;Password=$Monday1" />
		<add name="INTEGRATION_TEST"
		     connectionString="Data Source=localhost;Initial Catalog=HrMaxxTest;User ID=sa;Password=$Monday1" />

		<add name="UAT" connectionString="Server=tcp:hrmaxxserver.database.windows.net,1433;Data Source=hrmaxxserver.database.windows.net;Initial Catalog=HrMaxxUserStore;Persist Security Info=False;User ID=sherjeel;Password=$Monday1;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
		<add name="PROD" connectionString="Data Source=localhost;Initial Catalog=HrMaxxProd;User ID=sa;Password=$Monday1" />

	</connectionStrings>
</configuration>